@import "govuk/base";


.prsd-key-details__container {
  display: flex;
  background-color: govuk-colour("light-grey");
  padding: govuk-spacing(6);
  margin-bottom: govuk-spacing(6);
}

.prsd-key-details__list {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  gap: govuk-spacing(3);
  white-space: nowrap;
  overflow-wrap: normal;
  margin: 0;
}

.prsd-key-details__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.prsd-key-details__key {
  font-weight: bold;
  margin-bottom: govuk-spacing(2);
}

.prsd-key-details__value {
  margin: 0;
}