:root {
    --govuk-colour-red: #d4351c;
    --govuk-colour-light-grey: #f3f2f1;
}

.border-color-red {
    border-color: var(--govuk-colour-red);
}

.prsd-key-details__container {
    display: flex;
}

.prsd-key-details__list {
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
    white-space: nowrap;
    overflow-wrap: normal;
    background-color: var(--govuk-colour-light-grey);
}

.prsd-key-details__column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

