<th:block th:fragment="betaBannerFeedbackForm">
    <th:block id="fieldset-content" th:replace="~{fragments/forms/fieldSet :: fieldSet(~{::#fieldset-content/content()}, 'feedback', #{betaBannerFeedback.heading}, #{betaBannerFeedback.intro})}">
        <form id="feedback-form" method="post" th:action="${feedbackUrl}" th:object="${formModel}" novalidate>
            <div th:replace="~{fragments/forms/errorSummary :: errorSummary()}"></div>
            <input type="hidden" name="referrerHeader" th:value="${referrerHeader}" />
            <div th:replace="~{fragments/forms/textArea :: textArea(#{betaBannerFeedback.label}, 'feedback', #{betaBannerFeedback.hint}, 1200)}"></div>
            <div th:replace="~{fragments/forms/emailInput :: emailInput(#{betaBannerFeedback.emailLabel}, 'email', null)}"></div>
            <button th:replace="~{fragments/buttons/primaryButton :: primaryButton(#{betaBannerFeedback.buttonText})}"></button>
        </form>
    </th:block>
</th:block>
