<th:block th:fragment="betaBannerFeedbackForm">
    <form id="feedback-form" method="post" th:action="@{/beta-banner-feedback}" th:object="${betaFeedbackModel}" novalidate>
        <div id="feedback-form-textarea" class="govuk-form-group">
            <div th:replace="~{fragments/forms/textArea :: textArea(
                #{betaBannerFeedback.label},
                'feedback',
                #{betaBannerFeedback.hint},
                1200
            )}"></div>
        </div>
        <div class="govuk-form-group">
            <div th:replace="~{fragments/forms/emailInput :: emailInput(
                #{betaBannerFeedback.emailLabel},
                'email',
                null
            )}"></div>
        </div>
        <div class="govuk-form-group">
            <button type="submit" class="govuk-button" data-module="govuk-button"
                th:text="#{betaBannerFeedback.buttonText}">
                betaBannerFeedback.buttonText
            </button>
        </div>
    </form>
</th:block>
