<!--/*@thymesVar id="title" type="java.lang.String"*/-->
<!--/*@thymesVar id="formModel" type="java.lang.Object"*/-->
<!--/*@thymesVar id="backUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="sectionHeaderInfo" type="uk.gov.communities.prsdb.webapp.models.viewModels.SectionHeaderViewModel"*/-->
<!--/*@thymesVar id="summaryName" type="java.lang.String"*/-->
<!--/*@thymesVar id="summaryListData" type="java.lang.Object"*/-->
<!--/*@thymesVar id="showWarning" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="submittedFilteredJourneyData" type="java.lang.String"*/-->
<!--/*@thymesVar id="submitButtonText" type="java.lang.String"*/-->
<!DOCTYPE html>
<html id="form-content" th:replace="~{fragments/forms/questionPage :: questionPage(#{${title}}, ${formModel}, ~{::#form-content/content()}, ${backUrl}, ${sectionHeaderInfo})}">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading" th:text="#{forms.checkAnswers.heading}">forms.checkAnswers.heading</h1>
    </legend>
    <h2 class="govuk-heading-m" th:text="#{${summaryName}}"></h2>
    <dl th:replace="~{fragments/summaryList :: summaryList(${summaryListData})}"></dl>
    <th:block th:if="${showWarning}">
        <div th:replace="~{fragments/warningText :: warningText(#{forms.warning})}">forms.update.warning</div>
    </th:block>
    <input type="hidden" name="submittedFilteredJourneyData" th:value="${submittedFilteredJourneyData}"/>
    <button th:replace="~{fragments/buttons/primaryButton :: primaryButton(#{${submitButtonText}})}"></button>
</html>