<!--/*@thymesVar id="title" type="java.lang.String"*/-->
<!--/*@thymesVar id="formModel" type="java.lang.Object"*/-->
<!--/*@thymesVar id="formData" type="java.lang.Object"*/-->
<!--/*@thymesVar id="submitButtonText" type="java.lang.String"*/-->
<!--/*@thymesVar id="backUrl" type="java.lang.String"*/-->
<!DOCTYPE html>
<html>
<th:block id="main-content"
          th:replace="~{fragments/layout :: layout(#{${title}}, ~{::#main-content/content()},false)}">
    <a href="#" th:replace="~{fragments/forms/backLink :: backLink(${backUrl})}">Back link</a>
    <main class="govuk-main-wrapper">

        <div id="page-content"
             th:replace="~{fragments/layouts/twoThirdsLayout :: twoThirdsLayout(~{::#page-content/content()})}">
            <header>
                <h1 class="govuk-heading-l" th:text="#{forms.checkAnswers.heading}">forms.checkAnswers.heading</h1>
                <h2 class="govuk-heading-m" th:text="#{${summaryName}}"></h2>
            </header>

            <form th:action="@{''}" method="post" novalidate th:object="${formModel}">
                <dl th:replace="~{fragments/summaryList :: summaryList(${formData})}"></dl>
                <button th:replace="~{fragments/buttons/primaryButton :: primaryButton(#{${submitButtonText}})}"></button>
            </form>
        </div>
    </main>
</th:block>

</html>