<!DOCTYPE html>
<html>
    <th:block id="main-content"
              th:replace="~{fragments/layout :: layout(#{${messagePrefix + '.title'}}, ~{::#main-content/content()}, false)}">
    <a href="#" th:replace="~{fragments/forms/backLink :: backLink(${backUrl})}">Back link</a>
    <main class="govuk-main-wrapper" id="main-content">
        <div id="page-contents"
             th:replace="~{fragments/layouts/twoThirdsLayout :: twoThirdsLayout(~{::#page-contents/content()})}">
            <h1 class="govuk-heading-l" th:text="#{${messagePrefix + '.checkInvitations.heading'}(${address})}">
                checkInvitations.heading
            </h1>
            <p class="govuk-body" th:text="#{${messagePrefix + '.checkInvitations.body'}}">
                checkInvitations.body
            </p>
            <h2 class="govuk-heading-m"
                th:if="${invitationCount > 1}"
                th:text="#{${messagePrefix + '.checkInvitations.invitations.heading'}(${invitationCount})}">
                checkInvitations.invitations.heading
            </h2>
            <h2 class="govuk-heading-m"
                th:if="${invitationCount == 1}"
                th:text="#{${messagePrefix + '.checkInvitations.invitations.headingSingular'}}">
                checkInvitations.invitations.headingSingular
            </h2>
            <p class="govuk-body" th:text="#{${messagePrefix + '.checkInvitations.invitations.body'}}">
                checkInvitations.invitations.body
            </p>
            <div class="govuk-!-margin-bottom-6">
                <th:block th:each="invitation : ${invitations}">
                    <p class="govuk-body govuk-!-margin-bottom-1" th:text="${invitation.email}">
                        email
                    </p>
                    <p class="govuk-body govuk-!-margin-bottom-0 govuk-hint" th:text="#{${messagePrefix + '.checkInvitations.invitations.sentOn'}(${invitation.sentDate})}">
                        checkInvitations.invitations.sentOn
                    </p>
                    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-3 govuk-!-margin-bottom-3"/>
                </th:block>
            </div>
            <form th:action="@{''}" method="post" novalidate>
                <div class="govuk-button-group">
                    <button th:replace="~{fragments/buttons/primaryButton :: primaryButton(#{forms.buttons.continue})}"></button>
                    <a th:href="@{${cancelUrl}}" class="govuk-link" th:text="#{${messagePrefix + '.checkInvitations.cancelLink'}}">
                        checkInvitations.cancelLink
                    </a>
                </div>
            </form>
        </div>
    </main>
    </th:block>
</html>
