<!--/*@thymesVar id="title" type="java.lang.String"*/-->
<!--/*@thymesVar id="formModel" type="java.lang.Object"*/-->
<!--/*@thymesVar id="backUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="sectionHeaderInfo" type="uk.gov.communities.prsdb.webapp.models.viewModels.SectionHeaderViewModel"*/-->
<!--/*@thymesVar id="epcCardTitle" type="java.lang.String"*/-->
<!--/*@thymesVar id="epcCardActions" type="java.util.List"*/-->
<!--/*@thymesVar id="epcCardRows" type="java.util.List"*/-->
<!--/*@thymesVar id="epcExpiredTextKey" type="java.lang.String"*/-->
<!--/*@thymesVar id="tenancyCheckRows" type="java.util.List"*/-->
<!--/*@thymesVar id="lowRatingTextKey" type="java.lang.String"*/-->
<!--/*@thymesVar id="additionalRows" type="java.util.List"*/-->
<!--/*@thymesVar id="nonEpcRows" type="java.util.List"*/-->
<!--/*@thymesVar id="insetTextKey" type="java.lang.String"*/-->
<!DOCTYPE html>
<html th:replace="~{fragments/forms/complexQuestionPage :: complexQuestionPage(#{${title}}, ${formModel}, ~{::#form-content}, ~{::#question-content}, ${backUrl}, ${sectionHeaderInfo})}">
    <th:block id="question-content">
        <h1 class="govuk-heading-l" th:text="#{propertyCompliance.epcTask.checkEpcAnswers.heading}">Energy performance certificate (EPC)</h1>

        <th:block th:if="${epcCardTitle != null}">
            <div th:replace="~{fragments/summaryCard :: summaryCard(#{${epcCardTitle}}, null, ${epcCardActions}, ${epcCardRows})}"></div>
        </th:block>

        <p th:if="${epcExpiredTextKey != null}" class="govuk-body" th:text="#{${epcExpiredTextKey}}"></p>

        <th:block th:if="${!#lists.isEmpty(tenancyCheckRows)}">
            <dl th:replace="~{fragments/summaryList :: summaryList(${tenancyCheckRows})}"></dl>
        </th:block>

        <p th:if="${lowRatingTextKey != null}" class="govuk-body" th:utext="#{${lowRatingTextKey}}"></p>

        <th:block th:if="${!#lists.isEmpty(additionalRows)}">
            <dl th:replace="~{fragments/summaryList :: summaryList(${additionalRows})}"></dl>
        </th:block>

        <th:block th:if="${!#lists.isEmpty(nonEpcRows)}">
            <dl th:replace="~{fragments/summaryList :: summaryList(${nonEpcRows})}"></dl>
        </th:block>

        <div th:if="${insetTextKey != null}" class="govuk-inset-text">
            <p class="govuk-body" th:text="#{${insetTextKey}}"></p>
        </div>
    </th:block>
    <th:block id="form-content">
        <button th:replace="~{fragments/buttons/primaryButton :: primaryButton(#{forms.buttons.saveAndContinue})}"></button>
    </th:block>
</html>
