<!--/*@thymesVar id="title" type="java.lang.String"*/-->
<!--/*@thymesVar id="formModel" type="java.lang.Object"*/-->
<!--/*@thymesVar id="backUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="sectionHeaderInfo" type="uk.gov.communities.prsdb.webapp.models.viewModels.SectionHeaderViewModel"*/-->
<!--/*@thymesVar id="fieldSetHeading" type="java.lang.String"*/-->
<!--/*@thymesVar id="radioOptions" type="java.lang.Object"*/-->
<!DOCTYPE html>
<html id="form-content" th:replace="~{fragments/forms/questionPage :: questionPage(#{${title}}, ${formModel}, ~{::#form-content/content()}, ${backUrl}, ${sectionHeaderInfo})}">
    <fieldset id="fieldset-content" th:replace="~{fragments/forms/fieldSet :: fieldSet(~{::#fieldset-content/content()}, 'exemptionReason', #{${fieldSetHeading}}, null)}">
        <input th:replace="~{fragments/forms/radios :: radios(null, 'exemptionReason', null, ${radioOptions})}">
    </fieldset>
    <button th:replace="~{fragments/buttons/primaryButton :: primaryButton(#{forms.buttons.saveAndContinue})}"></button>
</html>
