<!--/*@thymesVar id="title" type="java.lang.String"*/-->
<!--/*@thymesVar id="formModel" type="java.lang.Object"*/-->
<!--/*@thymesVar id="backUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="sectionHeaderInfo" type="uk.gov.communities.prsdb.webapp.models.viewModels.SectionHeaderViewModel"*/-->
<!--/*@thymesVar id="pageCaption" type="java.lang.String"*/-->
<!--/*@thymesVar id="fieldSetHeading" type="java.lang.String"*/-->
<!--/*@thymesVar id="radioOptions" type="uk.gov.communities.prsdb.webapp.models.viewModels.formModels.RadiosViewModel"*/-->
<!--/*@thymesVar id="submitButtonText" type="java.lang.String"*/-->
<!--/*@thymesVar id="secondarySubmitButtonText" type="java.lang.String"*/-->
<!--/*@thymesVar id="submitButtonAction" type="java.lang.String"*/-->
<!--/*@thymesVar id="secondarySubmitButtonAction" type="java.lang.String"*/-->
<!--/*@thymesVar id="prsExemptionGuideUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="epcNotRequiredUrl" type="java.lang.String"*/-->
<!DOCTYPE html>
<html id="form-content" th:replace="~{fragments/forms/questionPage :: questionPage(#{${title}}, ${formModel}, ~{::#form-content/content()}, ${backUrl}, ${sectionHeaderInfo})}">
    <th:block id="fieldset-content" th:replace="~{fragments/forms/fieldSet :: fieldSet(~{::#fieldset-content/content()}, 'hasCert', #{${fieldSetHeading}}, null)}">
        <details id="epc-requirements-details" th:replace="~{fragments/details :: details(#{forms.epc.epcRequirements.summary}, ~{::#epc-requirements-details/content()})}">
            <div class="govuk-details__text">
                <section>
                    <h2 class="govuk-heading-s" th:text="#{forms.epc.epcRequirements.advertising.heading}">forms.epc.epcRequirements.advertising.heading</h2>
                    <p class="govuk-body" th:text="#{forms.epc.epcRequirements.advertising.paragraph}">forms.epc.epcRequirements.advertising.paragraph</p>
                </section>
                <section>
                    <h2 class="govuk-heading-s" th:text="#{forms.epc.epcRequirements.toLet.heading}">forms.epc.epcRequirements.toLet.heading</h2>
                    <p class="govuk-body">
                        <span th:remove="tag" th:text="#{forms.epc.epcRequirements.toLet.paragraph.one.beforeBold}">forms.epc.epcRequirements.toLet.paragraph.one.beforeBold</span>
                        <strong th:text="#{forms.epc.epcRequirements.toLet.paragraph.one.bold}">forms.epc.epcRequirements.toLet.paragraph.one.bold</strong>
                        <span th:remove="tag" th:text="#{forms.epc.epcRequirements.toLet.paragraph.one.afterBold}">forms.epc.epcRequirements.toLet.paragraph.one.afterBold</span>
                    </p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li th:text="#{forms.epc.epcRequirements.toLet.bullet.one}">forms.epc.epcRequirements.toLet.bullet.one</li>
                        <li th:text="#{forms.epc.epcRequirements.toLet.bullet.two}">forms.epc.epcRequirements.toLet.bullet.two</li>
                    </ul>
                    <p class="govuk-body" th:text="#{forms.epc.epcRequirements.toLet.paragraph.two}">forms.epc.epcRequirements.toLet.paragraph.two</p>
                </section>
                <section>
                    <h2 class="govuk-heading-s" th:text="#{forms.epc.epcRequirements.lowRating.heading}">forms.epc.epcRequirements.lowRating.heading</h2>
                    <p class="govuk-body" th:text="#{forms.epc.epcRequirements.lowRating.paragraph.one}">forms.epc.epcRequirements.lowRating.paragraph.one</p>
                    <p class="govuk-body" th:text="#{forms.epc.epcRequirements.lowRating.paragraph.two}">forms.epc.epcRequirements.lowRating.paragraph.two</p>
                    <p class="govuk-body">
                        <a class="govuk-link" th:href="${prsExemptionGuideUrl}" th:text="#{forms.epc.epcRequirements.lowRating.link}" rel="noreferrer noopener" target="_blank">forms.epc.epcRequirements.lowRating.link</a>
                    </p>
                </section>
                <section>
                    <h2 class="govuk-heading-s" th:text="#{forms.epc.epcRequirements.notRequired.heading}">forms.epc.epcRequirements.notRequired.heading</h2>
                    <p class="govuk-body" th:text="#{forms.epc.epcRequirements.notRequired.paragraph}">forms.epc.epcRequirements.notRequired.paragraph</p>
                    <p class="govuk-body">
                        <a class="govuk-link" th:href="${epcNotRequiredUrl}" th:text="#{forms.epc.epcRequirements.notRequired.link}" rel="noreferrer noopener" target="_blank">forms.epc.epcRequirements.notRequired.link</a>
                    </p>
                </section>
            </div>
        </details>
        <th:block th:replace="~{fragments/forms/radios :: radios(null, 'hasCert', null, ${radioOptions})}"></th:block>
    </th:block>
    <div class="govuk-button-group">
        <button th:replace="~{fragments/buttons/namedPrimaryButton :: namedPrimaryButton(#{${submitButtonText}}, 'action', ${submitButtonAction})}"></button>
        <button th:replace="~{fragments/buttons/namedSecondaryButton :: namedSecondaryButton(#{${secondarySubmitButtonText}}, 'action', ${secondarySubmitButtonAction})}"></button>
    </div>
</html>
