<!--/*@thymesVar id="title" type="java.lang.String"*/-->
<!--/*@thymesVar id="dashboardUrl" type="java.lang.String"*/-->
<!DOCTYPE html>
<html>
<th:block id="main-content"
          th:replace="~{fragments/layout :: layout(#{${title}}, ~{::#main-content/content()}, false)}">
    <main class="govuk-main-wrapper">
        <div th:replace="~{fragments/layouts/twoThirdsLayout :: twoThirdsLayout(~{::#page-content})}">
            <div id="page-content">
                <h1 class="govuk-heading-l" th:text="#{acceptOrRejectJointLandlordInvitation.inviteUnavailable.heading}">
                    There was a problem with this invitation link
                </h1>
                <h2 class="govuk-heading-m" th:text="#{acceptOrRejectJointLandlordInvitation.inviteUnavailable.whatsHappened.heading}">
                    What's happened
                </h2>
                <h3 class="govuk-heading-s" th:text="#{acceptOrRejectJointLandlordInvitation.inviteUnavailable.whatsHappened.alreadyResponded.heading}">
                    If you've already responded to this invitation
                </h3>
                <p class="govuk-body">
                    <span th:text="#{acceptOrRejectJointLandlordInvitation.inviteUnavailable.whatsHappened.alreadyResponded.paragraph}">
                        Each invitation can only be used once. If you've already accepted this invitation,</span>
                    <a class="govuk-link" th:href="@{${dashboardUrl}}" th:text="#{acceptOrRejectJointLandlordInvitation.inviteUnavailable.whatsHappened.alreadyResponded.link}">
                        sign in to your account to view the property</a>.
                </p>
                <h3 class="govuk-heading-s" th:text="#{acceptOrRejectJointLandlordInvitation.inviteUnavailable.whatsHappened.notResponded.heading}">
                    If you have not responded to this invitation
                </h3>
                <p class="govuk-body" th:text="#{acceptOrRejectJointLandlordInvitation.inviteUnavailable.whatsHappened.notResponded.paragraph}">
                    This invitation has either:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li th:text="#{acceptOrRejectJointLandlordInvitation.inviteUnavailable.whatsHappened.notResponded.listItem.one}">
                        expired (it's over 28 days old)
                    </li>
                    <li th:text="#{acceptOrRejectJointLandlordInvitation.inviteUnavailable.whatsHappened.notResponded.listItem.two}">
                        been cancelled by the sender (for example, they sent it by mistake)
                    </li>
                </ul>
                <h2 class="govuk-heading-m" th:text="#{acceptOrRejectJointLandlordInvitation.inviteUnavailable.stillNeedToJoin.heading}">
                    If you still need to join this property
                </h2>
                <p class="govuk-body" th:text="#{acceptOrRejectJointLandlordInvitation.inviteUnavailable.stillNeedToJoin.paragraph}">
                    You can contact a registered landlord and ask them to invite you again.
                </p>
            </div>
        </div>
    </main>
</th:block>
</html>
