<!--/*@thymesVar id="title" type="java.lang.String"*/-->
<!--/*@thymesVar id="formModel" type="java.lang.Object"*/-->
<!--/*@thymesVar id="fieldSetHeading" type="java.lang.String"*/-->
<!--/*@thymesVar id="backUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="options" type="java.lang.Object"*/-->
<!--/*@thymesVar id="submitButtonText" type="java.lang.String"*/-->
<!--/*@thymesVar id="localCouncilPrivacyNoticeUrl" type="java.lang.String"*/-->
<!DOCTYPE html>
<html th:replace="~{fragments/forms/complexQuestionPage :: complexQuestionPage(#{${title}}, ${formModel}, ~{::#form-content}, ~{::#question-content}, ${backUrl}, ${sectionHeaderInfo})}">
    <th:block id="question-content">
        <h1 class="govuk-heading-l" th:text="#{registerLocalCouncilUser.privacyNotice.heading}">
            registerLocalCouncilUser.privacyNotice.heading
        </h1>
        <p class="govuk-body">
            <span th:remove="tag" th:text="#{registerLocalCouncilUser.privacyNotice.paragraph.one.beforeLink}">registerLocalCouncilUser.privacyNotice.paragraph.one.beforeLink</span>
            <a class="govuk-link" th:text="#{registerLocalCouncilUser.privacyNotice.paragraph.one.linkText}" th:href="${locaLocalCounciluthorityPrivacyNoticeUrl}" rel="noreferrer noopener" target="_blank">
                registerLocalCouncilUser.privacyNotice.paragraph.one.linkText
            </a>
            <span th:remove="tag" th:text="#{registerLocalCouncilUser.privacyNotice.paragraph.one.afterLink}">
                        registerLocalCouncilUser.privacyNotice.paragraph.one.afterLink
                </span>
        </p>
    </th:block>
    <th:block id="form-content">
        <th:block id="fieldset-content" th:replace="~{fragments/forms/minorFieldSet :: minorFieldSet(~{::#fieldset-content/content()}, 'agreesToPrivacyNotice', #{registerLocalCouncilUser.privacyNotice.checkBox.heading}, null)}">
            <th:block th:replace="~{fragments/forms/singleCheckbox :: singleCheckbox(null,'agreesToPrivacyNotice',null, ${options})}"></th:block>
        </th:block>
        <button th:replace="~{fragments/buttons/primaryButton :: primaryButton(#{${submitButtonText}})}"></button>
    </th:block>
</html>