<!--/*@thymesVar id="title" type="java.lang.String"*/-->
<!--/*@thymesVar id="formModel" type="java.lang.Object"*/-->
<!--/*@thymesVar id="fieldSetHeading" type="java.lang.String"*/-->
<!--/*@thymesVar id="fieldSetHint" type="java.lang.String"*/-->
<!--/*@thymesVar id="postcodeLabel" type="java.lang.String"*/-->
<!--/*@thymesVar id="postcodeHint" type="java.lang.String"*/-->
<!--/*@thymesVar id="postcodeFieldWidth" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="houseNameOrNumberLabel" type="java.lang.String"*/-->
<!--/*@thymesVar id="houseNameOrNumberHint" type="java.lang.String"*/-->
<!--/*@thymesVar id="houseNameOrNumberFieldWidth" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="submitButtonText" type="java.lang.String"*/-->
<!--/*@thymesVar id="backUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="alternativeActionUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="alternativeActionText" type="java.lang.String"*/-->
<!DOCTYPE html>
<html th:replace="~{fragments/forms/questionPage :: questionPage(#{${title}}, ${formModel}, ~{::#form-content}, ${backUrl}, ${sectionHeaderInfo})}">
<th:block id="form-content">
    <th:block id="fieldset-content"
              th:replace="~{fragments/forms/fieldSet :: fieldSet(~{::#fieldset-content/content()}, 'lookupAddress',
                            #{${fieldSetHeading}}, ${fieldSetHint != null ? #messages.msg(fieldSetHint) : null})}">
        <th:block th:if="${postcodeFieldWidth != null}">
            <div th:replace="~{fragments/forms/fixedWidthTextInput :: fixedWidthTextInput(#{${postcodeLabel}}, 'postcode', #{${postcodeHint}}, ${postcodeFieldWidth})}"></div>
        </th:block>
        <th:block th:if="${postcodeFieldWidth == null}">
            <div th:replace="~{fragments/forms/basicTextInput :: textInput(#{${postcodeLabel}}, 'postcode', #{${postcodeHint}})}"></div>
        </th:block>
        <th:block th:if="${houseNameOrNumberFieldWidth != null}">
            <div th:replace="~{fragments/forms/fixedWidthTextInput :: fixedWidthTextInput(#{${houseNameOrNumberLabel}}, 'houseNameOrNumber', #{${houseNameOrNumberHint}}, ${houseNameOrNumberFieldWidth})}"></div>
        </th:block>
        <th:block th:if="${houseNameOrNumberFieldWidth == null}">
            <div th:replace="~{fragments/forms/basicTextInput :: textInput(#{${houseNameOrNumberLabel}}, 'houseNameOrNumber', #{${houseNameOrNumberHint}})}"></div>
        </th:block>
    </th:block>
    <div th:if="${alternativeActionText != null}" class="govuk-button-group">
        <button th:replace="~{fragments/buttons/primaryButton :: primaryButton(#{${submitButtonText}})}"></button>
        <a class="govuk-link" th:href="@{${alternativeActionUrl}(journeyState=${param.journeyState})}" th:text="#{${alternativeActionText}}"></a>
    </div>
    <th:block th:if="${alternativeActionText == null}">
        <button th:replace="~{fragments/buttons/primaryButton :: primaryButton(#{${submitButtonText}})}"></button>
    </th:block>
</th:block>
</html>