<!--/*@thymesVar id="title" type="java.lang.String"*/-->
<!--/*@thymesVar id="formModel" type="java.lang.Object"*/-->
<!--/*@thymesVar id="backUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="sectionHeaderInfo" type="uk.gov.communities.prsdb.webapp.models.viewModels.SectionHeaderViewModel"*/-->
<!--/*@thymesVar id="meesExemptionGuideUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="singleLineAddress" type="java.lang.String"*/-->
<!--/*@thymesVar id="radioOptions" type="uk.gov.communities.prsdb.webapp.models.viewModels.formModels.RadiosViewModel"*/-->
<!DOCTYPE html>
<html th:replace="~{fragments/forms/complexQuestionPage :: complexQuestionPage(#{${title}}, ${formModel}, ~{::#form-content}, ~{::#question-content}, ${backUrl}, ${sectionHeaderInfo})}">
<th:block id="question-content">
    <header>
        <h1 class="govuk-heading-l" th:text="#{forms.meesExemptionCheck.fieldSetHeading}">forms.meesExemptionCheck.fieldSetHeading</h1>
    </header>
    <section>
        <p class="govuk-body">
            <span th:remove="tag" th:text="#{forms.meesExemptionCheck.paragraph.one.beforeLink}">forms.meesExemptionCheck.paragraph.one.beforeLink</span>
            <a class="govuk-link" th:text="#{forms.meesExemptionCheck.paragraph.one.link}" th:href="${meesExemptionGuideUrl}" rel="noreferrer noopener" target="_blank">
                forms.meesExemptionCheck.paragraph.one.link
            </a>
            <span th:remove="tag" th:text="#{forms.meesExemptionCheck.paragraph.one.afterLink}">forms.meesExemptionCheck.paragraph.one.afterLink</span>
        </p>
    </section>
</th:block>
<th:block id="form-content">
    <th:block id="fieldset-content"
              th:replace="~{fragments/forms/minorFieldSet :: minorFieldSet(~{::#fieldset-content/content()}, 'numberOfHouseholds', #{forms.meesExemptionCheck.doesThePropertyHaveAnExemption.heading(${singleLineAddress})}, null)}">
        <th:block th:replace="~{fragments/forms/radios :: radios(null, 'propertyHasExemption', null, ${radioOptions})}"></th:block>
    </th:block>
    <button th:replace="~{fragments/buttons/primaryButton :: primaryButton(#{forms.buttons.saveAndContinue})}"></button>
</th:block>
</html>