<!--/*@thymesVar id="title" type="java.lang.String"*/-->
<!--/*@thymesVar id="backUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="postcode" type="java.lang.String"*/-->
<!--/*@thymesVar id="houseNameOrNumber" type="java.lang.String"*/-->
<!--/*@thymesVar id="searchAgainUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="findByPrnUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="sectionHeaderInfo" type="uk.gov.communities.prsdb.webapp.models.viewModels.SectionHeaderViewModel"*/-->
<!DOCTYPE html>
<html>
<th:block id="main-content"
          th:replace="~{fragments/layout :: layout(#{${title}}, ~{::#main-content/content()}, false)}">
    <a href="#" th:replace="~{fragments/forms/backLink :: backLink(${backUrl})}">Back link</a>
    <main class="govuk-main-wrapper">
        <div th:replace="~{fragments/layouts/twoThirdsLayout :: twoThirdsLayout(~{::#page-content})}">
            <div id="page-content">
                <header>
                    <p th:replace="~{fragments/sectionHeader :: sectionHeader(${sectionHeaderInfo})}"></p>
                    <h1 class="govuk-heading-l" th:text="#{joinProperty.noMatchingProperties.heading}">
                        joinProperty.noMatchingProperties.heading
                    </h1>
                </header>
                <p class="govuk-body">
                    <span th:remove="tag" th:text="#{joinProperty.noMatchingProperties.paragraph.one.beforePostcode}">joinProperty.noMatchingProperties.paragraph.one.beforePostcode</span>
                    <strong th:text="${postcode}"></strong>
                    <span th:remove="tag" th:text="#{joinProperty.noMatchingProperties.paragraph.one.beforeHouseNameOrNumber}">joinProperty.noMatchingProperties.paragraph.one.beforeHouseNameOrNumber</span>
                    <strong th:text="${houseNameOrNumber}"></strong><span th:remove="tag" th:text="#{joinProperty.noMatchingProperties.paragraph.one.afterHouseNameOrNumber}">joinProperty.noMatchingProperties.paragraph.one.afterHouseNameOrNumber</span>
                </p>
                <p class="govuk-body">
                    <span th:text="#{joinProperty.noMatchingProperties.paragraph.two.beforeLink}" th:remove="tag">
                        joinProperty.noMatchingProperties.paragraph.two.beforeLink
                    </span>
                    <a class="govuk-link" th:href="@{${searchAgainUrl}}" th:text="#{joinProperty.noMatchingProperties.paragraph.two.linkText}">
                        joinProperty.noMatchingProperties.paragraph.two.linkText
                    </a><span th:text="#{joinProperty.noMatchingProperties.paragraph.two.afterLink}" th:remove="tag">joinProperty.noMatchingProperties.paragraph.two.afterLink</span>
                </p>
                <h2 class="govuk-heading-m" th:text="#{joinProperty.noMatchingProperties.ifDetailsCorrect.heading}">
                    joinProperty.noMatchingProperties.ifDetailsCorrect.heading
                </h2>
                <p class="govuk-body">
                    <span th:text="#{joinProperty.noMatchingProperties.ifDetailsCorrect.prnLink.beforeLink}" th:remove="tag">
                        joinProperty.noMatchingProperties.ifDetailsCorrect.prnLink.beforeLink
                    </span>
                    <a class="govuk-link" th:href="@{${findByPrnUrl}}" th:text="#{joinProperty.noMatchingProperties.ifDetailsCorrect.prnLink.linkText}">
                        joinProperty.noMatchingProperties.ifDetailsCorrect.prnLink.linkText
                    </a><span th:text="#{joinProperty.noMatchingProperties.ifDetailsCorrect.prnLink.afterLink}" th:remove="tag">joinProperty.noMatchingProperties.ifDetailsCorrect.prnLink.afterLink</span>
                </p>
                <p class="govuk-body" th:text="#{joinProperty.noMatchingProperties.ifDetailsCorrect.askLandlord}">
                    joinProperty.noMatchingProperties.ifDetailsCorrect.askLandlord
                </p>
                <p class="govuk-body" th:text="#{joinProperty.noMatchingProperties.ifDetailsCorrect.contactUs}">
                    joinProperty.noMatchingProperties.ifDetailsCorrect.contactUs
                </p>
                <p class="govuk-body" th:text="#{common.contactDetails.phone}">Phone: 0303 444 7000</p>
                <p class="govuk-body" th:text="#{common.contactDetails.phoneHours}">Monday to Friday, 9am to 5pm</p>
                <p class="govuk-body">
                    <span th:text="#{common.contactDetails.emailLabel}">Email:</span>
                    <a class="govuk-link" th:href="'mailto:' + #{common.contactDetails.email}" th:text="#{common.contactDetails.email}">prs.beta@communities.gov.uk</a>
                </p>
            </div>
        </div>
    </main>
</th:block>
</html>
