<!--/*@thymesVar id="backUrl" type="java.lang.String"*/-->
<!DOCTYPE html>
<html id="page" th:replace="~{fragments/layout :: layout(#{registerAsALandlord.title}, ~{::#page/content()}, false)}">
    <a th:replace="~{fragments/forms/backLink :: backLink(${backUrl})}">backUrl</a>
    <th:block th:replace="~{fragments/layouts/twoThirdsLayout :: twoThirdsLayout(~{::main})}">
        <main class="govuk-main-wrapper" id="main-content">
            <header>
                <h1 class="govuk-heading-l" th:text="#{forms.nonEnglandOrWalesAddress.heading}">forms.nonEnglandOrWalesAddress.heading</h1>
            </header>
            <p class="govuk-body" th:text="#{forms.nonEnglandOrWalesAddress.paragraph.one}">forms.nonEnglandOrWalesAddress.paragraph.one</p>
            <p class="govuk-body" th:text="#{forms.nonEnglandOrWalesAddress.paragraph.two}">forms.nonEnglandOrWalesAddress.paragraph.two</p>
        </main>
    </th:block>
</html>