<!--/*@thymesVar id="title" type="java.lang.String"*/-->
<!--/*@thymesVar id="formModel" type="java.lang.Object"*/-->
<!--/*@thymesVar id="fieldSetHeading" type="java.lang.String"*/-->
<!--/*@thymesVar id="label" type="java.lang.String"*/-->
<!--/*@thymesVar id="backUrl" type="java.lang.String"*/-->
<!DOCTYPE html>
<html th:replace="~{fragments/forms/complexQuestionPage :: complexQuestionPage(#{${title}}, ${formModel}, ~{::#form-content}, ~{::#question-content}, ${backUrl}, ${sectionHeaderInfo})}">
<th:block id="question-content">
    <h1 class="govuk-heading-l" th:text="#{${fieldSetHeading}}">
        forms.numberOfHouseholdsOld.heading
    </h1>
    <p class="govuk-body" th:text="#{forms.numberOfHouseholdsOld.paragraph.one}">
        forms.numberOfHouseholdsOld.paragraph.one
    </p>
    <h2 class="govuk-heading-m" th:text="#{forms.numberOfHouseholdsOld.heading.two}">
        forms.numberOfHouseholdsOld.heading.two
    </h2>
    <p class="govuk-body" th:text="#{forms.numberOfHouseholdsOld.paragraph.two}">
        forms.numberOfHouseholdsOld.paragraph.two
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li th:text="#{forms.numberOfHouseholdsOld.bullet.point.one}">forms.numberOfHouseholdsOld.bullet.point.one</li>
        <li th:text="#{forms.numberOfHouseholdsOld.bullet.point.two}">forms.numberOfHouseholdsOld.bullet.point.two</li>
    </ul>
    <p class="govuk-body" th:text="#{forms.numberOfHouseholdsOld.paragraph.three}">
        forms.numberOfHouseholdsOld.paragraph.three
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li th:text="#{forms.numberOfHouseholdsOld.bullet.point.three}">forms.numberOfHouseholdsOld.bullet.point.three</li>
        <li th:text="#{forms.numberOfHouseholdsOld.bullet.point.four}">forms.numberOfHouseholdsOld.bullet.point.four</li>
    </ul>
    <p class="govuk-body" th:text="#{forms.numberOfHouseholdsOld.paragraph.four}">
        forms.numberOfHouseholdsOld.paragraph.four
    </p>
</th:block>
<th:block id="form-content">
    <th:block id="fieldset-content"
              th:replace="~{fragments/forms/minorFieldSet :: minorFieldSet(~{::#fieldset-content/content()}, 'numberOfHouseholds', null, null)}">
        <div th:replace="~{fragments/forms/numericalInput :: numericalInput(#{${label}}, 'numberOfHouseholds', null, 2)}">
        </div>
    </th:block>
    <button th:replace="~{fragments/buttons/primaryButton :: primaryButton(#{forms.buttons.saveAndContinue})}"></button>
</th:block>
</html>