<!--/*@thymesVar id="title" type="java.lang.String"*/-->
<!--/*@thymesVar id="formModel" type="java.lang.Object"*/-->
<!--/*@thymesVar id="propertyDetails" type="java.lang.Object"*/-->
<!--/*@thymesVar id="submitButtonText" type="java.lang.String"*/-->
<!--/*@thymesVar id="propertyName" type="java.lang.String"*/-->
<!--/*@thymesVar id="backUrl" type="java.lang.String"*/-->
<!DOCTYPE html>
<html>
<th:block id="main-content"
          th:replace="~{fragments/layout :: layout(#{${title}}, ~{::#main-content/content()},false)}">
    <a href="#" th:replace="~{fragments/forms/backLink :: backLink(${backUrl})}">Back link</a>
    <main class="govuk-main-wrapper">

        <div id="page-content"
             th:replace="~{fragments/layouts/twoThirdsLayout :: twoThirdsLayout(~{::#page-content/content()})}">
            <header>
                <h1 class="govuk-heading-l">
                    <span th:text="#{forms.checkPropertyAnswers.headingPrefix}"></span>
                    <br>
                    <span th:text="${propertyName}"></span>
                </h1>
            </header>

            <form th:action="@{''}" method="post" novalidate th:object="${formModel}">

                <div class="govuk-tabs" data-module="govuk-tabs">
                    <h2 class="govuk-tabs__title">
                        Contents
                    </h2>
                    <ul class="govuk-tabs__list">
                        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                            <a class="govuk-tabs__tab" href="#property-details" th:text="#{forms.checkPropertyAnswers.propertyDetails.heading}">
                                forms.checkPropertyAnswers.propertyDetails.heading
                            </a>
                        </li>
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="#additional-landlords" th:text="#{forms.checkPropertyAnswers.additionalLandlords.heading}">
                                forms.checkPropertyAnswers.additionalLandlords.heading
                            </a>
                        </li>
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="#interested-parties" th:text="#{forms.checkPropertyAnswers.interestedParties.heading}">
                                forms.checkPropertyAnswers.interestedParties.heading
                            </a>
                        </li>
                    </ul>
                    <div class="govuk-tabs__panel" id="property-details">
                        <div id="my-hint" class="govuk-hint" th:text="#{forms.checkPropertyAnswers.propertyDetails.hint}">
                            forms.checkPropertyAnswers.propertyDetails.hint
                        </div>
                        <dl th:replace="~{fragments/summaryList :: summaryList(${propertyDetails})}"></dl>
                        <details id="details-content" th:replace="~{fragments/details :: details(#{forms.checkPropertyAnswers.propertyDetails.detail.summary},~{::#details-content/content()})}">
                            <div class="govuk-details__text" th:text="#{forms.checkPropertyAnswers.propertyDetails.detail.text}">
                                forms.checkPropertyAnswers.propertyDetails.detail.text
                            </div>
                        </details>
                    </div>
                    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="additional-landlords">
                        <h2 class="govuk-heading-l">TODO: PRSD-584</h2>
                        <p class="govuk-body">This tab will show details of additional landlords, and will be implemented as part of PRSD-584</p>
                    </div>
                    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="interested-parties">
                        <h2 class="govuk-heading-l">TODO: PRSD-585</h2>
                        <p class="govuk-body">This tab will show details of interested parties, and will be implemented as part of PRSD-585</p>
                    </div>
            </div>
                <button th:replace="~{fragments/buttons/primaryButton :: primaryButton(#{${submitButtonText}})}"></button>
            </form>
        </div>
    </main>
</th:block>
</html>