features:
  feature-flags:
    - name: "example-feature-flag-one"
      enabled: true
      expiry-date: "2030-01-12"
    - name: "example-feature-flag-two"
      enabled: true
      expiry-date: "2030-01-07"
      release: "release-1-0"
    - name: "example-feature-flag-three"
      enabled: false
      expiry-date: "2030-01-07"
      release: "release-1-0"
    - name: "example-feature-flag-four"
      enabled: true
      expiry-date: "2030-01-07"
      release: "release-with-strategy"
    - name: "failover-test-endpoints"
      enabled: true
      expiry-date: "2026-12-31"
    - name: "migrate-property-registration"
      enabled: true
      expiry-date: "2026-01-31"
  releases:
    - name: "release-1-0"
      enabled: true
    - name: "release-with-strategy"
      enabled: true
      strategy-config:
        release-date: "2025-06-01"
