spring:
  application:
    name: 'prsdb-webapp'

  thymeleaf:
    cache: false

  datasource:
    url: jdbc:postgresql://localhost:5433/prsdblocal
    username: postgres
    password: notarealpassword

    jpa:
      hibernate:
        ddl-auto: validate
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
      defer-datasource-initialization: true
      show-sql: true

  flyway:
    enabled: true
    locations: classpath:db/migrations
    validate-on-migrate: true

  sql:
    init:
      mode: always
      platform: local
      continue-on-error: true

  data:
    redis:
      host: localhost
      port: 6379
      password: notarealpassword
      ssl:
        enabled: false

one-login:
  jwt:
    # We provide a default for the keys if the env vars are missing: this allows us to keep the keys in uncommitted
    # files for local dev. In CI, however, we provide the data through env vars (from a secret store)
    public.key: ${ONE_LOGIN_PUBLIC_KEY:classpath:public_key.pem}
    private.key: ${ONE_LOGIN_PRIVATE_KEY:classpath:private_key.pem}
  did.uri: https://identity.integration.account.gov.uk/.well-known/did.json


notify:
  api-key: ${EMAILNOTIFICATIONS_APIKEY}
  use-production-notify: false

epc:
  base-url: https://api.epb-staging.digital.communities.gov.uk
  certificate-base-url: https://find-energy-certificate-staging.digital.communities.gov.uk/energy-certificate

server:
  error:
    path: /error

local:
  emails:
    transientExceptionAddress: transient@example.com
    persistentExceptionAddress: persistent@example.com
  base-path-component: ${LOCAL_BASE_PATH_COMPONENT:}

base-url:
  landlord: http://localhost:8080/landlord
  local-council: http://localhost:8080/local-council

aws:
  s3:
    quarantineBucket: ${AWS_QUARANTINE_BUCKET:prsdb-quarantine-integration}
    safeBucket: ${S3_SAFE_BUCKET_KEY:prsdb-uploaded-files-integration}

plausible:
  domain-id: register-home-to-rent.communities.gov.uk

google-analytics:
  measurement-id: G-NOTATAG123
  cookie-domain: localhost

beta-feedback:
  team-email-address: Team-PRSDB@Softwire.com

features:
  feature-flags:
    - name: "example-feature-flag-one"
      enabled: true
      expiry-date: "2030-01-12"
    - name: "example-feature-flag-two"
      enabled: true
      expiry-date: "2030-01-07"
      release: "release-1-0"
      strategy-config:
        release-date: "2025-06-01"
        enabled-by-strategy: true
    - name: "example-feature-flag-three"
      enabled: false
      expiry-date: "2030-01-07"
      release: "release-1-0"
    - name: "example-feature-flag-four"
      enabled: true
      expiry-date: "2030-01-07"
      release: "release-with-strategy"
    - name: "failover-test-endpoints"
      enabled: true
      expiry-date: "2026-12-31"
    - name: "migrate-property-registration"
      enabled: true
      expiry-date: "2026-02-28"
    - name: "migrate-local-council-user-registration"
      enabled: true
      expiry-date: "2026-02-28"
    - name: "migrate-property-compliance"
      enabled: false
      expiry-date: "2026-06-30"
    - name: "migrate-property-deregistration"
      enabled: true
      expiry-date: "2026-06-30"
    - name: "migrate-landlord-email-update"
      enabled: true
      expiry-date: "2026-06-30"
    - name: "migrate-landlord-phone-number-update"
      enabled: true
      expiry-date: "2026-06-30"
  releases:
    - name: "release-1-0"
      enabled: false
    - name: "release-with-strategy"
      enabled: true
      strategy-config:
        release-date: "2025-06-01"
        enabled-by-strategy: true

---

spring:
  config:
    activate:
      on-profile: local-no-auth

  security:
    oauth2:
      client:
        registration:
          one-login:
            client-id: l0AE7SbEHrEa8QeQCGdml9KQ4bk
            client-authentication-method: private_key_jwt
            authorization-grant-type: authorization_code
            scope: openid
            redirect-uri: http://localhost:8080/login/oauth2/code/one-login
          epc-register:
            client-id: cb34efcd-4e22-439f-a15e-fcb8abdf73a2
            client-secret: ${EPC_REGISTER_CLIENT_SECRET}
            authorization-grant-type: client_credentials
            scope:
        provider:
          one-login:
            authorization-uri: http://localhost:8080/local/one-login/authorize
            token-uri: http://localhost:8080/local/one-login/token
            jwk-set-uri: http://localhost:8080/local/one-login/.well-known/jwks.json
            user-info-uri: http://localhost:8080/local/one-login/userinfo
            userNameAttribute: "sub"
          epc-register:
            token-uri: https://api.epb-staging.digital.communities.gov.uk/auth/oauth/token

one-login.did.uri: http://localhost:8080/local/one-login/.well-known/did.json

---

spring:
  config:
    activate:
      on-profile: local-no-auth-unverified

local:
  id-verification-user-info-file: src/main/kotlin/uk/gov/communities/prsdb/webapp/local/api/mockOneLoginResponses/unverifiedUserInfo.json

---

spring:
  config:
    activate:
      on-profile: local-auth

  security:
    oauth2:
      client:
        registration:
          one-login:
            client-id: l0AE7SbEHrEa8QeQCGdml9KQ4bk
            client-authentication-method: private_key_jwt
            authorization-grant-type: authorization_code
            scope: openid
        provider:
          one-login:
            issuer-uri: https://oidc.integration.account.gov.uk/

---

spring:
  config:
    activate:
      on-profile: nft-data-seeder

  flyway:
    baseline-on-migrate: true
    baseline-version: 1

  sql:
    init:
      mode: never
