<div th:fragment="emailInput ( model )" class="govuk-form-group"
     th:classappend="${not #lists.isEmpty(model.errors)} ? 'govuk-form-group--error'">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="email-address-hint email-address-error">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading" th:text="#{formComponents.email.heading}">
                What is your email address?
            </h1>
        </legend>
        <div id="email-address-hint" class="govuk-hint" th:text="#{formComponents.email.hint}">
            We'll use this to contact you about your record.
        </div>
        <p id="email-address-error" class="govuk-error-message" th:each="errorKey : ${model.errors}">
            <span class="govuk-visually-hidden">Error:</span> <span th:text="#{${errorKey}}" th:remove="tag">Your email address must lorem ipsum</span>
        </p>
        <div class="govuk-form-group">
            <label class="govuk-label" for="email" th:text="#{formComponents.email.label}">
                Enter your email address
            </label>
            <input
                    class="govuk-input"
                    id="email"
                    name="email"
                    type="email"
                    spellcheck="false"
                    aria-describedby="email-address-hint"
                    autocomplete="email"
                    th:value="${model.value}"
            >
        </div>
    </fieldset>
</div>