<div th:fragment="phoneNumber ( model )" class="govuk-form-group"
     th:classappend="${not #lists.isEmpty(model.errors)} ? 'govuk-form-group--error'"
>
    <fieldset class="govuk-fieldset" role="group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading" th:text="#{'formComponents.'+${model.fieldName}+'.fieldsetLegend'}">
                What is your phone number?
            </h1>
        </legend>
        <div th:id="|${model.fieldName}-phone-number-hint|" class="govuk-hint" th:text="#{'formComponents.'+${model.fieldName}+'.fieldsetHint'}">
            We'll use this to contact you about your record.
        </div>
        <p th:id="|${model.fieldName}-phone-number-error-${errorStat.index}|" class="govuk-error-message" th:each="errorKey, errorStat : ${model.errors}">
            <span class="govuk-visually-hidden">Error:</span> <span th:text="#{${errorKey}}" th:remove="tag">Your phone number must lorem ipsum</span>
        </p>
        <div class="govuk-form-group">
            <label class="govuk-label" th:for="|${model.fieldName}-phone-number|" th:text="#{'formComponents.'+${model.fieldName}+'.label'}">
                Enter your phone number
            </label>
            <input
                    class="govuk-input"
                    th:id="|${model.fieldName}-phone-number|"
                    th:name="${model.fieldName}"
                    type="tel"
                    th:aria-describedby="|${model.fieldName}-phone-number-hint|"
                    autocomplete="tel"
                    th:value="${model.value}"
            >
        </div>
    </fieldset>
</div>