<section th:fragment="propertyRegistrationConfirmationUnoccupiedContent()">
    <h2 class="govuk-heading-m" th:text="#{registerProperty.confirmation.beforeYouLetThisProperty.heading}">registerProperty.confirmation.beforeYouLetThisProperty.heading</h2>
    <p class="govuk-body" th:utext="#{registerProperty.confirmation.common.usePrnInAdverts.paragraph}">
        registerProperty.confirmation.beforeYouLetThisProperty.paragraph.one
    </p>
    <p class="govuk-body" th:text="#{registerProperty.confirmation.beforeYouLetThisProperty.paragraph.two}">
        registerProperty.confirmation.beforeYouLetThisProperty.paragraph.two
    </p>
    <p class="govuk-body" th:text="#{registerProperty.confirmation.beforeYouLetThisProperty.paragraph.three}">
        registerProperty.confirmation.beforeYouLetThisProperty.paragraph.three
    </p>
</section>