<!--/*@thymesVar id="paginationViewModel" type="uk.gov.communities.prsdb.webapp.models.viewModels.PaginationViewModel"*/-->
<ul th:fragment="listAllPages(paginationViewModel)" class="govuk-pagination__list">
    <li th:each="page : ${#numbers.sequence(1, paginationViewModel.totalPages)}"
        class="govuk-pagination__item"
        th:classappend="${page == paginationViewModel.currentPage ? 'govuk-pagination__item--current' : ''}">
        <a th:replace="~{fragments/pagination/pageLink :: pageLink(${page}, ${paginationViewModel})}">
        </a>
    </li>
</ul>