<div th:fragment="dashboardAction(linkTextKey, linkUrl,descriptionKey)"
     class="govuk-grid-column-one-third-from-desktop">
    <a th:unless="${linkUrl} == '#'"
       th:href="${linkUrl}"
       th:text="#{${linkTextKey}}"
        class="govuk-heading-m govuk-link">linkTextKey</a>
    <span th:if="${linkUrl} == '#'"
          th:text="#{${linkTextKey}}"
          class="govuk-heading-m">
        linkTextKey
    </span>
    <p class="govuk-body" th:text="#{${descriptionKey}}">descriptionKey</p>
</div>