<th:block th:fragment="lastModified(lastModifiedBy, lastModifiedDate)"
     th:if="${lastModifiedDate != null}" >
    <div th:replace="~{fragments/warningInsetText :: warningInsetText(~{:: #last-updated-text})}">
        <th:block id="last-updated-text">
            <strong th:text="${lastModifiedBy}">name</strong>
            <span th:text="' ' + #{lastUpdated.afterName} + ' '">landlordDetails.lastUpdated.afterName</span>
            <strong th:text="${lastModifiedDate}">lastModifiedDate</strong>
            <span th:text="#{lastUpdated.afterDate}">landlordDetails.lastUpdated.afterDate</span>
        </th:block>
    </div>
</th:block>