<!DOCTYPE html>
<html th:fragment="layout(title, serviceName, content)" lang="en" class="govuk-template"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <title th:text="${title}">GOV.UK - The best place to find government services and information</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c">
    <link rel="icon" sizes="48x48" href="/static/assets/images/favicon.ico"
          th:href="@{/assets/images/favicon.ico}">
    <link rel="icon" sizes="any" href="/static/assets/images/favicon.svg"
          th:href="@{/assets/images/favicon.svg}"
          type="image/svg+xml">
    <link rel="mask-icon" href="/static/assets/images/govuk-icon-mask.svg"
          th:href="@{/assets/images/govuk-icon-mask.svg}" color="#0b0c0c">
    <link rel="apple-touch-icon" href="/static/assets/images/govuk-icon-180.png"
          th:href="@{/assets/images/govuk-icon-180.png}">
    <link rel="manifest" href="/static/assets/manifest.json" th:href="@{/assets/manifest.json}"
          crossorigin="use-credentials">
    <link rel="stylesheet" href="/static/assets/css/govuk-frontend.min.css"
          th:href="@{/assets/css/govuk-frontend.min.css}">
    <link rel="stylesheet" href="/static/assets/css/service-header.css" th:href="@{/assets/css/service-header.css}">
</head>

<body class="govuk-template__body">
<script>
    document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
</script>
<a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
<div id="header">
    <div sec:authorize="isAuthenticated()">
        <div th:replace="~{ fragments/loggedInHeader :: loggedInHeader(${serviceName}, ${navLinks}) }"></div>
    </div>
    <div sec:authorize="isAnonymous()">
        <div th:replace="~{ fragments/header :: header (serviceName=${serviceName}) }"></div>
    </div>
</div>
<div class="govuk-width-container">
    <div th:replace="${content}"></div>
</div>
<div th:replace="~{ fragments/footer :: footer }"></div>
<script type="module" src="/static/asset/js/index.js" th:src="@{/assets/js/index.js}"></script>
<script type="module" src="/static/asset/js/service-header.js" th:src="@{/assets/js/service-header.js}"></script>
</body>

</html>