<div th:fragment="summaryRowWithValueLink(heading, value, changeUrl, valueLinkUrl)" class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" th:text="#{${heading}}">
    </dt>
    <dd  class="govuk-summary-list__value" >
        <a th:href="@{${valueLinkUrl}}" th:text="${value}" class="govuk-link">value</a>
    </dd>
    <dd class="govuk-summary-list__actions">
        <a th:if="${changeUrl} != null" class="govuk-link" th:href="@{${changeUrl}}" th:text="#{forms.links.change}">
            <span class="govuk-visually-hidden" th:text="#{${heading}}">fieldHeading</span>
        </a>
    </dd>
</div>