<div th:fragment="summaryCard(title, cardNumber, actions, summaryList)" class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title" th:text="${cardNumber != null} ? #{${title}} + ' ' + ${cardNumber} : #{${title}}">
            Title of the summary card
        </h2>
        <ul th:unless="${actions == null or #lists.isEmpty(actions)}" class="govuk-summary-card__actions" th:each="action: ${actions}">
            <li class="govuk-summary-card__action">
                <a class="govuk-link" th:href="@{${action.url}}" th:text="#{${action.text}}">Link text</a>
            </li>
        </ul>
    </div>
    <div class="govuk-summary-card__content">
        <dl th:replace="~{fragments/summaryList :: summaryList(${summaryList})}"></dl>
    </div>
</div>