<dl th:fragment="summaryList(listRows)" class="govuk-summary-list">
    <div class="govuk-summary-list__row" th:each="row: ${listRows}">
        <dt class="govuk-summary-list__key" th:text="#{${row.fieldHeading}}">
            fieldHeading
        </dt>
        <dd class="govuk-summary-list__value" th:text="${{row.fieldValue}}">
            fieldValue
        </dd>
        <dd class="govuk-summary-list__actions">
            <a th:if="${row.changeUrl} != null" class="govuk-link" th:href="@{${row.changeUrl}}" th:text="#{forms.links.change}">
                <span class="govuk-visually-hidden" th:text="#{${row.fieldHeading}}">fieldHeading</span>
            </a>
        </dd>
    </div>
</dl>