<dl th:fragment="summaryList(listRows)" class="govuk-summary-list">
    <div class="govuk-summary-list__row" th:each="row: ${listRows}">
        <dt class="govuk-summary-list__key" th:text="#{${row.fieldHeading}}">
            fieldHeading
        </dt>
        <dd th:unless="${row.isListSummaryItem}" class="govuk-summary-list__value" th:text="${{row.fieldValue}}">
            fieldValue
        </dd>
        <dd th:if="${row.isListSummaryItem}" class="govuk-summary-list__value" >
            <th:block th:each="value: ${row.fieldValue}">
            <div th:text="${{value}}"></div>
            </th:block>
        </dd>
        <dd class="govuk-summary-list__actions">
            <a th:if="${row.changeUrl} != null" class="govuk-link" th:href="@{${row.changeUrl}}" th:text="#{forms.links.change}">
                <span class="govuk-visually-hidden" th:text="#{${row.fieldHeading}}">fieldHeading</span>
            </a>
        </dd>
    </div>
</dl>