<div th:fragment="summaryRow(heading, optionalHeadingParam, values, actions, valueUrl, valueUrlOpensNewTab, withoutBottomBorder, withAriaLabelForAction)" class="govuk-summary-list__row"
     th:classappend="${withoutBottomBorder} ? 'govuk-summary-list__row--no-border' : ''">
    <dt class="govuk-summary-list__key" th:text="#{${heading}(${optionalHeadingParam})}">
    </dt>
    <dd th:if="${values != null}" class="govuk-summary-list__value" >
        <a th:href="@{${valueUrl}}"
           th:if="${valueUrl} != null"
           th:attr="target=${valueUrlOpensNewTab} ? '_blank' : null, rel=${valueUrlOpensNewTab} ? 'noreferrer noopener' : null"
           class="govuk-link"
           th:text="${#messages.msgOrNull(values)} ?: ${{values}}">
        </a>
        <th:block th:if="${valueUrl} == null" th:each="value, iteratorStatus : ${values}">
            <!--/* Downloadable file: render as link when URL available, plain text when still scanning */-->
            <p th:if="${value instanceof T(uk.gov.communities.prsdb.webapp.models.viewModels.DownloadableFileViewModel)}"
               th:remove="${iteratorStatus.size == 1} ? tag : none" class="govuk-body">
                <a th:if="${value.downloadUrl != null}"
                   th:href="@{${value.downloadUrl}}"
                   class="govuk-link"
                   th:text="${value.fileName}">filename</a>
                <th:block th:if="${value.downloadUrl == null}"
                          th:text="${value.fileName}">filename</th:block>
            </p>
            <!--/* All other value types: existing behaviour */-->
            <p th:unless="${value instanceof T(uk.gov.communities.prsdb.webapp.models.viewModels.DownloadableFileViewModel)}"
               th:remove="${iteratorStatus.size == 1} ? tag : none"
               class="govuk-body"
               th:text="${#messages.msgOrNull(value)} ?: ${{value}}">row.convertedFieldValue</p>
        </th:block>
    </dd>
    <dd class="govuk-summary-list__actions" th:attr="aria-label=${withAriaLabelForAction} ? #{${withAriaLabelForAction}} : null">
        <ul class="govuk-summary-list__actions-list">
            <li th:each="action: ${actions}" class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" th:href="@{${action.url}}" th:text="#{${action.text}}">
                    <span class="govuk-visually-hidden" th:text="#{${heading}}">fieldHeading</span>
                </a>
            </li>
        </ul>
    </dd>
</div>