<!--/* Renders an UploadedFileUrl: as a link if it has a URL, or as text otherwise */-->
<th:block th:fragment="uploadedFileUrl(value, singleItem)">
    <p th:if="${value.url != null}"
       class="govuk-body"
       th:remove="${singleItem} ? tag : none">
        <a th:href="@{${value.url}}"
           th:attr="target=${value.urlOpensNewTab} ? '_blank' : null, rel=${value.urlOpensNewTab} ? 'noreferrer noopener' : null"
           class="govuk-link"
           th:text="${#messages.msgOrNull(value.messageKey)} ?: ${{value.messageKey}}">
        </a>
    </p>
    <p th:if="${value.url == null}"
       class="govuk-body"
       th:remove="${singleItem} ? tag : none"
       th:text="${value.displayName != null ? #messages.msgOrNull(value.messageKey, value.displayName) : #messages.msgOrNull(value.messageKey)} ?: ${{value.messageKey}}">
    </p>
</th:block>
