<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(#{error.fileTooLarge.title(#{serviceName})}, ~{::main}, false)}">
<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l" th:text="#{error.fileTooLarge.header}">error.fileTooLarge.header</h1>
            <p class="govuk-body" th:text="#{error.fileTooLarge.body.one}">error.fileTooLarge.body.one</p>
            <p class="govuk-body" th:text="#{error.fileTooLarge.body.two}">error.fileTooLarge.body.two</p>
            <button th:replace="~{fragments/buttons/primaryButtonLink :: primaryButtonLink('/', #{error.fileTooLarge.cta})}">error.fileTooLarge.cta</button>
        </div>
    </div>
</main>
</html>