<!DOCTYPE html>
<html id="form-content" th:replace="~{fragments/forms/questionPage :: questionPage(#{betaBannerFeedback.heading}, ${formModel}, ~{::#form-content/content()}, ${backUrl}, null)}">
    <!--/*@thymesVar id="title" type="java.lang.String"*/-->
    <!--/*@thymesVar id="betaFeedbackModel" type="java.lang.Object"*/-->
    <!--/*@thymesVar id="backUrl" type="java.lang.String"*/-->
    <!--/*@thymesVar id="feedbackUrl" type="java.lang.String"*/-->
    <!--/*@thymesVar id="referrerHeader" type="java.lang.String"*/-->
    <th:block id="fieldset-content" th:replace="~{fragments/forms/fieldSet :: fieldSet(~{::#fieldset-content/content()}, 'feedback', #{betaBannerFeedback.heading}, #{betaBannerFeedback.intro})}">
        <form id="feedback-form" method="post" th:action="${feedbackUrl}" th:object="${formModel}" novalidate>
            <div th:replace="~{fragments/forms/errorSummary :: errorSummary()}"></div>
            <input type="hidden" name="referrerHeader" th:value="${referrerHeader}" />
            <div th:replace="~{fragments/forms/textArea :: textArea(#{betaBannerFeedback.label}, 'feedback', #{betaBannerFeedback.hint}, 1200)}"></div>
            <div th:replace="~{fragments/forms/emailInput :: emailInput(#{betaBannerFeedback.emailLabel}, 'email', null)}"></div>
            <button th:replace="~{fragments/buttons/primaryButton :: primaryButton(#{betaBannerFeedback.buttonText})}"></button>
        </form>
    </th:block>
    <section>
        <h2 class="govuk-heading-m" th:text="#{betaBannerFeedback.heading.two}">betaBannerFeedback.heading.two</h2>
        <h3 class="govuk-heading-s" th:text="#{betaBannerFeedback.heading.three}">betaBannerFeedback.heading.three</h3>
        <p class="govuk-body" th:text="#{betaBannerFeedback.paragraph.one}">betaBannerFeedback.paragraph.one</p>
        <h3 class="govuk-heading-s" th:text="#{betaBannerFeedback.heading.four}">betaBannerFeedback.heading.four</h3>
        <p class="govuk-body" th:text="#{betaBannerFeedback.paragraph.two}" style="margin-bottom: 0;">betaBannerFeedback.paragraph.two</p>
        <p class="govuk-body" th:text="#{betaBannerFeedback.paragraph.three}" style="margin-top: 0;">betaBannerFeedback.paragraph.three</p>
    </section>
</html>
