<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(#{cancelLAUserInvitationSuccess.title}, ~{::main}, false)}">
<main class="govuk-main-wrapper" id="main-content">
    <div id="page-contents"
         th:replace="~{fragments/layouts/twoThirdsLayout :: twoThirdsLayout(~{::#page-contents/content()})}">
        <div id="confirmation-banner"
             th:replace="~{fragments/banners/confirmationPageBanner :: confirmationPageBanner(null, ~{::#confirmation-banner/content()})}">
            <strong>
                <span th:text="#{cancelLAUserInvitationSuccess.banner.body(${deletedEmail}, ${localAuthority.name})}"
                      th:remove="tag">cancelLAUserInvitationSuccess.banner.body</span>
            </strong>
        </div>
        <h2 class="govuk-heading-m" th:text="#{common.confirmationPage.whatHappensNext}">common.whatHappensNext</h2>
        <p class="govuk-body" th:text="#{cancelLAUserInvitationSuccess.whatHappensNext.paragraph.one(${localAuthority.name})}">
            cancelLAUserInvitationSuccess.whatHappensNext.para1
        </p>
        <p class="govuk-body" th:text="#{cancelLAUserInvitationSuccess.whatHappensNext.paragraph.two(${localAuthority.name})}">
            cancelLAUserInvitationSuccess.whatHappensNext.para2
        </p>
        <div class="govuk-button-group">
            <a th:replace="~{fragments/buttons/primaryButtonLink :: primaryButtonLink(@{/local-authority/{id}/manage-users(id=${localAuthority.id})}, #{cancelLAUserInvitationSuccess.returnToManageUsers})}">
                cancelLAUserInvitationSuccess.returnToManageUsers
            </a>
        </div>
    </div>
</main>
</html>