<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(#{cancelLocalCouncilUserInvitationSuccess.title}, ~{::main}, false)}">
<main class="govuk-main-wrapper" id="main-content">
    <div id="page-contents"
         th:replace="~{fragments/layouts/twoThirdsLayout :: twoThirdsLayout(~{::#page-contents/content()})}">
        <div id="confirmation-banner"
             th:replace="~{fragments/banners/confirmationPageBanner :: confirmationPageBanner(#{cancelLocalCouncilUserInvitationSuccess.banner.heading}, ~{::#confirmation-banner/content()})}">
            <strong>
                <span th:text="#{cancelLocalCouncilUserInvitationSuccess.banner.body(${deletedEmail})}"
                      th:remove="tag">cancelLocalCouncilUserInvitationSuccess.banner.body</span>
            </strong>
        </div>
        <p class="govuk-body" th:text="#{cancelLocalCouncilUserInvitationSuccess.paragraph}">
            cancelLocalCouncilUserInvitationSuccess.paragraph
        </p>
        <div class="govuk-button-group">
            <a th:replace="~{fragments/buttons/primaryButtonLink :: primaryButtonLink(@{${returnToManageUsersUrl}}, #{cancelLocalCouncilUserInvitationSuccess.returnToManageUsers})}">
                cancelLocalCouncilUserInvitationSuccess.returnToManageUsers
            </a>
        </div>
    </div>
</main>
</html>