<!--/*@thymesVar id="backUrl" type="java.lang.String"*/-->
<!DOCTYPE html>
<html id="page" th:replace="~{fragments/layout :: layout(#{cookies.title}, ~{::#page/content()}, false)}">
    <a th:replace="~{fragments/forms/backLink :: backLink(${backUrl})}">backLink</a>
    <main class="govuk-main-wrapper" id="main-content" th:insert="~{fragments/layouts/twoThirdsLayout :: twoThirdsLayout(~{::main/content()})}">
        <!-- TODO: PDJB-727 Revisit this page with design once GA removal is confirmed -->
        <header>
            <h1 class="govuk-heading-l" th:text="#{cookies.heading}">cookies.heading</h1>
            <p class="govuk-body" th:text="#{cookies.paragraph.one}">cookies.paragraph.one</p>
        </header>
        <section>
            <h2 class="govuk-heading-m" th:text="#{cookies.essential.heading}">cookies.essential.heading</h2>
            <p class="govuk-body" th:text="#{cookies.essential.paragraph}">cookies.essential.paragraph</p>
            <table th:replace="~{fragments/tables/table :: table(${ {'cookies.table.heading.name', 'cookies.table.heading.purpose', 'cookies.table.heading.expires'} }, ~{::#essential-tbody}, null)}">
                <tbody class="govuk-table__body" id="essential-tbody">
                    <tr class="govuk_table__row">
                        <td class="govuk-table__cell" th:text="#{cookies.essential.table.session.name}">cookies.essential.table.session.name</td>
                        <td class="govuk-table__cell" th:text="#{cookies.essential.table.session.purpose}">cookies.essential.table.session.purpose</td>
                        <td class="govuk-table__cell" th:text="#{cookies.essential.table.session.expires}">cookies.essential.table.session.expires</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</html>
