<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(#{deleteLAUserSuccess.title}, ~{::main}, false)}">
<main class="govuk-main-wrapper" id="main-content">
    <div id="page-contents" th:replace="~{fragments/layouts/twoThirdsLayout :: twoThirdsLayout(~{::#page-contents/content()})}">
        <div id="confirmation-banner" th:replace="~{fragments/confirmationPageBanner :: confirmationPageBanner(#{deleteLAUserSuccess.banner.title}, ~{::#confirmation-banner/content()})}">
            <span th:text="#{deleteLAUserSuccess.banner.body(${deletedUserName}, ${localAuthority.name})}" th:remove="tag">deleteLAUserSuccess.banner.body</span>
        </div>
        <h2 class="govuk-heading-m" th:text="#{common.confirmationPage.whatHappensNext}">common.whatHappensNext</h2>
        <p class="govuk-body" th:text="#{deleteLAUserSuccess.whatHappensNext.paragraph.one(${localAuthority.name})}">
            deleteLAUserSuccess.whatHappensNext.para1
        </p>
        <p class="govuk-body" th:text="#{deleteLAUserSuccess.whatHappensNext.paragraph.two(${localAuthority.name})}">
            deleteLAUserSuccess.whatHappensNext.para2
        </p>
        <div class="govuk-button-group">
            <a th:replace="~{fragments/primaryButtonLink :: primaryButtonLink(@{/local-authority/{id}/manage-users(id=${localAuthority.id})}, #{deleteLAUserSuccess.returnToManageUsers})}">
                deleteLAUserSuccess.returnToManageUsers
            </a>
        </div>
    </div>
</main>
</html>