<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(#{deregisterLandlord.title}, ~{::main}, false)}">
<main class="govuk-main-wrapper" id="main-content">
    <div id="page-contents"
         th:replace="~{fragments/layouts/twoThirdsLayout :: twoThirdsLayout(~{::#page-contents/content()})}">
        <div id="confirmation-banner"
             th:replace="~{fragments/banners/confirmationPageBanner :: confirmationPageBanner(#{deregisterLandlord.noProperties.confirmation.banner.heading}, null)}">
        </div>
        <h1 class="govuk-heading-l" th:text="#{common.confirmationPage.whatHappensNext}">common.whatHappensNext</h1>
        <p class="govuk-body" th:text="#{deregisterLandlord.noProperties.confirmation.paragraph.one}">
            deregisterLandlord.noProperties.confirmation.paragraph.one
        </p>
        <p class="govuk-body" th:text="#{deregisterLandlord.noProperties.confirmation.paragraph.two}">
            deregisterLandlord.noProperties.confirmation.paragraph.two
        </p>
    </div>
</main>
</html>