<!DOCTYPE html>
<html>
<th:block id="page-content" th:replace="~{fragments/layout :: layout(#{manageLAUsers.title}, ~{::#page-content/content()}, false)}">
    <a href="#" th:replace="~{fragments/forms/backLink :: backLink(${backUrl})}">Back link</a>
    <main class="govuk-main-wrapper" id="main-content">
        <div id="form-content" th:replace="~{fragments/layouts/twoThirdsLayout :: twoThirdsLayout(~{::#form-content/content()})}">
            <form th:action="@{''}" method="post" novalidate th:object="${localCouncilUser}">
                <fieldset id="fieldset-content" th:replace="~{fragments/forms/fieldSet :: fieldSet(~{::#fieldset-content/content()}, 'isManager', ${localCouncilUser.name}, null)}">
                    <p class="govuk-body">
                        <strong th:text="#{editLAUserAccess.subHeading.beforeEmail}">editLAUserAccess.subHeading.beforeEmail</strong>
                        <span th:remove="tag" th:text="${localCouncilUser.email}"></span>
                    </p>
                    <h2 class="govuk-heading-m" th:text="#{editLAUserAccess.radios.heading}">editLAUserAccess.radios.heading</h2>
                    <input th:replace="~{fragments/forms/radios :: radios(null, 'isManager', null, ${options})}">
                </fieldset>
                <div class="govuk-button-group">
                    <button th:replace="~{fragments/buttons/primaryButton :: primaryButton(#{editLAUserAccess.saveButton})}"></button>
                    <button th:replace="~{fragments/buttons/warningButton :: warningButton(buttonText=#{editLAUserAccess.deleteAccountButton},href=@{${deleteUserUrl}})}"></button>
                </div>
            </form>
        </div>
    </main>
</th:block>
</html>

