<!--/*@thymesVar id="formModel" type="uk.gov.communities.prsdb.webapp.models.requestModels.formModels.LookupAddressFormModel"*/-->
<!--/*@thymesVar id="backUrl" type="java.lang.String"*/-->
<!DOCTYPE html>
<html id="form-content" th:replace="~{fragments/forms/questionPage :: questionPage(#{forms.findProperty.title}, ${formModel}, ~{::#form-content/content()}, ${backUrl}, null)}">
    <div class="govuk-form-group" th:classappend="${#fields.hasAnyErrors()} ? 'govuk-form-group--error'">
        <fieldset class="govuk-fieldset" th:attr="aria-describedby=${#fields.hasAnyErrors() ? 'findProperty-error' : ''}">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <span class="govuk-caption-l" th:text="#{forms.findProperty.caption}">Join a registered property as a joint landlord</span>
                <h1 class="govuk-fieldset__heading" th:text="#{forms.findProperty.title}">Find a property</h1>
            </legend>
            <div th:replace="~{fragments/forms/basicTextInput :: textInput(#{forms.findProperty.postcode.label}, 'postcode', #{forms.findProperty.postcode.hint})}"></div>
            <div th:replace="~{fragments/forms/basicTextInput :: textInput(#{forms.findProperty.houseNameOrNumber.label}, 'houseNameOrNumber', #{forms.findProperty.houseNameOrNumber.hint})}"></div>
        </fieldset>
    </div>
    <div class="govuk-button-group">
        <button th:replace="~{fragments/buttons/primaryButton :: primaryButton(#{forms.findProperty.submit})}"></button>
        <!--/* TODO: PDJB-277 - Update href to link to PRN search page when implemented */-->
        <a class="govuk-link" href="#" th:text="#{forms.findProperty.alternativeLink}">Find using the Property Registration Number instead</a>
    </div>
</html>
