<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(#{generatePasscode.title}, ~{::main}, false)}">
    <main class="govuk-main-wrapper" id="main-content" th:insert="~{fragments/layouts/twoThirdsLayout :: twoThirdsLayout(~{::main/content()})}">
        <div id="confirmation-banner" th:replace="~{fragments/banners/confirmationPageBanner :: confirmationPageBanner(#{generatePasscode.banner.heading}, ~{::#confirmation-banner/content()})}">
            <span th:text="#{generatePasscode.banner.body}" th:remove="tag">generatePasscode.banner.body</span>
            <br>
            <strong th:text="${passcode}"></strong>
        </div>
        <section>
            <h1 class="govuk-heading-l" th:text="#{common.confirmationPage.whatHappensNext}">common.whatHappensNext</h1>
            <p class="govuk-body" th:text="#{generatePasscode.paragraph.one}">generatePasscode.paragraph.one</p>
            <p class="govuk-body" th:text="#{generatePasscode.paragraph.two}">generatePasscode.paragraph.two</p>
            <p class="govuk-body" th:text="#{generatePasscode.paragraph.three}">generatePasscode.paragraph.three</p>
        </section>
        <form method="POST" th:action="@{''}">
            <div class="govuk-button-group">
                <button th:replace="~{fragments/buttons/primaryButton :: primaryButton(#{generatePasscode.generateAnother})}">generatePasscode.generateAnother</button>
                <a th:replace="~{fragments/buttons/secondaryButtonLink :: secondaryButtonLink(${dashboardUrl}, #{generatePasscode.returnToDashboard})}">generatePasscode.returnToDashboard</a>
            </div>
        </form>
    </main>
</html>
