<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(#{${messageKeys[title]}}, ~{::main})}">
<main class="govuk-main-wrapper" id="main-content">
    <h1 class="govuk-heading-xl" th:text="#{${messageKeys[contentHeader]}}">Default page template</h1>
    <form method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <button type="submit">Next</button>
    </form>
    <div th:replace="~{fragments/startButton :: startButton( ${startButtonHref}, ${startButtonText} )}"></div>
</main>
</html>