<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(#{${messageKeys.title}}, ~{::main})}">
<main class="govuk-main-wrapper" id="main-content">
    <!-- TODO: Error summary -->
    <form method="post" novalidate>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <fieldset class="govuk-fieldset" role="group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading" th:text="#{${messageKeys.fieldsetHeading}}">
                    What is your piece of information?
                </h1>
            </legend>
            <div id="fieldset-hint" class="govuk-hint" th:text="#{${messageKeys.fieldsetHint}}">
                We'll use this to perform some service or activity.
            </div>
            <p th:id="|fieldset-error-${errorStat.count}|" class="govuk-error-message" th:each="errorKey, errorStat : ${pageModel.pageErrorKeys}">
                <span class="govuk-visually-hidden">Error:</span> <span th:text="#{${errorKey}}" th:remove="tag">Your email address must contain an @ symbol.</span>
            </p>
            <div class="govuk-form-group"
                 th:classappend="${not #lists.isEmpty(fieldModel.errorKeys)} ? 'govuk-form-group--error'"
                 th:each="fieldModel : ${pageModel.fieldModels}"
            >
                <label class="govuk-label" th:for="|${fieldModel.fieldName}-field|" th:text="#{${fieldModel.labelKey}}">
                    Enter your information
                </label>
                <div th:if="${fieldModel.hintKey != null}" th:id="|${fieldModel.fieldName}-hint|" class="govuk-hint" th:text="#{${fieldModel.hintKey}}">
                    We'll use this to perform some service or activity
                </div>
                <p th:id="|${fieldModel.fieldName}-error-${errorStat.index}|" class="govuk-error-message" th:each="errorKey, errorStat : ${fieldModel.errorKeys}">
                    <span class="govuk-visually-hidden">Error:</span> <span th:text="#{${errorKey}}" th:remove="tag">Please make sure to lorem ipsum</span>
                </p>
                <div th:replace="~{|fragments/formcomponents/${fieldModel.fragmentName}| :: ${fieldModel.fragmentName}(model=${fieldModel})}"></div>
            </div>
        </fieldset>
        <div
                th:each="button : ${buttons}"
                th:with="buttonType = ${button.isPrimary ? 'primaryButton' : 'secondaryButton'}"
                th:remove="tag"
        >
            <button th:replace="~{|fragments/${buttonType}| :: ${buttonType}(buttonText=${button.textKey}, name=${button.name}, value=${button.value})}">
                Save and continue
            </button>
        </div>
    </form>
</main>
</html>