<!DOCTYPE html>
<html id="main-content" th:replace="~{fragments/layout :: layout(#{landlord.incompleteCompliances.title},~{::#main-content/content()}, false)}">
<a href="#" th:replace="~{fragments/forms/backLink :: backLink(${backUrl})}">Back link</a>
<main class="govuk-main-wrapper">
    <div id="page-content">
        <h1 class="govuk-heading-l" th:text="#{landlord.incompleteCompliances.heading}">landlord.incompleteCompliances.heading</h1>

        <th:block th:unless="${#lists.isEmpty(incompleteCompliances)}">
            <p class="govuk-body-l govuk-hint" th:text="#{landlord.incompleteCompliances.hintText}">landlord.incompleteCompliances.hintText</p>
            <th:block th:each="property: ${incompleteCompliances}">
                <div th:replace="~{fragments/summaryCard :: summaryCard(${property.title}, ${property.cardNumber}, ${property.actions}, ${property.summaryList})}" ></div>
            </th:block>
        </th:block>
        <th:block th:if="${#lists.isEmpty(incompleteCompliances)}">
            <p class="govuk-body-l govuk-hint" th:text="#{landlord.incompleteCompliances.none.hintText}">landlord.incompleteCompliances.none.hintText</p>
            <p class="govuk-body" th:text="#{landlord.incompleteCompliances.none.paragraph.one}">landlord.incompleteCompliances.none.paragraph.one</p>
            <section>
                <h2 class="govuk-heading-s" th:text="#{landlord.incompleteCompliances.updatePropertyOccupancy.heading}">
                    landlord.incompleteCompliances.updatePropertyOccupancy.heading
                </h2>
                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        <span th:text="#{landlord.incompleteCompliances.updatePropertyOccupancy.bullet.one.beforeLink}">
                            landlord.incompleteCompliances.updatePropertyOccupancy.bullet.one.beforeLink
                        </span><a class="govuk-link" th:text="#{landlord.incompleteCompliances.updatePropertyOccupancy.bullet.one.linkText}" th:href="${viewRegisteredPropertiesUrl}">
                        landlord.incompleteCompliances.updatePropertyOccupancy.bullet.one.linkText
                        </a><span th:text="#{landlord.incompleteCompliances.updatePropertyOccupancy.bullet.one.afterLink}">
                        landlord.incompleteCompliances.updatePropertyOccupancy.bullet.one.afterLink</span>
                    </li>
                    <li th:text="#{landlord.incompleteCompliances.updatePropertyOccupancy.bullet.two}">
                        landlord.incompleteCompliances.updatePropertyOccupancy.bullet.two
                    </li>
                    <li th:text="#{landlord.incompleteCompliances.updatePropertyOccupancy.bullet.three}">
                        landlord.incompleteCompliances.updatePropertyOccupancy.bullet.three
                    </li>
                    <li th:text="#{landlord.incompleteCompliances.updatePropertyOccupancy.bullet.four}">
                        landlord.incompleteCompliances.updatePropertyOccupancy.bullet.four
                    </li>
                    <li th:text="#{landlord.incompleteCompliances.updatePropertyOccupancy.bullet.five}">
                        landlord.incompleteCompliances.updatePropertyOccupancy.bullet.five
                    </li>
                </ul>
                <p class="govuk-body" th:text="#{landlord.incompleteCompliances.updatePropertyOccupancy.paragraph.one}">landlord.incompleteCompliances.updatePropertyOccupancy.paragraph.one</p>
            </section>
        </th:block>
    </div>
</main>
</html>