<!DOCTYPE html>
<html id="main-content" th:replace="~{fragments/layout :: layout(#{landlord.incompleteProperties.title},~{::#main-content/content()}, false)}">
<a href="#" th:replace="~{fragments/forms/backLink :: backLink(${backUrl})}">Back link</a>
<main class="govuk-main-wrapper">
    <div id="page-content">
        <h1 class="govuk-heading-l" th:text="#{landlord.incompleteProperties.heading}">landlord.incompleteProperties.heading</h1>

        <th:block th:unless="${#lists.isEmpty(incompleteProperties)}">
            <p class="govuk-body-l" th:text="#{landlord.incompleteProperties.text}">landlord.incompleteProperties.text</p>
            <th:block th:each="property: ${incompleteProperties}">
                <div th:replace="~{fragments/summaryCard :: summaryCard(${property.title}, ${property.cardNumber}, ${property.actions}, ${property.summaryList})}" ></div>
            </th:block>
        </th:block>
        <th:block th:if="${#lists.isEmpty(incompleteProperties)}">
            <p class="govuk-body-l govuk-hint" th:text="#{landlord.incompleteProperties.none.hintText}">landlord.incompleteProperties.none.hintText</p>
            <p class="govuk-body">
                <span th:remove="tag" class="govuk-body" th:text="#{landlord.incompleteProperties.none.text.beforeLinks}">
                    landlord.incompleteProperties.none.text.beforeLinks
                </span>
                <a class="govuk-link" th:text="#{landlord.incompleteProperties.none.viewRegisteredProperties.linkText}" th:href="${viewRegisteredPropertiesUrl}">
                    landlord.incompleteProperties.none.viewRegisteredProperties.linkText
                </a>
                <span th:remove="tag" class="govuk-body" th:text="#{landlord.incompleteProperties.none.text.betweenLinks}">
                    landlord.incompleteProperties.none.text.betweenLinks
                </span>
                <a class="govuk-link" th:text="#{landlord.incompleteProperties.none.registerANewProperty.linkText}" th:href="${registerPropertyUrl}">
                    landlord.incompleteProperties.none.registerANewProperty.linkText
                </a><span class="govuk-body" th:text="#{landlord.incompleteProperties.none.text.afterLinks}">
                    landlord.incompleteProperties.none.text.afterLinks
                </span>
            </p>
        </th:block>
    </div>
</main>
</html>