<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(#{invalidPasscode.title}, ~{::main}, false)}">
    <main class="govuk-main-wrapper" id="main-content" th:insert="~{fragments/layouts/twoThirdsLayout :: twoThirdsLayout(~{::main/content()})}">
        <h1 class="govuk-heading-l" th:text="#{invalidPasscode.heading}">invalidPasscode.heading</h1>
        <p class="govuk-body" th:text="#{invalidPasscode.paragraph.one}">invalidPasscode.paragraph.one</p>
        <p class="govuk-body" th:text="#{invalidPasscode.paragraph.two}">invalidPasscode.paragraph.two</p>
        <button th:replace="~{fragments/buttons/primaryButtonLink :: primaryButtonLink(${passcodeEntryUrl}, #{invalidPasscode.cta})}">invalidPasscode.cta</button>
    </main>
</html>
