<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(#{forms.inviteLaAdminUser.title}, ~{::main}, false)}">
<main class="govuk-main-wrapper" id="main-content">
    <div id="page-contents"
         th:replace="~{fragments/layouts/twoThirdsLayout :: twoThirdsLayout(~{::#page-contents/content()})}">
        <div id="confirmation-banner"
             th:replace="~{fragments/banners/confirmationPageBanner :: confirmationPageBanner(#{addLAUserSuccess.banner.heading}, ~{::#confirmation-banner/content()})}">
            <span th:text="#{forms.inviteLaAdminUserConfirmation.banner.body(${invitedEmailAddress}, ${localAuthorityName})}" th:remove="tag">addLAUserSuccess.banner.body</span>
        </div>
        <h2 class="govuk-heading-m" th:text="#{common.confirmationPage.whatHappensNext}">common.whatHappensNext</h2>
        <p class="govuk-body" th:text="#{addLAUserSuccess.whatHappensNext.paragraph.one}">
            addLAUserSuccess.whatHappensNext.para1
        </p>
        <p class="govuk-body" th:text="#{addLAUserSuccess.whatHappensNext.paragraph.two(${localAuthorityName})}">
            addLAUserSuccess.whatHappensNext.para2
        </p>
        <p class="govuk-body" th:text="#{forms.inviteLaAdminUserConfirmation.whatHappensNext.paragraph.three(${localAuthorityName})}">
            forms.inviteLaAdminUserConfirmation.whatHappensNext.paragraph.three
        </p>
        <div class="govuk-button-group">
            <a th:replace="~{fragments/buttons/primaryButtonLink :: primaryButtonLink(@{${inviteAnotherUserUrl}}, #{addLAUserSuccess.inviteAnother})}">
                addLAUserSuccess.inviteAnother
            </a>
            <!--TODO PRSD-672 - replace with an enabled button-->
            <a th:replace="~{fragments/buttons/disabledSecondaryButtonLink :: disabledSecondaryButtonLink(@{${dashboardUrl}}, #{addLAUserSuccess.returnToDashboard})}">
                addLAUserSuccess.returnToDashboard
            </a>
        </div>
    </div>
</main>
</html>