<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(#{addLAUser.title}, ${serviceName}, ~{::main})}">
<main class="govuk-main-wrapper" id="main-content">
    <div th:replace="~{fragments/twoThirdsLayout :: twoThirdsLayout(~{::#header})}">
        <header id="header">
            <h1 class="govuk-heading-l" th:text="#{addLAUser.heading(${councilName})}"></h1>
        </header>
    </div>
    <th:block  th:object="${confirmedEmailDataModel}">
        <div  th:replace="~{fragments/error-summary :: summary(#{addLAUser.error.summaryHeading}, ${ {'email', 'confirmEmail'} }) }"></div>
    </th:block>
    <div th:replace="~{fragments/twoThirdsLayout :: twoThirdsLayout(~{::#explanation})}">
        <section id="explanation">
            <p th:text="#{addLAUser.paragraph.one}" class="govuk-body">
                addLAUser.paragraph.one
            </p>
            <p th:text="#{addLAUser.paragraph.two}" class="govuk-body">
                addLAUser.paragraph.two
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li th:text="#{addLAUser.paragraph.two.bullet.one}">
                    addLAUser.paragraph.two.bullet.one
                </li>
                <li th:text="#{addLAUser.paragraph.two.bullet.two}">
                    addLAUser.paragraph.two.bullet.two
                </li>
            </ul>
        </section>
    </div>
    <div th:replace="~{fragments/twoThirdsLayout :: twoThirdsLayout(~{::#email-form})}">
    <form class="form" id="email-form" method="post" th:action="@{/manage-users/invite-new-user}" th:object="${confirmedEmailDataModel}">
        <input th:replace="~{fragments/forms/textInput :: textInput(#{addLAUser.form.primaryEmailLabel}, 'email')}">
        <input th:replace="~{fragments/forms/textInput :: textInput(#{addLAUser.form.confirmEmailLabel}, 'confirmEmail')}">

        <button th:replace="~{fragments/primaryButton :: primaryButton(#{addLAUser.form.submitButton})}"></button>
    </form>
    </div>
</main>
</html>