<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(#{privacyNotice.title}, ~{::main}, false)}">
<main class="govuk-main-wrapper" id="main-content">
    <div id="page-contents"
         th:replace="~{fragments/layouts/twoThirdsLayout :: twoThirdsLayout(~{::#page-contents/content()})}">
        <section>
            <span class="govuk-caption-l" th:text="#{registerAsALandlord.caption}">registerAsALandlord.caption</span>
            <h1 class="govuk-heading-l" th:text="#{privacyNotice.heading}">privacyNotice.heading</h1>
            <p class="govuk-body" th:text="#{privacyNotice.section.intro.paragraph.one}">privacyNotice.section.intro.paragraph.one</p>
        </section>
        <section>
            <h3 class="govuk-heading-s" th:text="#{privacyNotice.section.one.heading}">privacyNotice.section.one.heading</h3>
            <p class="govuk-body">
                <span th:remove="tag" th:text="#{privacyNotice.section.one.paragraph.one.beforeEmailLink}">privacyNotice.section.one.paragraph.one.beforeEmailLink</span>
                <a class="govuk-link"
                   th:href="@{'mailto:'+${dpoEmail}}"
                   th:text="#{privacyNotice.section.one.paragraph.one.emailLink}">
                    privacyNotice.section.one.paragraph.one.emailLink
                </a><span
                    th:remove="tag" th:text="#{privacyNotice.section.one.paragraph.one.afterEmailLink}">privacyNotice.section.one.paragraph.one.afterEmailLink</span>
            </p>
        </section>
        <section>
            <h3 class="govuk-heading-s" th:text="#{privacyNotice.section.two.heading}">privacyNotice.section.two.heading</h3>
            <p class="govuk-body" th:text="#{privacyNotice.section.two.paragraph.one}">privacyNotice.section.two.paragraph.one</p>
            <h3 class="govuk-heading-s" th:text="#{privacyNotice.section.two.landlordPersonalData.heading}">privacyNotice.section.two.landlordPersonalData.heading</h3>
            <p class="govuk-body" th:text="#{privacyNotice.section.two.landlordPersonalData.paragraph.one}">privacyNotice.section.two.landlordPersonalData.paragraph.one</p>
            <ul class="govuk-list govuk-list--bullet">
                <li th:text="#{privacyNotice.section.two.landlordPersonalData.bullet.one}">privacyNotice.section.two.landlordPersonalData.bullet.one</li>
                <li th:text="#{privacyNotice.section.two.landlordPersonalData.bullet.two}">privacyNotice.section.two.landlordPersonalData.bullet.two</li>
                <li th:text="#{privacyNotice.section.two.landlordPersonalData.bullet.three}">privacyNotice.section.two.landlordPersonalData.bullet.three</li>
                <li th:text="#{privacyNotice.section.two.landlordPersonalData.bullet.four}">privacyNotice.section.two.landlordPersonalData.bullet.four</li>
                <li th:text="#{privacyNotice.section.two.landlordPersonalData.bullet.five}">privacyNotice.section.two.landlordPersonalData.bullet.five</li>
                <li th:text="#{privacyNotice.section.two.landlordPersonalData.bullet.six}">privacyNotice.section.two.landlordPersonalData.bullet.six</li>
                <li th:text="#{privacyNotice.section.two.landlordPersonalData.bullet.seven}">privacyNotice.section.two.landlordPersonalData.bullet.seven</li>
            </ul>
            <h3 class="govuk-heading-s" th:text="#{privacyNotice.section.two.jointLandlordPersonalData.heading}">privacyNotice.section.two.jointLandlordPersonalData.heading</h3>
            <p class="govuk-body" th:text="#{privacyNotice.section.two.jointLandlordPersonalData.paragraph.one}">privacyNotice.section.two.jointLandlordPersonalData.paragraph.one</p>
            <ul class="govuk-list govuk-list--bullet">
                <li th:text="#{privacyNotice.section.two.jointLandlordPersonalData.bullet.one}">privacyNotice.section.two.jointLandlordPersonalData.bullet.one</li>
                <li th:text="#{privacyNotice.section.two.jointLandlordPersonalData.bullet.two}">privacyNotice.section.two.jointLandlordPersonalData.bullet.two</li>
                <li th:text="#{privacyNotice.section.two.jointLandlordPersonalData.bullet.three}">privacyNotice.section.two.jointLandlordPersonalData.bullet.three</li>
            </ul>
            <h3 class="govuk-heading-s" th:text="#{privacyNotice.section.two.propertyInformation.heading}">privacyNotice.section.two.propertyInformation.heading</h3>
            <p class="govuk-body" th:text="#{privacyNotice.section.two.propertyInformation.paragraph.one}">privacyNotice.section.two.propertyInformation.paragraph.one</p>
            <ul class="govuk-list govuk-list--bullet">
                <li th:text="#{privacyNotice.section.two.propertyInformation.bullet.one}">privacyNotice.section.two.propertyInformation.bullet.one</li>
                <li th:text="#{privacyNotice.section.two.propertyInformation.bullet.two}">privacyNotice.section.two.propertyInformation.bullet.two</li>
                <li th:text="#{privacyNotice.section.two.propertyInformation.bullet.three}">privacyNotice.section.two.propertyInformation.bullet.three</li>
                <li th:text="#{privacyNotice.section.two.propertyInformation.bullet.four}">privacyNotice.section.two.propertyInformation.bullet.four</li>
                <li th:text="#{privacyNotice.section.two.propertyInformation.bullet.five}">privacyNotice.section.two.propertyInformation.bullet.five</li>
                <li th:text="#{privacyNotice.section.two.propertyInformation.bullet.six}">privacyNotice.section.two.propertyInformation.bullet.six</li>
                <li th:text="#{privacyNotice.section.two.propertyInformation.bullet.seven}">privacyNotice.section.two.propertyInformation.bullet.seven</li>
                <li th:text="#{privacyNotice.section.two.propertyInformation.bullet.eight}">privacyNotice.section.two.propertyInformation.bullet.eight</li>
                <li th:text="#{privacyNotice.section.two.propertyInformation.bullet.nine}">privacyNotice.section.two.propertyInformation.bullet.nine</li>
                <li th:text="#{privacyNotice.section.two.propertyInformation.bullet.ten}">privacyNotice.section.two.propertyInformation.bullet.ten</li>
                <li th:text="#{privacyNotice.section.two.propertyInformation.bullet.eleven}">privacyNotice.section.two.propertyInformation.bullet.eleven</li>
                <li th:text="#{privacyNotice.section.two.propertyInformation.bullet.twelve}">privacyNotice.section.two.propertyInformation.bullet.twelve</li>
            </ul>
            <h3 class="govuk-heading-s" th:text="#{privacyNotice.section.two.propertyCertificateDetails.heading}">privacyNotice.section.two.propertyCertificateDetails.heading</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li th:text="#{privacyNotice.section.two.propertyCertificateDetails.bullet.one}">privacyNotice.section.two.propertyCertificateDetails.bullet.one</li>
                <li th:text="#{privacyNotice.section.two.propertyCertificateDetails.bullet.two}">privacyNotice.section.two.propertyCertificateDetails.bullet.two</li>
                <li th:text="#{privacyNotice.section.two.propertyCertificateDetails.bullet.three}">privacyNotice.section.two.propertyCertificateDetails.bullet.three</li>
                <li th:text="#{privacyNotice.section.two.propertyCertificateDetails.bullet.four}">privacyNotice.section.two.propertyCertificateDetails.bullet.four</li>
            </ul>
            <h3 class="govuk-heading-s" th:text="#{privacyNotice.section.two.rentalInformation.heading}">privacyNotice.section.two.rentalInformation.heading</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li th:text="#{privacyNotice.section.two.rentalInformation.bullet.one}">privacyNotice.section.two.rentalInformation.bullet.one</li>
                <li th:text="#{privacyNotice.section.two.rentalInformation.bullet.two}">privacyNotice.section.two.rentalInformation.bullet.two</li>
                <li th:text="#{privacyNotice.section.two.rentalInformation.bullet.three}">privacyNotice.section.two.rentalInformation.bullet.three</li>
                <li th:text="#{privacyNotice.section.two.rentalInformation.bullet.four}">privacyNotice.section.two.rentalInformation.bullet.four</li>
            </ul>
            <h3 class="govuk-heading-s" th:text="#{privacyNotice.section.two.surveyData.heading}">privacyNotice.section.two.surveyData.heading</h3>
            <p class="govuk-body" th:text="#{privacyNotice.section.two.surveyData.paragraph.one}">privacyNotice.section.two.surveyData.paragraph.one</p>
            <ul class="govuk-list govuk-list--bullet">
                <li th:text="#{privacyNotice.section.two.surveyData.bullet.one}">privacyNotice.section.two.surveyData.bullet.one</li>
                <li th:text="#{privacyNotice.section.two.surveyData.bullet.two}">privacyNotice.section.two.surveyData.bullet.two</li>
                <li th:text="#{privacyNotice.section.two.surveyData.bullet.three}">privacyNotice.section.two.surveyData.bullet.three</li>
            </ul>
            <h3 class="govuk-heading-s" th:text="#{privacyNotice.section.two.usageData.heading}">privacyNotice.section.two.usageData.heading</h3>
            <p class="govuk-body" th:text="#{privacyNotice.section.two.usageData.paragraph.one}">privacyNotice.section.two.usageData.paragraph.one</p>
            <p class="govuk-body" th:text="#{privacyNotice.section.two.usageData.paragraph.two}">privacyNotice.section.two.usageData.paragraph.two</p>
            <p class="govuk-body" th:text="#{privacyNotice.section.two.usageData.paragraph.three}">privacyNotice.section.two.usageData.paragraph.three</p>
            <p class="govuk-body" th:text="#{privacyNotice.section.two.usageData.paragraph.four}">privacyNotice.section.two.usageData.paragraph.four</p>
            <h3 class="govuk-heading-s" th:text="#{privacyNotice.section.two.whyWeCollect.heading}">privacyNotice.section.two.whyWeCollect.heading</h3>
            <p class="govuk-body" th:text="#{privacyNotice.section.two.whyWeCollect.paragraph.one}">privacyNotice.section.two.whyWeCollect.paragraph.one</p>
            <ul class="govuk-list govuk-list--bullet">
                <li th:text="#{privacyNotice.section.two.whyWeCollect.bullet.one}">privacyNotice.section.two.whyWeCollect.bullet.one</li>
                <li th:text="#{privacyNotice.section.two.whyWeCollect.bullet.two}">privacyNotice.section.two.whyWeCollect.bullet.two</li>
                <li th:text="#{privacyNotice.section.two.whyWeCollect.bullet.three}">privacyNotice.section.two.whyWeCollect.bullet.three</li>
                <li th:text="#{privacyNotice.section.two.whyWeCollect.bullet.four}">privacyNotice.section.two.whyWeCollect.bullet.four</li>
                <li th:text="#{privacyNotice.section.two.whyWeCollect.bullet.five}">privacyNotice.section.two.whyWeCollect.bullet.five</li>
                <li th:text="#{privacyNotice.section.two.whyWeCollect.bullet.six}">privacyNotice.section.two.whyWeCollect.bullet.six</li>
                <li th:text="#{privacyNotice.section.two.whyWeCollect.bullet.seven}">privacyNotice.section.two.whyWeCollect.bullet.seven</li>
                <li th:text="#{privacyNotice.section.two.whyWeCollect.bullet.eight}">privacyNotice.section.two.whyWeCollect.bullet.eight</li>
                <li th:text="#{privacyNotice.section.two.whyWeCollect.bullet.nine}">privacyNotice.section.two.whyWeCollect.bullet.nine</li>
            </ul>
        </section>
        <section>
            <h2 class="govuk-heading-m" th:text="#{privacyNotice.section.three.heading}">privacyNotice.section.three.heading</h2>
            <p class="govuk-body" th:text="#{privacyNotice.section.three.paragraph.one}">privacyNotice.section.three.paragraph.one</p>
            <p class="govuk-body" th:text="#{privacyNotice.section.three.paragraph.two}">privacyNotice.section.three.paragraph.two</p>
            <ul class="govuk-list govuk-list--bullet">
                <li th:utext="#{privacyNotice.section.three.paragraph.two.bullet.one}">privacyNotice.section.three.paragraph.two.bullet.one</li>
                <li th:utext="#{privacyNotice.section.three.paragraph.two.bullet.two}">privacyNotice.section.three.paragraph.two.bullet.two</li>
                <li th:utext="#{privacyNotice.section.three.paragraph.two.bullet.three}">privacyNotice.section.three.paragraph.two.bullet.three</li>
            </ul>
            <p class="govuk-body" th:text="#{privacyNotice.section.three.paragraph.three}">privacyNotice.section.three.paragraph.three</p>
            <ul class="govuk-list govuk-list--bullet">
                <li th:utext="#{privacyNotice.section.three.paragraph.three.bullet.one}">privacyNotice.section.three.paragraph.three.bullet.one</li>
            </ul>
        </section>
        <section>
            <h2 class="govuk-heading-m" th:text="#{privacyNotice.section.four.heading}">privacyNotice.section.four.heading</h2>
            <p class="govuk-body" th:text="#{privacyNotice.section.four.paragraph.one}">privacyNotice.section.four.paragraph.one</p>
            <h3 class="govuk-heading-s" th:text="#{privacyNotice.section.four.paragraph.two.heading}">privacyNotice.section.four.paragraph.two.heading</h3>
            <p class="govuk-body" th:text="#{privacyNotice.section.four.paragraph.two}">privacyNotice.section.four.paragraph.two</p>
            <h3 class="govuk-heading-s" th:text="#{privacyNotice.section.four.paragraph.three.heading}">privacyNotice.section.four.paragraph.three.heading</h3>
            <p class="govuk-body" th:text="#{privacyNotice.section.four.paragraph.three}">privacyNotice.section.four.paragraph.three</p>
            <h3 class="govuk-heading-s" th:text="#{privacyNotice.section.four.paragraph.four.heading}">privacyNotice.section.four.paragraph.four.heading</h3>
            <p class="govuk-body" th:text="#{privacyNotice.section.four.paragraph.four}">privacyNotice.section.four.paragraph.four</p>
            <h3 class="govuk-heading-s" th:text="#{privacyNotice.section.four.paragraph.five.heading}">privacyNotice.section.four.paragraph.five.heading</h3>
            <p class="govuk-body" th:text="#{privacyNotice.section.four.paragraph.five}">privacyNotice.section.four.paragraph.five</p>
            <h3 class="govuk-heading-s" th:text="#{privacyNotice.section.four.paragraph.six.heading}">privacyNotice.section.four.paragraph.six.heading</h3>
            <p class="govuk-body" th:text="#{privacyNotice.section.four.paragraph.six}">privacyNotice.section.four.paragraph.six</p>
            <h3 class="govuk-heading-s" th:text="#{privacyNotice.section.four.paragraph.seven.heading}">privacyNotice.section.four.paragraph.seven.heading</h3>
            <p class="govuk-body" th:text="#{privacyNotice.section.four.paragraph.seven}">privacyNotice.section.four.paragraph.seven</p>
            <h3 class="govuk-heading-s" th:text="#{privacyNotice.section.four.paragraph.eight.heading}">privacyNotice.section.four.paragraph.eight.heading</h3>
            <p class="govuk-body" th:text="#{privacyNotice.section.four.paragraph.eight}">privacyNotice.section.four.paragraph.eight</p>
            <ul class="govuk-list govuk-list--bullet">
                <li th:text="#{privacyNotice.section.four.paragraph.eight.bullet.one}">privacyNotice.section.four.paragraph.eight.bullet.one</li>
                <li th:text="#{privacyNotice.section.four.paragraph.eight.bullet.two}">privacyNotice.section.four.paragraph.eight.bullet.two</li>
                <li th:text="#{privacyNotice.section.four.paragraph.eight.bullet.three}">privacyNotice.section.four.paragraph.eight.bullet.three</li>
            </ul>
        </section>
        <section>
            <h2 class="govuk-heading-m" th:text="#{privacyNotice.section.five.heading}">privacyNotice.section.five.heading</h2>
            <p class="govuk-body" th:text="#{privacyNotice.section.five.paragraph.one}">privacyNotice.section.five.paragraph.one</p>
            <p class="govuk-body" th:utext="#{privacyNotice.section.five.paragraph.two}">privacyNotice.section.five.paragraph.two</p>
            <p class="govuk-body" th:utext="#{privacyNotice.section.five.paragraph.three}">privacyNotice.section.five.paragraph.three</p>
            <p class="govuk-body" th:utext="#{privacyNotice.section.five.paragraph.four}">privacyNotice.section.five.paragraph.four</p>
        </section>
        <section>
            <h2 class="govuk-heading-m" th:text="#{privacyNotice.section.six.heading}">privacyNotice.section.six.heading</h2>
            <p class="govuk-body" th:text="#{privacyNotice.section.six.paragraph.one}">privacyNotice.section.six.paragraph.one</p>
            <ul class="govuk-list govuk-list--bullet">
                <li th:text="#{privacyNotice.section.six.paragraph.one.bullet.one}">privacyNotice.section.six.paragraph.one.bullet.one</li>
                <li th:text="#{privacyNotice.section.six.paragraph.one.bullet.two}">privacyNotice.section.six.paragraph.one.bullet.two</li>
                <li th:text="#{privacyNotice.section.six.paragraph.one.bullet.three}">privacyNotice.section.six.paragraph.one.bullet.three</li>
                <li th:text="#{privacyNotice.section.six.paragraph.one.bullet.four}">privacyNotice.section.six.paragraph.one.bullet.four</li>
                <li th:text="#{privacyNotice.section.six.paragraph.one.bullet.five}">privacyNotice.section.six.paragraph.one.bullet.five</li>
            </ul>
        </section>
        <section>
            <h2 class="govuk-heading-m" th:text="#{privacyNotice.section.seven.heading}">privacyNotice.section.seven.heading</h2>
            <p class="govuk-body" th:text="#{privacyNotice.section.seven.paragraph.one}">privacyNotice.section.seven.paragraph.one</p>
        </section>
        <section>
            <h2 class="govuk-heading-m" th:text="#{privacyNotice.section.eight.heading}">privacyNotice.section.eight.heading</h2>
            <p class="govuk-body" th:text="#{privacyNotice.section.eight.paragraph.one}">privacyNotice.section.eight.paragraph.one</p>
        </section>
        <section>
            <h2 class="govuk-heading-m" th:text="#{privacyNotice.section.nine.heading}">privacyNotice.section.nine.heading</h2>
            <p class="govuk-body" th:text="#{privacyNotice.section.nine.paragraph.one}">privacyNotice.section.nine.paragraph.one</p>
        </section>
        <section>
            <h2 class="govuk-heading-m" th:text="#{privacyNotice.section.complaints.heading}">privacyNotice.section.complaints.heading</h2>
            <p class="govuk-body" th:text="#{privacyNotice.section.complaints.paragraph.one}">privacyNotice.section.complaints.paragraph.one</p>
            <p class="govuk-body">
                <span th:remove="tag" th:text="#{privacyNotice.section.complaints.paragraph.two.beforeLink}">privacyNotice.section.complaints.paragraph.two.beforeLink</span>
                <a class="govuk-link" th:href="${complaintsProcedureUrl}" rel="noreferrer noopener" target="_blank"
                   th:text="#{privacyNotice.section.complaints.paragraph.two.linkText}">privacyNotice.section.complaints.paragraph.two.linkText</a><span
                    th:remove="tag" th:text="#{privacyNotice.section.complaints.paragraph.two.afterLink}">privacyNotice.section.complaints.paragraph.two.afterLink</span>
            </p>
            <p class="govuk-body">
                <span th:remove="tag" th:text="#{privacyNotice.section.complaints.paragraph.three.beforeEmailLink}">privacyNotice.section.complaints.paragraph.three.beforeEmailLink</span>
                <a class="govuk-link"
                   th:href="@{'mailto:'+${dataProtectionEmail}}"
                   th:text="#{privacyNotice.section.complaints.paragraph.three.emailLinkText}">
                    privacyNotice.section.complaints.paragraph.three.emailLinkText
                </a><span
                    th:remove="tag" th:text="#{privacyNotice.section.complaints.paragraph.three.afterEmailLink}">privacyNotice.section.complaints.paragraph.three.afterEmailLink</span>
            </p>
            <p class="govuk-body" th:text="#{privacyNotice.section.complaints.paragraph.four}">privacyNotice.section.complaints.paragraph.four</p>
            <p class="govuk-body">
                <span class="govuk-!-font-weight-bold" th:text="#{privacyNotice.section.complaints.ico.address.title}">privacyNotice.section.complaints.ico.address.title</span>
                <br/>
                <span th:remove="tag" th:text="#{privacyNotice.section.complaints.ico.address.line.one}">privacyNotice.section.complaints.ico.address.line.one</span>
                <br/>
                <span th:remove="tag" th:text="#{privacyNotice.section.complaints.ico.address.line.two}">privacyNotice.section.complaints.ico.address.line.two</span>
                <br/>
                <span th:remove="tag" th:text="#{privacyNotice.section.complaints.ico.address.line.three}">privacyNotice.section.complaints.ico.address.line.three</span>
                <br/>
                <span th:remove="tag" th:text="#{privacyNotice.section.complaints.ico.address.line.four}">privacyNotice.section.complaints.ico.address.line.four</span>
                <br/>
                <span th:remove="tag" th:text="#{privacyNotice.section.complaints.ico.address.line.five}">privacyNotice.section.complaints.ico.address.line.five</span>
            </p>
            <p class="govuk-body">
                <span class="govuk-!-font-weight-bold" th:text="#{privacyNotice.section.complaints.ico.phone.title}">privacyNotice.section.complaints.ico.phone.title</span>
                <span th:remove="tag" th:text="#{privacyNotice.section.complaints.ico.phone.numberText}">privacyNotice.section.complaints.ico.phone.numberText</span>
            </p>
            <p class="govuk-body">
                <span class="govuk-!-font-weight-bold" th:text="#{privacyNotice.section.complaints.ico.website.title}">privacyNotice.section.complaints.ico.website.title</span>
                <a class="govuk-link"
                   th:href="${informationCommissionersOfficeUrl}"
                   rel="noreferrer noopener" target="_blank"
                   th:text="#{privacyNotice.section.complaints.ico.website.linkText}">privacyNotice.section.complaints.ico.website.linkText</a>
            </p>
            <p class="govuk-body">
                <span class="govuk-body" th:remove="tag" th:text="#{privacyNotice.section.complaints.paragraph.five.beforeLink}">privacyNotice.section.complaints.paragraph.five.beforeLink</span>
                <a class="govuk-link"
                   th:href="${informationCommissionersOfficeForThePublicUrl}"
                   rel="noreferrer noopener" target="_blank"
                   th:text="#{privacyNotice.section.complaints.paragraph.five.link}">privacyNotice.section.complaints.paragraph.five.link</a>
                <span class="govuk-body" th:remove="tag" th:text="#{privacyNotice.section.complaints.paragraph.five.afterLink}">privacyNotice.section.complaints.paragraph.five.afterLink</span>
            </p>
        </section>
    </div>
</main>
</html>
