<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(#{landlordDetails.title}, ~{::main}, false)}">
<main class="govuk-main-wrapper" id="main-content">
    <div id="page-contents">
        <h2 class="govuk-heading-m" th:text="#{landlordDetails.heading}">landlordDetails.heading</h2>

        <div th:replace="~{fragments/buttons/pageHeaderActions :: pageHeaderActions(${name}, ~{:: #delete-record-button})}">
            <th:block id="delete-record-button">
                <a th:replace="~{fragments/buttons/primaryButtonLink :: primaryButtonLink('delete-record', #{landlordDetails.removeRecord})}"></a>
            </th:block>
        </div>

        <div th:replace="~{fragments/tabs/tabs :: tabs(~{:: #tabs-content})}" >
            <th:block id="tabs-content">
                <ul th:replace="~{fragments/tabs/tabsHeadingList :: tabsHeadingList(~{:: #tab-headings})}">
                    <th:block id="tab-headings">
                        <li th:replace="~{fragments/tabs/tabsListItem :: tabsListItem('personal-details', #{landlordDetails.personalDetails.heading})}">
                        </li>
                        <li th:replace="~{fragments/tabs/tabsListItem :: tabsListItem('registered-properties', #{landlordDetails.registeredProperties.heading})}">
                        </li>
                    </th:block>
                </ul>

                <div th:replace="~{fragments/tabs/tabsPanel :: tabsPanel('personal-details', ~{:: #personal-details-panel-content})}">
                    <th:block id="personal-details-panel-content">
                        <dl th:replace="~{fragments/summaryList :: summaryList(${landlord.personalDetails})}" ></dl>
                        <h2 class="govuk-heading-m" th:text="#{landlordDetails.personalDetails.optionalChoices.heading}">landlordDetails.personalDetails.optionalChoices.heading</h2>
                        <p class="govuk-hint" th:text="#{landlordDetails.personalDetails.optionalChoices.hint}">landlordDetails.personalDetails.optionalChoices.hint</p>
                        <dl th:replace="~{fragments/summaryList :: summaryList(${landlord.consentInformation})}" ></dl>
                    </th:block>
                </div>

                <div th:replace="~{fragments/tabs/tabsPanel :: tabsPanel('registered-properties', ~{:: #registered-properties-panel-content})}">
                    <th:block id="registered-properties-panel-content">
                        <table th:replace="~{fragments/tables/table :: table(
                            ${ { 'landlordDetails.registeredProperties.table.addressHeading', 'landlordDetails.registeredProperties.table.localAuthorityHeading', 'landlordDetails.registeredProperties.table.licenceHeading', 'landlordDetails.registeredProperties.table.tenantedHeading' } },
                            ~{::tbody},
                            null
                        )}
                    ">
                            <tbody class="govuk-table__body">
                            <tr class="govuk_table__row" th:each="property: ${registeredPropertiesList}">
                                <td class="govuk-table__cell govuk-!-width-one-quarter">
                                    <a class="govuk-link" th:text="${property.address}" href="/">${property.address}</a>
                                    <br>
                                    <span th:remove="tag" th:text="${property.registrationNumber}"></span>
                                </td>
                                <td class="govuk-table__cell govuk-!-width-one-quarter" th:text="${property.localAuthorityName}"></td>
                                <td class="govuk-table__cell govuk-!-width-one-quarter" th:text="${property.propertyLicence}"></td>
                                <td class="govuk-table__cell govuk-!-width-one-quarter" th:text="#{${property.tenantedMessageKey}}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </th:block>
                </div>
            </th:block>
        </div>


    </div>
</main>
</html>