<!DOCTYPE html>
<html id="main-content"
      th:replace="~{fragments/layout :: layout(#{landlordDetails.title}, ~{::#main-content/content()}, false)}">
<a href="#" th:replace="~{fragments/forms/backLink :: backLink(${backUrl})}">Back link</a>
<main class="govuk-main-wrapper">
    <div id="page-contents">
        <h2 class="govuk-heading-m" th:text="#{landlordDetails.heading}">landlordDetails.heading</h2>

        <h1 class="govuk-heading-l" th:text="${name}">name</h1>

        <div th:replace="~{fragments/lastModifiedInsetText :: lastModifiedInsetText(${name}, ${lastModifiedDate})}">
        </div>

        <div th:replace="~{fragments/tabs/tabs :: tabs(~{:: #tabs-content})}">
            <th:block id="tabs-content">
                <ul th:replace="~{fragments/tabs/tabsHeadingList :: tabsHeadingList(~{:: #tab-headings})}">
                    <th:block id="tab-headings">
                        <li th:replace="~{fragments/tabs/tabsListItem :: tabsListItem('personal-details', #{landlordDetails.personalDetails.heading})}">
                        </li>
                        <li th:replace="~{fragments/tabs/tabsListItem :: tabsListItem(${registeredPropertiesUrlSegment}, #{landlordDetails.registeredProperties.heading})}">
                        </li>
                    </th:block>
                </ul>

                <div th:replace="~{fragments/tabs/tabsPanel :: tabsPanel('personal-details', ~{:: #personal-details-panel-content})}">
                    <th:block id="personal-details-panel-content">
                        <dl th:replace="~{fragments/summaryList :: summaryList(${landlord.personalDetails})}"></dl>
                        <h2 class="govuk-heading-m"
                            th:text="#{landlordDetails.personalDetails.optionalChoices.heading}">
                            landlordDetails.personalDetails.optionalChoices.heading</h2>
                        <dl th:replace="~{fragments/summaryList :: summaryList(${landlord.consentInformation})}"></dl>
                    </th:block>
                </div>

                <div th:replace="~{fragments/tabs/tabsPanel :: tabsPanel(${registeredPropertiesUrlSegment}, ~{:: #registered-properties-panel-content})}">
                    <th:block id="registered-properties-panel-content">
                        <table th:replace="~{fragments/tables/table :: table(
                                ${ { 'landlordDetails.registeredProperties.table.addressHeading', 'landlordDetails.registeredProperties.table.registrationNumberHeading', 'landlordDetails.registeredProperties.table.localAuthorityHeading', 'landlordDetails.registeredProperties.table.licensingTypeHeading', 'landlordDetails.registeredProperties.table.tenantedHeading' } },
                                ~{::tbody},
                                null
                            )}
                        ">
                            <tbody class="govuk-table__body">
                            <tr class="govuk_table__row" th:each="property: ${registeredPropertiesList}">
                                <td class="govuk-table__cell">
                                    <a class="govuk-link" th:text="${property.address}"
                                       th:href="@{${property.recordLink}}">
                                        ${property.address}
                                    </a>
                                </td>
                                <td class="govuk-table__cell" th:text="${property.registrationNumber}"></td>
                                <td class="govuk-table__cell" th:text="${property.localAuthorityName}"></td>
                                <td class="govuk-table__cell" th:text="#{${property.licenseTypeMessageKey}}"></td>
                                <td class="govuk-table__cell" th:text="#{${property.isTenantedMessageKey}}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </th:block>
                </div>
            </th:block>
        </div>

    </div>
</main>
</html>