<!--/*@thymesVar id="backUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="informationCommissionersOfficeUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="complaintsProcedureUrl" type="java.lang.String"*/-->
<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(#{localCouncilPrivacyNotice.title}, ~{::main}, false)}">
<a href="#" th:replace="~{fragments/forms/backLink :: backLink(${backUrl})}">Back link</a>
<main class="govuk-main-wrapper" id="main-content">
    <div id="page-contents"
         th:replace="~{fragments/layouts/twoThirdsLayout :: twoThirdsLayout(~{::#page-contents/content()})}">
        <section>
            <h1 class="govuk-heading-l" th:text="#{localCouncilPrivacyNotice.heading}">localCouncilPrivacyNotice.heading</h1>
        </section>
        <section>
            <h2 class="govuk-heading-m" th:text="#{localCouncilPrivacyNotice.section.one.heading}">localCouncilPrivacyNotice.section.one.heading</h2>
            <p class="govuk-body" th:text="#{localCouncilPrivacyNotice.section.one.paragraph.one}">localCouncilPrivacyNotice.section.one.paragraph.one</p>
            <p class="govuk-body">
                <span th:remove="tag" th:text="#{localCouncilPrivacyNotice.section.one.paragraph.two.beforeEmailLink}">localCouncilPrivacyNotice.section.one.paragraph.two.beforeEmailLink</span>
                <a class="govuk-link" th:href="'mailto:' + ${dataProtectionOfficerEmail}" th:text="#{localCouncilPrivacyNotice.section.one.paragraph.two.emailLinkText}">
                    localCouncilPrivacyNotice.section.ten.paragraph.three.emailLinkText
                </a><span th:remove="tag" th:text="#{localCouncilPrivacyNotice.section.one.paragraph.two.afterEmailLink}">localCouncilPrivacyNotice.section.one.paragraph.two.afterEmailLink</span>
            </p>
        </section>
        <section>
            <h2 class="govuk-heading-m" th:text="#{localCouncilPrivacyNotice.section.two.heading}">localCouncilPrivacyNotice.section.two.heading</h2>
            <p class="govuk-body" th:text="#{localCouncilPrivacyNotice.section.two.paragraph.one}">localCouncilPrivacyNotice.section.two.paragraph.one</p>

            <h3 class="govuk-heading-s" th:text="#{localCouncilPrivacyNotice.section.two.subheading.one}">localCouncilPrivacyNotice.section.two.subheading.one</h3>
            <p class="govuk-body" th:text="#{localCouncilPrivacyNotice.section.two.subsection.one.paragraph.one}">localCouncilPrivacyNotice.section.two.subsection.one.paragraph.one</p>
            <ul class="govuk-list govuk-list--bullet">
                <li th:replace="~{fragments/partiallyBoldBullet :: partiallyBoldBullet(#{localCouncilPrivacyNotice.section.two.subsection.one.bullet.one.boldText},#{localCouncilPrivacyNotice.section.two.subsection.one.bullet.one.normalText}, null)}"></li>
                <li th:replace="~{fragments/partiallyBoldBullet :: partiallyBoldBullet(#{localCouncilPrivacyNotice.section.two.subsection.one.bullet.two.boldText},#{localCouncilPrivacyNotice.section.two.subsection.one.bullet.two.normalText}, null)}"></li>
                <li th:replace="~{fragments/partiallyBoldBullet :: partiallyBoldBullet(#{localCouncilPrivacyNotice.section.two.subsection.one.bullet.three.boldText},#{localCouncilPrivacyNotice.section.two.subsection.one.bullet.three.normalText}, null)}"></li>
                <li th:replace="~{fragments/partiallyBoldBullet :: partiallyBoldBullet(#{localCouncilPrivacyNotice.section.two.subsection.one.bullet.four.boldText},#{localCouncilPrivacyNotice.section.two.subsection.one.bullet.four.normalText}, null)}"></li>
                <li th:replace="~{fragments/partiallyBoldBullet :: partiallyBoldBullet(#{localCouncilPrivacyNotice.section.two.subsection.one.bullet.five.boldText},#{localCouncilPrivacyNotice.section.two.subsection.one.bullet.five.normalText}, null)}"></li>
                <li id="section2UsageDataBullet" th:replace="~{fragments/partiallyBoldBullet :: partiallyBoldBullet(#{localCouncilPrivacyNotice.section.two.subsection.one.bullet.six.boldText},#{localCouncilPrivacyNotice.section.two.subsection.one.bullet.six.normalText}, ~{::#section2UsageDataBullet/content()})}">
                    <ul class="govuk-list govuk-list--bullet">
                        <li th:replace="~{fragments/partiallyBoldBullet :: partiallyBoldBullet(#{localCouncilPrivacyNotice.section.two.subsection.one.bullet.six.ga4.boldText},#{localCouncilPrivacyNotice.section.two.subsection.one.bullet.six.ga4.normalText}, null)}"></li>
                        <li th:replace="~{fragments/partiallyBoldBullet :: partiallyBoldBullet(#{localCouncilPrivacyNotice.section.two.subsection.one.bullet.six.essential.boldText},#{localCouncilPrivacyNotice.section.two.subsection.one.bullet.six.essential.normalText}, null)}"></li>
                    </ul>
                </li>
            </ul>
            <p class="govuk-body" th:text="#{localCouncilPrivacyNotice.section.two.subsection.one.important.note}">localCouncilPrivacyNotice.section.two.subsection.one.important.note</p>

            <h3 class="govuk-heading-s" th:text="#{localCouncilPrivacyNotice.section.two.subheading.two}">localCouncilPrivacyNotice.section.two.subheading.two</h3>
            <p class="govuk-body" th:text="#{localCouncilPrivacyNotice.section.two.subsection.two.paragraph.one}">localCouncilPrivacyNotice.section.two.subsection.two.paragraph.one</p>
            <ul class="govuk-list govuk-list--bullet">
                <li th:replace="~{fragments/partiallyBoldBullet :: partiallyBoldBullet(#{localCouncilPrivacyNotice.section.two.subsection.two.bullet.one.boldText},#{localCouncilPrivacyNotice.section.two.subsection.two.bullet.one.normalText}, null)}"></li>
                <li th:replace="~{fragments/partiallyBoldBullet :: partiallyBoldBullet(#{localCouncilPrivacyNotice.section.two.subsection.two.bullet.two.boldText},#{localCouncilPrivacyNotice.section.two.subsection.two.bullet.two.normalText}, null)}"></li>
                <li id="section2SubSection2ServiceImprovement" th:replace="~{fragments/partiallyBoldBullet :: partiallyBoldBullet(#{localCouncilPrivacyNotice.section.two.subsection.two.bullet.three.boldText},#{localCouncilPrivacyNotice.section.two.subsection.two.bullet.three.normalText}, ~{::#section2SubSection2ServiceImprovement/content()})}">
                    <ul class="govuk-list govuk-list--bullet">
                        <li class="govuk-!-font-weight-bold" th:text="#{localCouncilPrivacyNotice.section.two.subsection.two.bullet.three.ga4.note}">localCouncilPrivacyNotice.section.two.subsection.two.bullet.three.ga4.note</li>
                    </ul>
                </li>
                <li th:replace="~{fragments/partiallyBoldBullet :: partiallyBoldBullet(#{localCouncilPrivacyNotice.section.two.subsection.two.bullet.four.boldText},#{localCouncilPrivacyNotice.section.two.subsection.two.bullet.four.normalText}, null)}"></li>
                <li th:replace="~{fragments/partiallyBoldBullet :: partiallyBoldBullet(#{localCouncilPrivacyNotice.section.two.subsection.two.bullet.five.boldText},#{localCouncilPrivacyNotice.section.two.subsection.two.bullet.five.normalText}, null)}"></li>
            </ul>
            <p class="govuk-body">
                <span class="govuk-!-font-weight-bold" th:text="#{localCouncilPrivacyNotice.section.two.subsection.two.note.prefix}">localCouncilPrivacyNotice.section.two.subsection.two.note.prefix</span>
                <span th:remove="tag" th:text="#{localCouncilPrivacyNotice.section.two.subsection.two.note}">localCouncilPrivacyNotice.section.two.subsection.two.note</span>
            </p>
        </section>
        <section>
            <h2 class="govuk-heading-m" th:text="#{localCouncilPrivacyNotice.section.three.heading}">localCouncilPrivacyNotice.section.three.heading</h2>
            <p class="govuk-body" th:text="#{localCouncilPrivacyNotice.section.three.paragraph.one}">localCouncilPrivacyNotice.section.three.paragraph.one</p>
            <ul class="govuk-list govuk-list--bullet">
                <li th:replace="~{fragments/partiallyBoldBullet :: partiallyBoldBullet(#{localCouncilPrivacyNotice.section.three.bullet.one.boldText},#{localCouncilPrivacyNotice.section.three.bullet.one.normalText}, null)}"></li>
                <li th:replace="~{fragments/partiallyBoldBullet :: partiallyBoldBullet(#{localCouncilPrivacyNotice.section.three.bullet.two.boldText},#{localCouncilPrivacyNotice.section.three.bullet.two.normalText}, null)}"></li>
                <li th:replace="~{fragments/partiallyBoldBullet :: partiallyBoldBullet(#{localCouncilPrivacyNotice.section.three.bullet.three.boldText},#{localCouncilPrivacyNotice.section.three.bullet.three.normalText}, null)}"></li>
            </ul>
        </section>
        <section>
            <h2 class="govuk-heading-m" th:text="#{localCouncilPrivacyNotice.section.four.heading}">localCouncilPrivacyNotice.section.four.heading</h2>
            <p class="govuk-body" th:text="#{localCouncilPrivacyNotice.section.four.paragraph.one}">localCouncilPrivacyNotice.section.four.subheading.one</p>
            <p class="govuk-body" th:text="#{localCouncilPrivacyNotice.section.four.paragraph.two}">localCouncilPrivacyNotice.section.four.paragraph.one</p>
        </section>
        <section>
            <h2 class="govuk-heading-m" th:text="#{localCouncilPrivacyNotice.section.five.heading}">localCouncilPrivacyNotice.section.five.heading</h2>
            <p class="govuk-body" th:text="#{localCouncilPrivacyNotice.section.five.paragraph.one}">localCouncilPrivacyNotice.section.five.paragraph.one</p>
            <p class="govuk-body">
                <span class="govuk-!-font-weight-bold" th:text="#{localCouncilPrivacyNotice.section.five.paragraph.two.bold}">localCouncilPrivacyNotice.section.five.paragraph.two.boldText</span>
                <span th:remove="tag" th:text="#{localCouncilPrivacyNotice.section.five.paragraph.two.normal}">localCouncilPrivacyNotice.section.five.paragraph.two.normalText</span>
            </p>
            <p class="govuk-body" th:text="#{localCouncilPrivacyNotice.section.five.paragraph.three}">localCouncilPrivacyNotice.section.five.paragraph.three</p>
        </section>
        <section>
            <h2 class="govuk-heading-m" th:text="#{localCouncilPrivacyNotice.section.six.heading}">localCouncilPrivacyNotice.section.six.heading</h2>
            <p class="govuk-body" th:text="#{localCouncilPrivacyNotice.section.six.paragraph.one}">localCouncilPrivacyNotice.section.six.paragraph.one</p>
            <ol class="govuk-list govuk-list--number">
                <li th:text="#{localCouncilPrivacyNotice.section.six.bullet.one}">localCouncilPrivacyNotice.section.six.bullet.one</li>
                <li th:text="#{localCouncilPrivacyNotice.section.six.bullet.two}">localCouncilPrivacyNotice.section.six.bullet.two</li>
                <li th:text="#{localCouncilPrivacyNotice.section.six.bullet.three}">localCouncilPrivacyNotice.section.six.bullet.three</li>
                <li th:text="#{localCouncilPrivacyNotice.section.six.bullet.four}">localCouncilPrivacyNotice.section.six.bullet.four</li>
                <li th:text="#{localCouncilPrivacyNotice.section.six.bullet.five}">localCouncilPrivacyNotice.section.six.bullet.five</li>
            </ol>
        </section>
        <section>
            <h2 class="govuk-heading-m" th:text="#{localCouncilPrivacyNotice.section.seven.heading}">localCouncilPrivacyNotice.section.seven.heading</h2>
            <p class="govuk-body" th:text="#{localCouncilPrivacyNotice.section.seven.paragraph.one}">localCouncilPrivacyNotice.section.seven.paragraph.one</p>
        </section>
        <section>
            <h2 class="govuk-heading-m" th:text="#{localCouncilPrivacyNotice.section.eight.heading}">localCouncilPrivacyNotice.section.eight.heading</h2>
            <p class="govuk-body" th:text="#{localCouncilPrivacyNotice.section.eight.paragraph.one}">localCouncilPrivacyNotice.section.eight.paragraph.one</p>
        </section>
        <section>
            <h2 class="govuk-heading-m" th:text="#{localCouncilPrivacyNotice.section.nine.heading}">localCouncilPrivacyNotice.section.nine.heading</h2>
            <p class="govuk-body" th:text="#{localCouncilPrivacyNotice.section.nine.paragraph.one}">localCouncilPrivacyNotice.section.nine.paragraph.one</p>
        </section>
        <section>
            <h2 class="govuk-heading-m" th:text="#{localCouncilPrivacyNotice.section.ten.heading}">localCouncilPrivacyNotice.section.ten.heading</h2>
            <p class="govuk-body" th:text="#{localCouncilPrivacyNotice.section.ten.paragraph.one}">localCouncilPrivacyNotice.section.ten.paragraph.one</p>
            <p class="govuk-body">
                <span th:remove="tag" th:text="#{localCouncilPrivacyNotice.section.ten.paragraph.two.beforeLink}">localCouncilPrivacyNotice.section.ten.paragraph.two.beforeLink</span>
                <a class="govuk-link" th:href="${complaintsProcedureUrl}" rel="noreferrer noopener" target="_blank"
                   th:text="#{localCouncilPrivacyNotice.section.ten.paragraph.two.linkText}">localCouncilPrivacyNotice.section.ten.paragraph.two.linkText</a><span
                    th:remove="tag" th:text="#{localCouncilPrivacyNotice.section.ten.paragraph.two.afterLink}">localCouncilPrivacyNotice.section.ten.paragraph.two.afterLink</span>
            </p>
            <p class="govuk-body">
                <span th:remove="tag" th:text="#{localCouncilPrivacyNotice.section.ten.paragraph.three.beforeEmailLink}">localCouncilPrivacyNotice.section.ten.paragraph.three.beforeEmailLink</span>
                <a class="govuk-link" th:href="'mailto:' + ${dataProtectionCommunitiesEmails}" th:text="#{localCouncilPrivacyNotice.section.ten.paragraph.three.emailLinkText}">
                    localCouncilPrivacyNotice.section.ten.paragraph.three.emailLinkText
                </a><span th:remove="tag" th:text="#{localCouncilPrivacyNotice.section.ten.paragraph.three.afterEmailLink}">localCouncilPrivacyNotice.section.ten.paragraph.three.afterEmailLink</span>
            </p>
            <p class="govuk-body" th:text="#{localCouncilPrivacyNotice.section.ten.paragraph.four}">localCouncilPrivacyNotice.section.ten.paragraph.four</p>
            <p class="govuk-body">
                <span class="govuk-!-font-weight-bold" th:text="#{localCouncilPrivacyNotice.section.ten.ico.address.title}">localCouncilPrivacyNotice.section.ten.ico.address.title</span>
                <br/>
                <span th:remove="tag" th:text="#{localCouncilPrivacyNotice.section.ten.ico.address.line.one}">localCouncilPrivacyNotice.section.ten.ico.address.line.one</span>
                <br/>
                <span th:remove="tag" th:text="#{localCouncilPrivacyNotice.section.ten.ico.address.line.two}">localCouncilPrivacyNotice.section.ten.ico.address.line.two</span>
                <br/>
                <span th:remove="tag" th:text="#{localCouncilPrivacyNotice.section.ten.ico.address.line.three}">localCouncilPrivacyNotice.section.ten.ico.address.line.three</span>
                <br/>
                <span th:remove="tag" th:text="#{localCouncilPrivacyNotice.section.ten.ico.address.line.four}">localCouncilPrivacyNotice.section.ten.ico.address.line.four</span>
                <br/>
                <span th:remove="tag" th:text="#{localCouncilPrivacyNotice.section.ten.ico.address.line.five}">localCouncilPrivacyNotice.section.ten.ico.address.line.five</span>
            </p>
            <p class="govuk-body">
                <span class="govuk-!-font-weight-bold" th:text="#{localCouncilPrivacyNotice.section.ten.ico.phone.title}">localCouncilPrivacyNotice.section.ten.ico.phone.title</span>
                <span th:remove="tag" th:text="#{localCouncilPrivacyNotice.section.ten.ico.phone.numberText}">localCouncilPrivacyNotice.section.ten.ico.phone.numberText</span>
                <br/>
                <span class="govuk-!-font-weight-bold" th:text="#{localCouncilPrivacyNotice.section.ten.ico.website.title}">localCouncilPrivacyNotice.section.ten.ico.website.title
                </span> <a class="govuk-link" th:href="${informationCommissionersOfficeUrl}" rel="noreferrer noopener" target="_blank" th:text="#{localCouncilPrivacyNotice.section.ten.ico.website.linkText}">informationCommissionersOfficeUrl</a>
            </p>
        </section>
    </div>
</main>
</html>
