<!--/*@thymesVar id="informationCommissionersOfficeUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="complaintsProcedureUrl" type="java.lang.String"*/-->
<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(#{localCouncilPrivacyNotice.title}, ~{::main}, false)}">
<main class="govuk-main-wrapper" id="main-content">
    <div id="page-contents"
         th:replace="~{fragments/layouts/twoThirdsLayout :: twoThirdsLayout(~{::#page-contents/content()})}">
        <section>
            <span class="govuk-caption-l" th:text="#{localCouncilServiceName}">localCouncilServiceName</span>
            <h1 class="govuk-heading-l" th:text="#{localCouncilPrivacyNotice.heading}">localCouncilPrivacyNotice.heading</h1>
        </section>
        <section>
            <h2 class="govuk-heading-m" th:text="#{localCouncilPrivacyNotice.section.one.heading}">localCouncilPrivacyNotice.section.one.heading</h2>
            <p class="govuk-body" th:text="#{localCouncilPrivacyNotice.section.one.paragraph.one}">localCouncilPrivacyNotice.section.one.paragraph.one</p>
            <p class="govuk-body">
                <span th:remove="tag" th:text="#{localCouncilPrivacyNotice.section.one.paragraph.two.beforeEmailLink}">localCouncilPrivacyNotice.section.one.paragraph.two.beforeEmailLink</span>
                <a class="govuk-link" th:href="'mailto:' + ${dataProtectionOfficerEmail}" th:text="#{localCouncilPrivacyNotice.section.one.paragraph.two.emailLinkText}">
                    localCouncilPrivacyNotice.section.one.paragraph.two.emailLinkText
                </a><span th:remove="tag" th:text="#{localCouncilPrivacyNotice.section.one.paragraph.two.afterEmailLink}">localCouncilPrivacyNotice.section.one.paragraph.two.afterEmailLink</span>
            </p>
        </section>
        <section>
            <h2 class="govuk-heading-m" th:text="#{localCouncilPrivacyNotice.section.two.heading}">localCouncilPrivacyNotice.section.two.heading</h2>
            <p class="govuk-body" th:text="#{localCouncilPrivacyNotice.section.two.paragraph.one}">localCouncilPrivacyNotice.section.two.paragraph.one</p>

            <h3 class="govuk-heading-s" th:text="#{localCouncilPrivacyNotice.section.two.subheading.one}">localCouncilPrivacyNotice.section.two.subheading.one</h3>
            <p class="govuk-body" th:text="#{localCouncilPrivacyNotice.section.two.subsection.one.paragraph.one}">localCouncilPrivacyNotice.section.two.subsection.one.paragraph.one</p>
            <ul class="govuk-list govuk-list--bullet">
                <li th:replace="~{fragments/partiallyBoldBullet :: partiallyBoldBullet(#{localCouncilPrivacyNotice.section.two.subsection.one.bullet.one.boldText},#{localCouncilPrivacyNotice.section.two.subsection.one.bullet.one.normalText}, null)}"></li>
                <li th:replace="~{fragments/partiallyBoldBullet :: partiallyBoldBullet(#{localCouncilPrivacyNotice.section.two.subsection.one.bullet.two.boldText},#{localCouncilPrivacyNotice.section.two.subsection.one.bullet.two.normalText}, null)}"></li>
                <li th:replace="~{fragments/partiallyBoldBullet :: partiallyBoldBullet(#{localCouncilPrivacyNotice.section.two.subsection.one.bullet.three.boldText},#{localCouncilPrivacyNotice.section.two.subsection.one.bullet.three.normalText}, null)}"></li>
                <li th:replace="~{fragments/partiallyBoldBullet :: partiallyBoldBullet(#{localCouncilPrivacyNotice.section.two.subsection.one.bullet.four.boldText},#{localCouncilPrivacyNotice.section.two.subsection.one.bullet.four.normalText}, null)}"></li>
                <li th:replace="~{fragments/partiallyBoldBullet :: partiallyBoldBullet(#{localCouncilPrivacyNotice.section.two.subsection.one.bullet.five.boldText},#{localCouncilPrivacyNotice.section.two.subsection.one.bullet.five.normalText}, null)}"></li>
            </ul>

            <h3 class="govuk-heading-s" th:text="#{localCouncilPrivacyNotice.section.two.subheading.two}">localCouncilPrivacyNotice.section.two.subheading.two</h3>
            <p class="govuk-body" th:utext="#{localCouncilPrivacyNotice.section.two.subsection.two.paragraph.one}">localCouncilPrivacyNotice.section.two.subsection.two.paragraph.one</p>
            <p class="govuk-body">
                <span class="govuk-!-font-weight-bold" th:text="#{localCouncilPrivacyNotice.section.two.subsection.two.statisticalPurpose.boldText}">localCouncilPrivacyNotice.section.two.subsection.two.statisticalPurpose.boldText</span>
                <span th:remove="tag" th:utext="#{localCouncilPrivacyNotice.section.two.subsection.two.statisticalPurpose.normalText}">localCouncilPrivacyNotice.section.two.subsection.two.statisticalPurpose.normalText</span>
            </p>
            <p class="govuk-body">
                <span class="govuk-!-font-weight-bold" th:text="#{localCouncilPrivacyNotice.section.two.subsection.two.important.prefix}">localCouncilPrivacyNotice.section.two.subsection.two.important.prefix</span>
                <span th:remove="tag" th:text="#{localCouncilPrivacyNotice.section.two.subsection.two.important.note}">localCouncilPrivacyNotice.section.two.subsection.two.important.note</span>
            </p>

            <h3 class="govuk-heading-s" th:text="#{localCouncilPrivacyNotice.section.two.subheading.three}">localCouncilPrivacyNotice.section.two.subheading.three</h3>
            <p class="govuk-body" th:text="#{localCouncilPrivacyNotice.section.two.subsection.three.paragraph.one}">localCouncilPrivacyNotice.section.two.subsection.three.paragraph.one</p>
            <ul class="govuk-list govuk-list--bullet">
                <li th:replace="~{fragments/partiallyBoldBullet :: partiallyBoldBullet(#{localCouncilPrivacyNotice.section.two.subsection.three.bullet.one.boldText},#{localCouncilPrivacyNotice.section.two.subsection.three.bullet.one.normalText}, null)}"></li>
                <li th:replace="~{fragments/partiallyBoldBullet :: partiallyBoldBullet(#{localCouncilPrivacyNotice.section.two.subsection.three.bullet.two.boldText},#{localCouncilPrivacyNotice.section.two.subsection.three.bullet.two.normalText}, null)}"></li>
                <li th:replace="~{fragments/partiallyBoldBullet :: partiallyBoldBullet(#{localCouncilPrivacyNotice.section.two.subsection.three.bullet.three.boldText},#{localCouncilPrivacyNotice.section.two.subsection.three.bullet.three.normalText}, null)}"></li>
                <li th:replace="~{fragments/partiallyBoldBullet :: partiallyBoldBullet(#{localCouncilPrivacyNotice.section.two.subsection.three.bullet.four.boldText},#{localCouncilPrivacyNotice.section.two.subsection.three.bullet.four.normalText}, null)}"></li>
                <li th:replace="~{fragments/partiallyBoldBullet :: partiallyBoldBullet(#{localCouncilPrivacyNotice.section.two.subsection.three.bullet.five.boldText},#{localCouncilPrivacyNotice.section.two.subsection.three.bullet.five.normalText}, null)}"></li>
            </ul>
            <p class="govuk-body">
                <span class="govuk-!-font-weight-bold" th:text="#{localCouncilPrivacyNotice.section.two.subsection.three.note.prefix}">localCouncilPrivacyNotice.section.two.subsection.three.note.prefix</span>
                <span th:remove="tag" th:text="#{localCouncilPrivacyNotice.section.two.subsection.three.note}">localCouncilPrivacyNotice.section.two.subsection.three.note</span>
            </p>
        </section>
        <section>
            <h2 class="govuk-heading-m" th:text="#{localCouncilPrivacyNotice.section.three.heading}">localCouncilPrivacyNotice.section.three.heading</h2>
            <p class="govuk-body" th:text="#{localCouncilPrivacyNotice.section.three.paragraph.one}">localCouncilPrivacyNotice.section.three.paragraph.one</p>
            <ul class="govuk-list govuk-list--bullet">
                <li th:replace="~{fragments/partiallyBoldBullet :: partiallyBoldBullet(#{localCouncilPrivacyNotice.section.three.bullet.one.boldText},#{localCouncilPrivacyNotice.section.three.bullet.one.normalText}, null)}"></li>
                <li>
                    <span class="govuk-!-font-weight-bold" th:text="#{localCouncilPrivacyNotice.section.three.bullet.two.boldText}">localCouncilPrivacyNotice.section.three.bullet.two.boldText</span>
                    <span th:remove="tag" th:utext="#{localCouncilPrivacyNotice.section.three.bullet.two.normalText}">localCouncilPrivacyNotice.section.three.bullet.two.normalText</span>
                </li>
                <li th:replace="~{fragments/partiallyBoldBullet :: partiallyBoldBullet(#{localCouncilPrivacyNotice.section.three.bullet.three.boldText},#{localCouncilPrivacyNotice.section.three.bullet.three.normalText}, null)}"></li>
            </ul>
        </section>
        <section>
            <h2 class="govuk-heading-m" th:text="#{localCouncilPrivacyNotice.section.four.heading}">localCouncilPrivacyNotice.section.four.heading</h2>
            <p class="govuk-body" th:text="#{localCouncilPrivacyNotice.section.four.paragraph.one}">localCouncilPrivacyNotice.section.four.paragraph.one</p>
            <p class="govuk-body">
                <span class="govuk-!-font-weight-bold" th:text="#{localCouncilPrivacyNotice.section.four.bullet.one.boldText}">localCouncilPrivacyNotice.section.four.bullet.one.boldText</span>
                <br/>
                <span th:remove="tag" th:text="#{localCouncilPrivacyNotice.section.four.bullet.one.normalText}">localCouncilPrivacyNotice.section.four.bullet.one.normalText</span>
            </p>
            <p class="govuk-body">
                <span class="govuk-!-font-weight-bold" th:text="#{localCouncilPrivacyNotice.section.four.bullet.two.boldText}">localCouncilPrivacyNotice.section.four.bullet.two.boldText</span>
                <br/>
                <span th:remove="tag" th:text="#{localCouncilPrivacyNotice.section.four.bullet.two.normalText}">localCouncilPrivacyNotice.section.four.bullet.two.normalText</span>
            </p>
            <p class="govuk-body">
                <span class="govuk-!-font-weight-bold" th:text="#{localCouncilPrivacyNotice.section.four.bullet.three.boldText}">localCouncilPrivacyNotice.section.four.bullet.three.boldText</span>
                <br/>
                <span th:remove="tag" th:text="#{localCouncilPrivacyNotice.section.four.bullet.three.normalText}">localCouncilPrivacyNotice.section.four.bullet.three.normalText</span>
            </p>
            <p class="govuk-body">
                <span class="govuk-!-font-weight-bold" th:text="#{localCouncilPrivacyNotice.section.four.bullet.four.boldText}">localCouncilPrivacyNotice.section.four.bullet.four.boldText</span>
                <br/>
                <span th:remove="tag" th:text="#{localCouncilPrivacyNotice.section.four.bullet.four.normalText}">localCouncilPrivacyNotice.section.four.bullet.four.normalText</span>
            </p>
        </section>
        <section>
            <h2 class="govuk-heading-m" th:text="#{localCouncilPrivacyNotice.section.five.heading}">localCouncilPrivacyNotice.section.five.heading</h2>
            <p class="govuk-body" th:text="#{localCouncilPrivacyNotice.section.five.paragraph.one}">localCouncilPrivacyNotice.section.five.paragraph.one</p>
            <ul class="govuk-list govuk-list--bullet">
                <li th:replace="~{fragments/partiallyBoldBullet :: partiallyBoldBullet(#{localCouncilPrivacyNotice.section.five.bullet.one.boldText},#{localCouncilPrivacyNotice.section.five.bullet.one.normalText}, null)}"></li>
                <li th:replace="~{fragments/partiallyBoldBullet :: partiallyBoldBullet(#{localCouncilPrivacyNotice.section.five.bullet.two.boldText},#{localCouncilPrivacyNotice.section.five.bullet.two.normalText}, null)}"></li>
            </ul>
        </section>
        <section>
            <h2 class="govuk-heading-m" th:text="#{localCouncilPrivacyNotice.section.six.heading}">localCouncilPrivacyNotice.section.six.heading</h2>
            <p class="govuk-body" th:text="#{localCouncilPrivacyNotice.section.six.paragraph.one}">localCouncilPrivacyNotice.section.six.paragraph.one</p>
            <p class="govuk-body" th:text="#{localCouncilPrivacyNotice.section.six.paragraph.two}">localCouncilPrivacyNotice.section.six.paragraph.two</p>
            <p class="govuk-body govuk-!-margin-left-4" th:text="#{localCouncilPrivacyNotice.section.six.bullet.one}">localCouncilPrivacyNotice.section.six.bullet.one</p>
            <p class="govuk-body govuk-!-margin-left-4" th:text="#{localCouncilPrivacyNotice.section.six.bullet.two}">localCouncilPrivacyNotice.section.six.bullet.two</p>
            <p class="govuk-body govuk-!-margin-left-4" th:text="#{localCouncilPrivacyNotice.section.six.bullet.three}">localCouncilPrivacyNotice.section.six.bullet.three</p>
            <p class="govuk-body govuk-!-margin-left-4" th:text="#{localCouncilPrivacyNotice.section.six.bullet.four}">localCouncilPrivacyNotice.section.six.bullet.four</p>
            <p class="govuk-body govuk-!-margin-left-4" th:text="#{localCouncilPrivacyNotice.section.six.bullet.five}">localCouncilPrivacyNotice.section.six.bullet.five</p>
        </section>
        <section>
            <h2 class="govuk-heading-m" th:text="#{localCouncilPrivacyNotice.section.seven.heading}">localCouncilPrivacyNotice.section.seven.heading</h2>
            <p class="govuk-body" th:text="#{localCouncilPrivacyNotice.section.seven.paragraph.one}">localCouncilPrivacyNotice.section.seven.paragraph.one</p>
        </section>
        <section>
            <h2 class="govuk-heading-m" th:text="#{localCouncilPrivacyNotice.section.eight.heading}">localCouncilPrivacyNotice.section.eight.heading</h2>
            <p class="govuk-body" th:text="#{localCouncilPrivacyNotice.section.eight.paragraph.one}">localCouncilPrivacyNotice.section.eight.paragraph.one</p>
        </section>
        <section>
            <h2 class="govuk-heading-m" th:text="#{localCouncilPrivacyNotice.section.nine.heading}">localCouncilPrivacyNotice.section.nine.heading</h2>
            <p class="govuk-body" th:text="#{localCouncilPrivacyNotice.section.nine.paragraph.one}">localCouncilPrivacyNotice.section.nine.paragraph.one</p>
        </section>
        <section>
            <h2 class="govuk-heading-m" th:text="#{localCouncilPrivacyNotice.section.ten.heading}">localCouncilPrivacyNotice.section.ten.heading</h2>
            <p class="govuk-body" th:text="#{localCouncilPrivacyNotice.section.ten.paragraph.one}">localCouncilPrivacyNotice.section.ten.paragraph.one</p>
            <p class="govuk-body">
                <span th:remove="tag" th:text="#{localCouncilPrivacyNotice.section.ten.paragraph.two.beforeLink}">localCouncilPrivacyNotice.section.ten.paragraph.two.beforeLink</span>
                <a class="govuk-link" th:href="${complaintsProcedureUrl}" rel="noreferrer noopener" target="_blank"
                   th:text="#{localCouncilPrivacyNotice.section.ten.paragraph.two.linkText}">localCouncilPrivacyNotice.section.ten.paragraph.two.linkText</a><span
                    th:remove="tag" th:text="#{localCouncilPrivacyNotice.section.ten.paragraph.two.afterLink}">localCouncilPrivacyNotice.section.ten.paragraph.two.afterLink</span>
            </p>
            <p class="govuk-body">
                <span th:remove="tag" th:text="#{localCouncilPrivacyNotice.section.ten.paragraph.three.beforeEmailLink}">localCouncilPrivacyNotice.section.ten.paragraph.three.beforeEmailLink</span>
                <a class="govuk-link" th:href="'mailto:' + ${dataProtectionCommunitiesEmails}" th:text="#{localCouncilPrivacyNotice.section.ten.paragraph.three.emailLinkText}">
                    localCouncilPrivacyNotice.section.ten.paragraph.three.emailLinkText
                </a><span th:remove="tag" th:text="#{localCouncilPrivacyNotice.section.ten.paragraph.three.afterEmailLink}">localCouncilPrivacyNotice.section.ten.paragraph.three.afterEmailLink</span>
            </p>
            <p class="govuk-body" th:text="#{localCouncilPrivacyNotice.section.ten.paragraph.four}">localCouncilPrivacyNotice.section.ten.paragraph.four</p>
            <p class="govuk-body">
                <span class="govuk-!-font-weight-bold" th:text="#{localCouncilPrivacyNotice.section.ten.ico.address.title}">localCouncilPrivacyNotice.section.ten.ico.address.title</span>
                <br/>
                <span th:remove="tag" th:text="#{localCouncilPrivacyNotice.section.ten.ico.address.line.one}">localCouncilPrivacyNotice.section.ten.ico.address.line.one</span>
                <br/>
                <span th:remove="tag" th:text="#{localCouncilPrivacyNotice.section.ten.ico.address.line.two}">localCouncilPrivacyNotice.section.ten.ico.address.line.two</span>
                <br/>
                <span th:remove="tag" th:text="#{localCouncilPrivacyNotice.section.ten.ico.address.line.three}">localCouncilPrivacyNotice.section.ten.ico.address.line.three</span>
                <br/>
                <span th:remove="tag" th:text="#{localCouncilPrivacyNotice.section.ten.ico.address.line.four}">localCouncilPrivacyNotice.section.ten.ico.address.line.four</span>
                <br/>
                <span th:remove="tag" th:text="#{localCouncilPrivacyNotice.section.ten.ico.address.line.five}">localCouncilPrivacyNotice.section.ten.ico.address.line.five</span>
            </p>
            <p class="govuk-body">
                <span class="govuk-!-font-weight-bold" th:text="#{localCouncilPrivacyNotice.section.ten.ico.phone.title}">localCouncilPrivacyNotice.section.ten.ico.phone.title</span>
                <span th:remove="tag" th:text="#{localCouncilPrivacyNotice.section.ten.ico.phone.numberText}">localCouncilPrivacyNotice.section.ten.ico.phone.numberText</span>
                <br/>
                <span class="govuk-!-font-weight-bold" th:text="#{localCouncilPrivacyNotice.section.ten.ico.website.title}">localCouncilPrivacyNotice.section.ten.ico.website.title
                </span> <a class="govuk-link" th:href="${informationCommissionersOfficeUrl}" rel="noreferrer noopener" target="_blank" th:text="#{localCouncilPrivacyNotice.section.ten.ico.website.linkText}">informationCommissionersOfficeUrl</a>
            </p>
        </section>
    </div>
</main>
</html>
