<!--/*@thymesVar id="formModel" type="java.lang.Object"*/-->
<!--/*@thymesVar id="metricRows" type="java.lang.Object"*/-->
<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(#{metrics.title}, ~{::main}, ${#fields.hasErrors('${formModel.*}')})}">
    <main class="govuk-main-wrapper" id="main-content">
        <div id="page-content"
             th:replace="~{fragments/layouts/twoThirdsLayout :: twoThirdsLayout(~{::#page-content/content()})}">
            <form th:action="@{''}" method="post" novalidate th:object="${formModel}">
                <div th:replace="~{fragments/forms/errorSummary :: errorSummary()}">Error Summary</div>
                <h1 class="govuk-heading-l" th:text="#{metrics.heading}">Metrics</h1>
                <dl th:if="${!#lists.isEmpty(metricRows)}" th:replace="~{fragments/summaryList :: summaryList(${metricRows})}"></dl>
                <h2 class="govuk-heading-m" th:text="#{metrics.reportingPeriod.heading}">Reporting period</h2>
                <th:block th:replace="~{fragments/forms/dateInputScoped :: dateInputScoped('fromDate', 'fromDay', 'fromMonth', 'fromYear', #{metrics.fromDate.fieldSetHeading}, #{metrics.fromDate.fieldSetHint})}"></th:block>
                <th:block th:replace="~{fragments/forms/dateInputScoped :: dateInputScoped('toDate', 'toDay', 'toMonth', 'toYear', #{metrics.toDate.fieldSetHeading}, #{metrics.toDate.fieldSetHint})}"></th:block>
                <button th:replace="~{fragments/buttons/primaryButton :: primaryButton(#{metrics.refreshButton})}"></button>
            </form>
        </div>
    </main>
</html>
