<!--/*@thymesVar id="propertyAddress" type="java.lang.String"*/-->
<!--/*@thymesVar id="confirmationMessageKeys" type="uk.gov.communities.prsdb.webapp.models.viewModels.PropertyComplianceConfirmationMessageKeys"*/-->
<!--/*@thymesVar id="gasSafeRegisterUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="rcpElectricalInfoUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="rcpElectricalRegisterUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="electricalSafetyStandardsUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="getNewEpcUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="registerMeesExemptionUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="addComplianceUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="dashboardUrl" type="java.lang.String"*/-->
<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(#{propertyCompliance.confirmation.title}, ~{::main}, false)}">
<main class="govuk-main-wrapper" id="main-content">
    <div id="page-contents" th:replace="~{fragments/layouts/twoThirdsLayout :: twoThirdsLayout(~{::#page-contents/content()})}">
        <header>
            <h1 class="govuk-heading-l" th:text="#{propertyCompliance.partiallyCompliantConfirmation.heading}">propertyCompliance.partiallyCompliantConfirmation.heading</h1>
            <p class="govuk-body" th:text="#{propertyCompliance.partiallyCompliantConfirmation.paragraph.one}">propertyCompliance.partiallyCompliantConfirmation.paragraph.one</p>
            <p class="govuk-inset-text" th:text="${propertyAddress}">propertyAddress</p>
        </header>
        <section>
            <h2 class="govuk-heading-m" th:text="#{propertyCompliance.partiallyCompliantConfirmation.nonCompliant.heading}">propertyCompliance.partiallyCompliantConfirmation.nonCompliant.heading</h2>
            <p class="govuk-body" th:text="#{propertyCompliance.confirmation.nonCompliant.paragraph.one}">propertyCompliance.confirmation.nonCompliant.paragraph.one</p>
            <ul class="govuk-list govuk-list--bullet" data-testid="non-compliant-messages">
                <li th:each="nonCompliantMsgKey : ${confirmationMessageKeys.nonCompliantMsgKeys}" th:text="#{${nonCompliantMsgKey}}"></li>
            </ul>
            <p class="govuk-body" th:text="#{propertyCompliance.confirmation.nonCompliant.paragraph.two}">propertyCompliance.confirmation.nonCompliant.paragraph.two</p>
        </section>
        <section>
            <h2 class="govuk-heading-m" th:text="#{propertyCompliance.partiallyCompliantConfirmation.takeAction.heading}">propertyCompliance.partiallyCompliantConfirmation.takeAction.heading</h2>
            <section th:if="${confirmationMessageKeys.nonCompliantGasSafetyMsgKey != null}">
                <h3 class="govuk-heading-s" th:text="#{propertyCompliance.partiallyCompliantConfirmation.howToGas.heading}">propertyCompliance.partiallyCompliantConfirmation.howToGas.heading</h3>
                <p class="govuk-body" th:text="#{propertyCompliance.partiallyCompliantConfirmation.howToGas.bullet.heading}">propertyCompliance.partiallyCompliantConfirmation.howToGas.bullet.heading</p>
                <ol class="govuk-list govuk-list--number">
                    <li>
                        <span th:remove="tag" th:text="#{propertyCompliance.partiallyCompliantConfirmation.howToGas.bullet.one.beforeLink}">propertyCompliance.partiallyCompliantConfirmation.howToGas.bullet.one.beforeLink</span>
                        <a th:text="#{propertyCompliance.partiallyCompliantConfirmation.howToGas.bullet.one.link}" th:href="${gasSafeRegisterUrl}" rel="noreferrer noopener" target="_blank">propertyCompliance.partiallyCompliantConfirmation.howToGas.bullet.one.link</a>
                        <span th:remove="tag" th:text="#{propertyCompliance.partiallyCompliantConfirmation.howToGas.bullet.one.afterLink}">propertyCompliance.partiallyCompliantConfirmation.howToGas.bullet.one.afterLink</span>
                    </li>
                    <li th:text="#{propertyCompliance.partiallyCompliantConfirmation.howToGas.bullet.two}">propertyCompliance.partiallyCompliantConfirmation.howToGas.bullet.two</li>
                    <li th:text="#{propertyCompliance.partiallyCompliantConfirmation.howToGas.bullet.three}">propertyCompliance.partiallyCompliantConfirmation.howToGas.bullet.three</li>
                    <li th:text="#{propertyCompliance.partiallyCompliantConfirmation.howToGas.bullet.four}">propertyCompliance.partiallyCompliantConfirmation.howToGas.bullet.four</li>
                </ol>
            </section>
            <section th:if="${confirmationMessageKeys.nonCompliantEicrMsgKey != null}">
                <h3 class="govuk-heading-s" th:text="#{propertyCompliance.partiallyCompliantConfirmation.howToEicr.heading}">propertyCompliance.partiallyCompliantConfirmation.howToEicr.heading</h3>
                <p class="govuk-body" th:text="#{propertyCompliance.partiallyCompliantConfirmation.howToEicr.paragraph.one}">propertyCompliance.partiallyCompliantConfirmation.howToEicr.paragraph.one</p>
                <ol class="govuk-list govuk-list--number">
                    <li>
                        <span th:remove="tag" th:text="#{propertyCompliance.partiallyCompliantConfirmation.howToEicr.bullet.one.beforeLink}">propertyCompliance.partiallyCompliantConfirmation.howToEicr.bullet.one.beforeLink</span>
                        <a th:text="#{propertyCompliance.partiallyCompliantConfirmation.howToEicr.bullet.one.link}" th:href="${electricalSafetyStandardsUrl}" rel="noreferrer noopener" target="_blank">propertyCompliance.partiallyCompliantConfirmation.howToEicr.bullet.one.link</a>
                        <span th:remove="tag" th:text="#{propertyCompliance.partiallyCompliantConfirmation.howToEicr.bullet.one.afterLink}">propertyCompliance.partiallyCompliantConfirmation.howToEicr.bullet.one.afterLink</span>
                    </li>
                    <li th:text="#{propertyCompliance.partiallyCompliantConfirmation.howToEicr.bullet.two}">propertyCompliance.partiallyCompliantConfirmation.howToEicr.bullet.two</li>
                    <li th:text="#{propertyCompliance.partiallyCompliantConfirmation.howToEicr.bullet.three}">propertyCompliance.partiallyCompliantConfirmation.howToEicr.bullet.three</li>
                    <li th:text="#{propertyCompliance.partiallyCompliantConfirmation.howToEicr.bullet.four}">propertyCompliance.partiallyCompliantConfirmation.howToEicr.bullet.four</li>
                </ol>
            </section>
            <section th:if="${confirmationMessageKeys.nonCompliantEpcMsgKey != null}">
                <h3 class="govuk-heading-s" th:text="#{propertyCompliance.partiallyCompliantConfirmation.howToEpc.heading}">propertyCompliance.partiallyCompliantConfirmation.howToEpc.heading</h3>
                <p class="govuk-body" th:text="#{propertyCompliance.partiallyCompliantConfirmation.howToEpc.paragraph.one}">propertyCompliance.partiallyCompliantConfirmation.howToEicr.paragraph.one</p>
                <ol class="govuk-list govuk-list--number">
                    <li>
                        <span th:remove="tag" th:text="#{propertyCompliance.partiallyCompliantConfirmation.howToEpc.bullet.one.beforeLink}">propertyCompliance.partiallyCompliantConfirmation.howToEpc.bullet.one.beforeLink</span>
                        <a th:text="#{propertyCompliance.partiallyCompliantConfirmation.howToEpc.bullet.one.link}" th:href="${getNewEpcUrl}" rel="noreferrer noopener" target="_blank">propertyCompliance.partiallyCompliantConfirmation.howToEpc.bullet.one.link</a>
                        <span th:remove="tag" th:text="#{propertyCompliance.partiallyCompliantConfirmation.howToEpc.bullet.one.afterLink}">propertyCompliance.partiallyCompliantConfirmation.howToEpc.bullet.one.afterLink</span>
                    </li>
                    <li th:text="#{propertyCompliance.partiallyCompliantConfirmation.howToEpc.bullet.two}">propertyCompliance.partiallyCompliantConfirmation.howToEpc.bullet.two</li>
                    <li>
                        <span th:remove="tag" th:text="#{propertyCompliance.partiallyCompliantConfirmation.howToEpc.bullet.three.beforeLink}">propertyCompliance.partiallyCompliantConfirmation.howToEpc.bullet.three.beforeLink</span>
                        <a th:text="#{propertyCompliance.partiallyCompliantConfirmation.howToEpc.bullet.three.link}" th:href="${meesUrl}" rel="noreferrer noopener" target="_blank">propertyCompliance.partiallyCompliantConfirmation.howToEpc.bullet.three.link</a>
                        <span th:remove="tag" th:text="#{propertyCompliance.partiallyCompliantConfirmation.howToEpc.bullet.three.afterLink}">propertyCompliance.partiallyCompliantConfirmation.howToEpc.bullet.three.afterLink</span>
                    </li>
                    <li>
                        <span th:remove="tag" th:text="#{propertyCompliance.partiallyCompliantConfirmation.howToEpc.bullet.four.beforeLink}">propertyCompliance.partiallyCompliantConfirmation.howToEpc.bullet.four.beforeLink</span>
                        <a th:text="#{propertyCompliance.partiallyCompliantConfirmation.howToEpc.bullet.four.link}" th:href="${registerMeesExemptionUrl}" rel="noreferrer noopener" target="_blank">propertyCompliance.partiallyCompliantConfirmation.howToEpc.bullet.four.link</a>
                        <span th:remove="tag" th:text="#{propertyCompliance.partiallyCompliantConfirmation.howToEpc.bullet.four.afterLink}">propertyCompliance.partiallyCompliantConfirmation.howToEpc.bullet.four.afterLink</span>
                    </li>
                    <li>
                        <span th:remove="tag" th:text="#{propertyCompliance.partiallyCompliantConfirmation.howToEpc.bullet.five.beforeLink}">propertyCompliance.partiallyCompliantConfirmation.howToEpc.bullet.five.beforeLink</span>
                        <a th:text="#{propertyCompliance.partiallyCompliantConfirmation.howToEpc.bullet.five.link}" th:href="${findEpcUrl}" rel="noreferrer noopener" target="_blank">propertyCompliance.partiallyCompliantConfirmation.howToEpc.bullet.five.link</a>
                        <span th:remove="tag" th:text="#{propertyCompliance.partiallyCompliantConfirmation.howToEpc.bullet.five.afterLink}">propertyCompliance.partiallyCompliantConfirmation.howToEpc.bullet.five.afterLink</span>
                    </li>
                </ol>
            </section>
        </section>
        <section>
            <h2 class="govuk-heading-m" th:text="#{propertyCompliance.partiallyCompliantConfirmation.timeLimit.heading}">propertyCompliance.partiallyCompliantConfirmation.timeLimit.heading</h2>
            <p class="govuk-body" th:text="#{propertyCompliance.partiallyCompliantConfirmation.timeLimit.paragraph.one}">propertyCompliance.partiallyCompliantConfirmation.timeLimit.paragraph.one</p>
            <ul class="govuk-list govuk-list--bullet" >
                <li th:text="#{propertyCompliance.partiallyCompliantConfirmation.timeLimit.bullet.one}">propertyCompliance.partiallyCompliantConfirmation.timeLimit.bullet.one</li>
                <li th:text="#{propertyCompliance.partiallyCompliantConfirmation.timeLimit.bullet.two}">propertyCompliance.partiallyCompliantConfirmation.timeLimit.bullet.two</li>
            </ul>
        </section>
        <div th:replace="~{fragments/warningText :: warningText(#{propertyCompliance.partiallyCompliantConfirmation.warning})}">propertyCompliance.partiallyCompliantConfirmation.warning</div>
        <div class="govuk-button-group">
            <a th:replace="~{fragments/buttons/primaryButtonLink :: primaryButtonLink(@{${addComplianceUrl}}, #{propertyCompliance.confirmation.addForAnotherProperty})}"></a>
            <a th:replace="~{fragments/buttons/secondaryButtonLink :: secondaryButtonLink(@{${dashboardUrl}}, #{common.confirmationPage.goToDashboard})}"></a>
        </div>
    </div>
</main>
</html>