<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(#{passcodeAlreadyUsed.title}, ~{::main}, false)}">
<main class="govuk-main-wrapper" id="main-content">
    <div id="page-contents"
         th:replace="~{fragments/layouts/twoThirdsLayout :: twoThirdsLayout(~{::#page-contents/content()})}">
        <h1 class="govuk-heading-l" th:text="#{passcodeAlreadyUsed.heading}">passcodeAlreadyUsed.heading</h1>

        <p class="govuk-body" th:text="#{passcodeAlreadyUsed.body}">passcodeAlreadyUsed.body</p>

        <button th:replace="~{fragments/buttons/primaryButtonLink :: primaryButtonLink(${passcodeEntryUrl}, #{passcodeAlreadyUsed.cta})}">
            passcodeAlreadyUsed.cta
        </button>
    </div>
</main>
</html>
