<!DOCTYPE html>
<html id="main-content"
      th:replace="~{fragments/layout :: layout('Passcode Entry', ~{::#main-content/content()}, false)}">
<main class="govuk-main-wrapper">
    <div id="page-contents"
         th:replace="~{fragments/layouts/twoThirdsLayout :: twoThirdsLayout(~{::#page-contents/content()})}">
        <h1 class="govuk-heading-l">Enter passcode</h1>
        <p class="govuk-body">TODO: Implement passcode entry form</p>
        <p class="govuk-body">This is a placeholder for the passcode entry functionality.</p>
    </div>
</main>
</html>

