<!--/*@thymesVar id="complianceInfoTabId" type="java.lang.String"*/-->
<!DOCTYPE html>
<html id="main-content" th:replace="~{fragments/layout :: layout(#{propertyDetails.title}, ~{::#main-content/content()}, false)}">
    <a href="#" th:replace="~{fragments/forms/backLink :: backLink(${backUrl})}">Back link</a>
    <main class="govuk-main-wrapper">
        <div id="page-contents">
            <div id="notification-banner"
                 th:replace="${complianceDetails != null && #lists.size(complianceDetails.notificationMessages) > 0 } ? ~{fragments/banners/notificationBanner ::
                notificationBanner(#{propertyDetails.complianceInformation.notificationBanner.title}, ~{::#notification-banner/content()})} : ~{}">
                <ul class="govuk-list govuk-list--bullet" th:each="message: ${complianceDetails.notificationMessages}">
                    <li>
                        <span th:utext="#{${message.mainText}}"></span>
                        <th:block th:if="${message.linkMessage != null}">
                            <span th:if="${message.linkMessage.beforeLinkText != null}" th:text="#{${message.linkMessage.beforeLinkText}}" th:remove="tag"></span>
                            <a class="govuk-link" th:href="@{${message.linkMessage.linkUrl}}" th:text="#{${message.linkMessage.linkText}}"></a><span
                                th:if="${message.linkMessage.isAfterLinkTextFullStop}" th:text="#{${message.linkMessage.afterLinkText}}" th:remove="tag"></span>
                            <span th:unless="${message.linkMessage.isAfterLinkTextFullStop}" th:text="#{${message.linkMessage.afterLinkText}}" th:remove="tag"></span>
                        </th:block>
                    </li>
                </ul>
            </div>
            <h2 class="govuk-heading-m" th:text="#{propertyDetails.heading}">propertyDetails.heading</h2>
            <div th:replace="~{fragments/buttons/pageHeaderActions :: pageHeaderActions(${propertyDetails.address}, ~{::#delete-record-button})}">
                <th:block th:if="${deleteRecordLink != null}" id="delete-record-button">
                    <a th:replace="~{fragments/buttons/primaryButtonLink :: primaryButtonLink(${deleteRecordLink}, #{propertyDetails.deleteRecordButton.text})}"></a>
                </th:block>
            </div>
            <div th:replace="~{fragments/keyDetailsList :: keyDetailsList(${propertyDetails.keyDetails})}"></div>
            <div th:replace="~{fragments/lastModifiedInsetText :: lastModifiedInsetText(${lastModifiedBy}, ${lastModifiedDate})}"></div>

            <div id="tabs" th:replace="~{fragments/tabs/tabs :: tabs(~{::#tabs/content()})}">
                <ul id="tab-headings" th:replace="~{fragments/tabs/tabsHeadingList :: tabsHeadingList(~{::#tab-headings/content()})}">
                    <li th:replace="~{fragments/tabs/tabsListItem :: tabsListItem('property-details', #{propertyDetails.propertyDetails.heading})}"></li>
                    <li th:replace="~{fragments/tabs/tabsListItem :: tabsListItem('landlord-details', #{propertyDetails.landlordDetails.heading})}"></li>
                    <li th:replace="~{fragments/tabs/tabsListItem :: tabsListItem(${complianceInfoTabId}, #{propertyDetails.complianceInformation.heading})}"></li>
                </ul>

                <div id="property-details-panel" th:replace="~{fragments/tabs/tabsPanel :: tabsPanel('property-details', ~{::#property-details-panel/content()})}">
                    <h2 class="govuk-heading-m" th:text="#{propertyDetails.heading}">propertyDetails.heading</h2>
                    <p class="govuk-hint" th:text="#{propertyDetails.description}">propertyDetails.description</p>
                    <dl th:replace="~{fragments/summaryList :: summaryList(${propertyDetails.propertyRecord})}"></dl>
                </div>

                <div  id="landlord-details-panel" th:replace="~{fragments/tabs/tabsPanel :: tabsPanel('landlord-details', ~{::#landlord-details-panel/content()})}">
                    <h2 class="govuk-heading-m" th:text="#{propertyDetails.landlordDetails.registeredLandlord.heading}">propertyDetails.landlordDetails.registeredLandlord.heading</h2>
                    <p class="govuk-hint" th:text="#{propertyDetails.landlordDetails.registeredLandlord.hint}">propertyDetails.landlordDetails.registeredLandlord.hint</p>
                    <dl th:replace="~{fragments/summaryList :: summaryList(${landlordDetails})}"></dl>
                </div>

                <div id="compliance-information-panel" th:replace="~{fragments/tabs/tabsPanel :: tabsPanel(${complianceInfoTabId}, ~{::#compliance-information-panel/content()})}">
                   <div th:if="${complianceDetails != null}">
                       <p class="govuk-hint" th:text="#{propertyDetails.complianceInformation.hintText}">propertyDetails.complianceInformation.hintText</p>
                       <h2 class="govuk-heading-m" th:text="#{propertyDetails.complianceInformation.gasSafety.heading}">propertyDetails.complianceInformation.gasSafety.heading</h2>
                       <dl th:replace="~{fragments/summaryList :: summaryList(${complianceDetails.gasSafetySummaryList})}"></dl>

                       <h2 class="govuk-heading-m" th:text="#{propertyDetails.complianceInformation.electricalSafety.heading}">propertyDetails.complianceInformation.electricalSafety.heading</h2>
                       <dl th:replace="~{fragments/summaryList :: summaryList(${complianceDetails.eicrSummaryList})}"></dl>

                       <h2 class="govuk-heading-m" th:text="#{propertyDetails.complianceInformation.energyPerformance.heading}">propertyDetails.complianceInformation.energyPerformance.heading</h2>
                       <dl th:replace="~{fragments/summaryList :: summaryList(${complianceDetails.epcSummaryList})}"></dl>

                       <h2 class="govuk-heading-m" th:text="#{propertyDetails.complianceInformation.landlordResponsibilities.heading}">propertyDetails.complianceInformation.landlordResponsibilities.heading</h2>
                       <p class="govuk-hint" th:text="#{${complianceDetails.landlordResponsibilitiesHintText}}">the hint text for landlord responsibilities</p>
                       <dl th:replace="~{fragments/summaryList :: summaryList(${complianceDetails.landlordResponsibilitiesSummaryList})}"></dl>
                   </div>
                </div>
            </div>
        </div>
    </main>
</html>