<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(#{propertyDetails.title}, ~{::main}, false)}">
<a href="#" th:replace="~{fragments/forms/backLink :: backLink(${backUrl})}">Back link</a>
<main class="govuk-main-wrapper" id="main-content">
  <div id="page-contents">
    <h2 class="govuk-heading-m" th:text="#{propertyDetails.heading}">propertyDetails.heading</h2>
    <div th:replace="~{fragments/buttons/pageHeaderActions :: pageHeaderActions(${propertyDetails.address}, ~{:: #delete-record-button})}">
      <th:block id="delete-record-button">
        <a th:replace="~{fragments/buttons/primaryButtonLink :: primaryButtonLink('delete-record', #{propertyDetails.deleteRecordButton.text})}"></a>
      </th:block>
    </div>
    <div class="govuk-grid-row govuk-!-padding-6 margin-zero background-color-grey" aria-description="Key property details">
      <div class="govuk-grid-column-one-third">
        <p class="govuk-heading-s" th:text="#{propertyDetails.keyDetails.landlordType}"></p>
        <p class="govuk-body" th:text="#{${propertyDetails.landlordTypeKey}}"></p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-heading-s" th:text="#{propertyDetails.keyDetails.registeredLandlord}"></p>
        <a class="govuk-body govuk-link" th:href="@{${propertyDetails.landlordDetailsUrl}}" th:text="${propertyDetails.primaryLandlordName}"></a>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-heading-s" th:text="#{propertyDetails.keyDetails.isTenanted}"></p>
        <p class="govuk-body" th:text="#{${propertyDetails.isTenantedKey}}"></p>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--m">
    <div th:replace="~{fragments/tabs/tabs :: tabs(~{:: #tabs-content})}" >
      <th:block id="tabs-content">
        <ul th:replace="~{fragments/tabs/tabsHeadingList :: tabsHeadingList(~{:: #tab-headings})}">
          <th:block id="tab-headings">
            <li th:replace="~{fragments/tabs/tabsListItem :: tabsListItem('property-details', #{propertyDetails.propertyDetails.heading})}">
            </li>
            <li th:replace="~{fragments/tabs/tabsListItem :: tabsListItem('landlord-details', #{propertyDetails.landlordDetails.heading})}">
            </li>
          </th:block>
        </ul>

        <div th:replace="~{fragments/tabs/tabsPanel :: tabsPanel('property-details', ~{:: #property-details-panel-content})}">
          <th:block id="property-details-panel-content">
            <h2 class="govuk-heading-m" th:text="#{propertyDetails.heading}">propertyDetails.heading</h2>
            <p class="govuk-hint" th:text="#{propertyDetails.description}">propertyDetails.description</p>
            <dl th:replace="~{fragments/summaryList :: summaryList(${propertyDetails.propertyRecord})}" ></dl>
          </th:block>
        </div>

        <div th:replace="~{fragments/tabs/tabsPanel :: tabsPanel('landlord-details', ~{:: #landlord-details-panel-content})}">
          <th:block id="landlord-details-panel-content">
          </th:block>
        </div>
      </th:block>
    </div>

  </div>
</main>
</html>