<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(#{registerAsALandlord.title}, ~{::main}, false)}">
<main class="govuk-main-wrapper" id="main-content">
    <div th:replace="~{fragments/layouts/twoThirdsLayout :: twoThirdsLayout(~{::#page-content})}">
        <div id="page-content">
            <header>
                <h1 class="govuk-heading-xl" th:text="#{registerAsALandlord.heading}">registerAsALandlord.heading</h1>
            </header>
            <section>
                <h2 class="govuk-heading-l" th:text="#{registerAsALandlord.access.heading}">
                    registerAsALandlord.access.heading
                </h2>
                <p class="govuk-body-m" th:text="#{registerAsALandlord.access.paragraph.one}">
                    registerAsALandlord.access.paragraph.one
                </p>
                <p class="govuk-body-m">
                    <span th:remove="tag" th:text="#{registerAsALandlord.access.paragraph.two.beforeLink}">
                        registerAsALandlord.access.paragraph.two.beforeLink
                    </span>
                    <a class="govuk-link" th:text="#{registerAsALandlord.access.paragraph.two.link}" th:href="${oneLoginInfoUrl}">
                        registerAsALandlord.access.paragraph.two.link
                    </a>
                    <span th:remove="tag" th:text="#{registerAsALandlord.access.paragraph.two.afterLink}">
                        registerAsALandlord.access.paragraph.two.afterLink
                    </span>
                </p>
                <p class="govuk-body-m">
                    <span th:remove="tag" th:text="#{registerAsALandlord.access.paragraph.three.beforeLink}">
                        registerAsALandlord.access.paragraph.three.beforeLink
                    </span>
                    <a class="govuk-link" th:text="#{registerAsALandlord.access.paragraph.three.link}" th:href="${provingYourIdentity}">
                        registerAsALandlord.access.paragraph.three.link
                    </a>
                    <span th:remove="tag" th:text="#{registerAsALandlord.access.paragraph.three.afterLink}">
                        registerAsALandlord.access.paragraph.three.afterLink
                    </span>
                </p>
                <a th:replace="~{fragments/buttons/startButton :: startButton(${registerAsALandlordInitialStep}, #{forms.buttons.startNow})}"></a>
            </section>
            <section>
                <h2 class="govuk-heading-l" th:text="#{registerAsALandlord.about.heading}">
                    registerAsALandlord.about.heading
                </h2>
                <p class="govuk-body-m">
                    <span th:remove="tag" th:text="#{registerAsALandlord.about.paragraph.one.beforeLink}">
                        registerAsALandlord.about.paragraph.one.beforeLink
                    </span>
                    <a class="govuk-link" th:text="#{registerAsALandlord.about.paragraph.one.link}" th:href="${rentersRightsBillGuideUrl}">
                        registerAsALandlord.about.paragraph.one.link
                    </a>
                    <span th:remove="tag" th:text="#{registerAsALandlord.about.paragraph.one.afterLink}">
                        registerAsALandlord.about.paragraph.one.afterLink
                    </span>
                </p>
                <p class="govuk-body-m" th:text="#{registerAsALandlord.about.paragraph.two}">
                    registerAsALandlord.about.paragraph.two
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li th:text="#{registerAsALandlord.about.paragraph.two.bullet.one}">
                        registerAsALandlord.about.paragraph.two.bullet.one
                    </li>
                    <li th:text="#{registerAsALandlord.about.paragraph.two.bullet.two}">
                        registerAsALandlord.about.paragraph.two.bullet.two
                    </li>
                </ul>
                <h3 class="govuk-heading-m" th:text="#{registerAsALandlord.about.heading.two}">registerAsALandlord.about.heading.two</h3>
                <p class="govuk-body-m" th:text="#{registerAsALandlord.about.paragraph.three}">
                    registerAsALandlord.about.paragraph.three
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li th:text="#{registerAsALandlord.about.paragraph.three.bullet.one}">
                        registerAsALandlord.about.paragraph.three.bullet.one
                    </li>
                    <li>
                        <span th:remove="tag" th:text="#{registerAsALandlord.about.paragraph.three.bullet.two.beforeLink}">
                            registerAsALandlord.about.paragraph.three.bullet.two.beforeLink
                        </span>
                        <a class="govuk-link" th:text="#{registerAsALandlord.about.paragraph.three.bullet.two.link}" th:href="${tenancyTypesGuideUrl}">
                            registerAsALandlord.about.paragraph.three.bullet.two.link
                        </a>
                    </li>
                    <li th:text="#{registerAsALandlord.about.paragraph.three.bullet.three}">
                        registerAsALandlord.about.paragraph.three.bullet.three
                    </li>
                </ul>
                <p class="govuk-body-m" th:text="#{registerAsALandlord.about.paragraph.four}">
                    registerAsALandlord.about.paragraph.four
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li th:text="#{registerAsALandlord.about.paragraph.four.bullet.one}">
                        registerAsALandlord.about.paragraph.four.bullet.one
                    </li>
                    <li th:text="#{registerAsALandlord.about.paragraph.four.bullet.two}">
                        registerAsALandlord.about.paragraph.four.bullet.two
                    </li>
                    <li th:text="#{registerAsALandlord.about.paragraph.four.bullet.three}">
                        registerAsALandlord.about.paragraph.four.bullet.three
                    </li>
                    <li th:text="#{registerAsALandlord.about.paragraph.four.bullet.four}">
                        registerAsALandlord.about.paragraph.four.bullet.four
                    </li>
                </ul>
            </section>
            <section>
                <h2 class="govuk-heading-l" th:text="#{registerAsALandlord.howItWorks.heading}">
                    registerAsALandlord.howItWorks.heading
                </h2>
                <p class="govuk-body-m" th:text="#{registerAsALandlord.howItWorks.paragraph.one}">
                    registerAsALandlord.howItWorks.paragraph.one
                </p>
                <p class="govuk-body-m" th:text="#{registerAsALandlord.howItWorks.paragraph.two}">
                    registerAsALandlord.howItWorks.paragraph.two
                </p>
                <p class="govuk-body-m" th:text="#{registerAsALandlord.howItWorks.paragraph.three}">
                    registerAsALandlord.howItWorks.paragraph.three
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li th:text="#{registerAsALandlord.howItWorks.paragraph.three.bullet.one}">
                        registerAsALandlord.howItWorks.paragraph.three.bullet.one
                    </li>
                    <li th:text="#{registerAsALandlord.howItWorks.paragraph.three.bullet.two}">
                        registerAsALandlord.howItWorks.paragraph.three.bullet.two
                    </li>
                </ul>
                <p class="govuk-body-m" th:text="#{registerAsALandlord.howItWorks.paragraph.four}">
                    registerAsALandlord.howItWorks.paragraph.four
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li th:text="#{registerAsALandlord.howItWorks.paragraph.four.bullet.one}">
                        registerAsALandlord.howItWorks.paragraph.four.bullet.one
                    </li>
                    <li th:text="#{registerAsALandlord.howItWorks.paragraph.four.bullet.two}">
                        registerAsALandlord.howItWorks.paragraph.four.bullet.two
                    </li>
                    <li th:text="#{registerAsALandlord.howItWorks.paragraph.four.bullet.three}">
                        registerAsALandlord.howItWorks.paragraph.four.bullet.three
                    </li>
                </ul>
                <p class="govuk-body-m" th:text="#{registerAsALandlord.howItWorks.paragraph.five}">
                    registerAsALandlord.howItWorks.paragraph.five
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li th:text="#{registerAsALandlord.howItWorks.paragraph.five.bullet.one}">
                        registerAsALandlord.howItWorks.paragraph.five.bullet.one
                    </li>
                    <li th:text="#{registerAsALandlord.howItWorks.paragraph.five.bullet.two}">
                        registerAsALandlord.howItWorks.paragraph.five.bullet.two
                    </li>
                </ul>
            </section>
            <section>
                <h2 class="govuk-heading-l" th:text="#{registerAsALandlord.futureRequirements.heading}">
                    registerAsALandlord.futureRequirements.heading
                </h2>
                <p class="govuk-body-m" th:text="#{registerAsALandlord.futureRequirements.paragraph.one}">
                    registerAsALandlord.futureRequirements.paragraph.one
                </p>
                <p class="govuk-body-m"><span th:remove="tag" th:text="#{registerAsALandlord.futureRequirements.paragraph.two.beforeLink}">
                    registerAsALandlord.futureRequirements.paragraph.two.beforeLink
                </span>
                    <a class="govuk-link" th:text="#{registerAsALandlord.futureRequirements.paragraph.two.link}" th:href="${rentersRightsBillPRSD}">
                        registerAsALandlord.futureRequirements.paragraph.two.link
                    </a>
                    <span th:remove="tag" th:text="#{registerAsALandlord.futureRequirements.paragraph.two.afterLink}">
                        registerAsALandlord.futureRequirements.paragraph.two.afterLink</span>
                </p>
                <p class="govuk-body-m" th:text="#{registerAsALandlord.futureRequirements.paragraph.three}">
                    registerAsALandlord.futureRequirements.paragraph.three
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li th:text="#{registerAsALandlord.futureRequirements.paragraph.three.bullet.one}">
                        registerAsALandlord.futureRequirements.paragraph.three.bullet.one
                    </li>
                    <li th:text="#{registerAsALandlord.futureRequirements.paragraph.three.bullet.two}">
                        registerAsALandlord.futureRequirements.paragraph.three.bullet.two
                    </li>
                    <li th:text="#{registerAsALandlord.futureRequirements.paragraph.three.bullet.three}">
                        registerAsALandlord.futureRequirements.paragraph.three.bullet.three
                    </li>
                </ul>
            </section>
            <section>
                <h2 class="govuk-heading-l" th:text="#{registerAsALandlord.howYouCanHelp.heading}">
                    registerAsALandlord.howYouCanHelp.heading
                </h2>
                <p class="govuk-body-m" th:text="#{registerAsALandlord.howYouCanHelp.paragraph.one}">
                    registerAsALandlord.howYouCanHelp.paragraph.one
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li th:text="#{registerAsALandlord.howYouCanHelp.paragraph.one.bullet.one}">
                        registerAsALandlord.howYouCanHelp.paragraph.one.bullet.one
                    </li>
                    <li th:text="#{registerAsALandlord.howYouCanHelp.paragraph.one.bullet.two}">
                        registerAsALandlord.howYouCanHelp.paragraph.one.bullet.two
                    </li>
                    <li th:text="#{registerAsALandlord.howYouCanHelp.paragraph.one.bullet.three}">
                        registerAsALandlord.howYouCanHelp.paragraph.one.bullet.three
                    </li>
                </ul>
                <p class="govuk-body-m" th:text="#{registerAsALandlord.howYouCanHelp.paragraph.two}">
                    registerAsALandlord.howYouCanHelp.paragraph.two
                </p>
                <p class="govuk-body-m" th:text="#{registerAsALandlord.howYouCanHelp.paragraph.three}">
                    registerAsALandlord.howYouCanHelp.paragraph.three
                </p>
            </section>
            <section>
                <h2 class="govuk-heading-l" th:text="#{registerAsALandlord.informationManagement.heading}">
                    registerAsALandlord.informationManagement.heading
                </h2>
                <p class="govuk-body-m" th:text="#{registerAsALandlord.informationManagement.paragraph.one}">
                    registerAsALandlord.informationManagement.paragraph.one
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li th:text="#{registerAsALandlord.informationManagement.paragraph.one.bullet.one}">
                        registerAsALandlord.informationManagement.paragraph.one.bullet.one
                    </li>
                    <li th:text="#{registerAsALandlord.informationManagement.paragraph.one.bullet.two}">
                        registerAsALandlord.informationManagement.paragraph.one.bullet.two
                    </li>
                    <li th:text="#{registerAsALandlord.informationManagement.paragraph.one.bullet.three}">
                        registerAsALandlord.informationManagement.paragraph.one.bullet.three
                    </li>
                </ul>
                <h3 class="govuk-heading-m" th:text="#{registerAsALandlord.informationManagement.heading.two}">
                    registerAsALandlord.informationManagement.heading.two
                </h3>
                <p class="govuk-body-m" th:text="#{registerAsALandlord.informationManagement.paragraph.two}">
                    registerAsALandlord.informationManagement.paragraph.two
                </p>
                <p class="govuk-body-m" th:text="#{registerAsALandlord.informationManagement.paragraph.three}">
                    registerAsALandlord.informationManagement.paragraph.three
                </p>
                <p class="govuk-body-m" th:text="#{registerAsALandlord.informationManagement.paragraph.four}">
                    registerAsALandlord.informationManagement.paragraph.four
                </p>
                <h3 class="govuk-heading-m" th:text="#{registerAsALandlord.informationManagement.heading.three}">
                    registerAsALandlord.informationManagement.heading.three
                </h3>
                <p class="govuk-body-m">
                    <span th:remove="tag" th:text="#{registerAsALandlord.informationManagement.paragraph.five.beforeLink}">
                    registerAsALandlord.informationManagement.paragraph.five.beforeLink
                    </span>
                    <a class="govuk-link" th:text="#{registerAsALandlord.informationManagement.paragraph.five.link}" rel="noreferrer noopener" target="_blank" th:href="${landlordPrivacyNoticeUrl}">
                        registerAsALandlord.informationManagement.paragraph.five.link
                    </a>
                    <span th:remove="tag" class="govuk-body-m" th:text="#{registerAsALandlord.informationManagement.paragraph.five.afterLink}">
                        registerAsALandlord.informationManagement.paragraph.five.afterLink
                    </span>
                </p>
                <p class="govuk-body-m" th:text="#{registerAsALandlord.informationManagement.paragraph.six}">
                    registerAsALandlord.informationManagement.paragraph.six
                </p>
                <p class="govuk-body-m" th:text="#{registerAsALandlord.informationManagement.paragraph.seven}">
                    registerAsALandlord.informationManagement.paragraph.seven
                </p>
            </section>
        </div>
    </div>
</main>
</html>