<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(#{registerAsALandlord.title}, ~{::main}, false)}">
<main class="govuk-main-wrapper" id="main-content">
    <div id="page-contents"
         th:replace="~{fragments/layouts/twoThirdsLayout :: twoThirdsLayout(~{::#page-contents/content()})}">
        <div id="confirmation-banner"
             th:replace="~{fragments/banners/confirmationPageBanner :: confirmationPageBanner(#{registerAsALandlord.confirmation.banner.heading}, ~{::#confirmation-banner/content()})}">
            <span th:remove="tag"
                  th:text="#{registerAsALandlord.confirmation.banner.body.beforeRegistrationNumber}">
                registerAsALandlord.confirmation.banner.body.beforeRegistrationNumber
            </span>
            <br>
            <strong th:text="${registrationNumber}"></strong>
        </div>
        <p class="govuk-body" th:text="#{registerAsALandlord.confirmation.emailParagraph}">
            registerAsALandlord.confirmation.emailParagraph
        </p>

        <h1 class="govuk-heading-l" th:text="#{registerAsALandlord.confirmation.whatYouNeedToDo.heading}">registerAsALandlord.confirmation.whatYouNeedToDo.heading</h1>
        <p class="govuk-body" th:text="#{registerAsALandlord.confirmation.whatYouNeedToDo.paragraph.one}">
            registerAsALandlord.confirmation.whatYouNeedToDo.paragraph.one
        </p>
        <p class="govuk-body" th:text="#{registerAsALandlord.confirmation.whatYouNeedToDo.paragraph.two}">
            registerAsALandlord.confirmation.whatYouNeedToDo.paragraph.two
        </p>
        <p class="govuk-body" th:text="#{registerAsALandlord.confirmation.whatYouNeedToDo.paragraph.three}">
            registerAsALandlord.confirmation.whatYouNeedToDo.paragraph.three
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li th:text="#{registerAsALandlord.confirmation.whatYouNeedToDo.bullet.one}">
                registerAsALandlord.confirmation.whatYouNeedToDo.bullet.one
            </li>
            <li th:text="#{registerAsALandlord.confirmation.whatYouNeedToDo.bullet.two}">
                registerAsALandlord.confirmation.whatYouNeedToDo.bullet.two
            </li>
        </ul>
        <a th:replace="~{fragments/buttons/primaryButtonLink :: primaryButtonLink(@{${landlordDashboardUrl}}, #{common.confirmationPage.goToDashboard})}">
            common.confirmationPage.goToDashboard
        </a>
    </div>
</main>
</html>