<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(#{registerProperty.title}, ~{::main}, false)}">
    <main class="govuk-main-wrapper" id="main-content">
        <div id="page-contents" th:replace="~{fragments/layouts/twoThirdsLayout :: twoThirdsLayout(~{::#page-contents/content()})}">

            <div id="confirmation-banner" th:replace="~{fragments/banners/confirmationPageBanner :: confirmationPageBanner(#{registerProperty.confirmation.banner.heading}, ~{::#confirmation-banner/content()})}"></div>

            <section>
                <table th:replace="~{fragments/tables/table :: table(${ {'registerProperty.confirmation.table.address.heading','registerProperty.confirmation.table.prn.heading'} }, ~{::tbody}, null)}">
                    <tbody class="govuk-table__body">
                        <tr class="govuk_table__row">
                            <td class="govuk-table__cell govuk-!-width-one-half" th:text="${singleLineAddress}"></td>
                            <td class="govuk-table__cell govuk-!-width-one-half" th:text="${prn}"></td>
                        </tr>
                    </tbody>
                </table>
                <h1 class="govuk-heading-l" th:text="#{common.confirmationPage.whatHappensNext}">common.whatHappensNext</h1>
                <p class="govuk-body" th:utext="#{registerProperty.confirmation.whatHappensNext.paragraph.one}">
                    registerProperty.confirmation.whatHappensNext.paragraph.one
                </p>
                <p class="govuk-body" th:if="${isOccupied}" th:text="#{registerProperty.confirmation.common.usePrnInAdverts.paragraph}">
                    registerProperty.confirmation.whatHappensNext.paragraph.two
                </p>
            </section>
            <th:block th:if="${isOccupied}">
                <section th:replace="~{fragments/content/propertyRegistrationConfirmationOccupiedContent :: propertyRegistrationConfirmationOccupiedContent()}">
                    fragments/content/propertyRegistrationConfirmationOccupiedContent
                </section>
                <div class="govuk-button-group">
                    <a th:replace="~{fragments/buttons/primaryButtonLink :: primaryButtonLink(@{${propertyComplianceUrl}}, #{registerProperty.confirmation.addCompliance})}">
                        registerProperty.confirmation.addCompliance
                    </a>
                    <a th:replace="~{fragments/buttons/secondaryButtonLink :: secondaryButtonLink(@{${landlordDashboardUrl}}, #{common.confirmationPage.goToDashboard})}">
                        common.confirmationPage.goToDashboard
                    </a>
                </div>
            </th:block>
            <th:block th:unless="${isOccupied}">
                <section th:replace="~{fragments/content/propertyRegistrationConfirmationUnoccupiedContent :: propertyRegistrationConfirmationUnoccupiedContent()}"></section>
                <a th:replace="~{fragments/buttons/primaryButtonLink :: primaryButtonLink(@{${landlordDashboardUrl}}, #{common.confirmationPage.goToDashboard})}">
                    common.confirmationPage.goToDashboard
                </a>
            </th:block>

        </div>
    </main>
</html>