<!--/*@thymesVar id="backUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="registerAsALandlordInitialStep" type="java.lang.String"*/-->
<!DOCTYPE html>
<html id="main-content" th:replace="~{fragments/layout :: layout(#{registerAsALandlord.title},~{::#main-content/content()}, false)}">
<a href="#" th:replace="~{fragments/forms/backLink :: backLink(${backUrl})}">Back link</a>
<main class="govuk-main-wrapper">
        <div id="page-content" th:replace="~{fragments/layouts/twoThirdsLayout :: twoThirdsLayout(~{::#page-content/content()})}">
            <h1 class="govuk-heading-l" th:text="#{registerAsALandlord.whatYouNeedToRegister.heading}">registerAsALandlord.whatYouNeedToRegister.heading</h1>
            <p class="govuk-body" th:text="#{registerAsALandlord.whatYouNeedToRegister.paragraph.one}">registerAsALandlord.whatYouNeedToRegister.paragraph.one</p>
            <p class="govuk-body" th:text="#{registerAsALandlord.whatYouNeedToRegister.paragraph.two}">registerAsALandlord.whatYouNeedToRegister.paragraph.two</p>
            <div class="govuk-inset-text" th:text="#{registerAsALandlord.whatYouNeedToRegister.insetText}">registerAsALandlord.whatYouNeedToRegister.insetText</div>
            <h2 class="govuk-heading-m" th:text="#{registerAsALandlord.whatYouNeedToRegister.section.two.subheading}">registerAsALandlord.whatYouNeedToRegister.section.two.subheading</h2>
            <p class="govuk-body" th:text="#{registerAsALandlord.whatYouNeedToRegister.section.two.paragraph.one}">registerAsALandlord.whatYouNeedToRegister.section.two.paragraph.one</p>
            <p class="govuk-body" th:text="#{registerAsALandlord.whatYouNeedToRegister.section.two.paragraph.two}">registerAsALandlord.whatYouNeedToRegister.section.two.paragraph.two</p>
            <div class="govuk-inset-text" th:text="#{registerAsALandlord.whatYouNeedToRegister.section.two.insetText}">registerAsALandlord.whatYouNeedToRegister.section.two.insetText</div>
            <button th:replace="~{fragments/buttons/primaryButtonLink :: primaryButtonLink(${registerAsALandlordInitialStep}, #{forms.buttons.continue})}"></button>
        </div>
    </main>
</html>