<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(#{registerAsALandlord.title}, ~{::main}, false)}">
<main class="govuk-main-wrapper" id="main-content">
    <div th:replace="~{fragments/layouts/twoThirdsLayout :: twoThirdsLayout(~{::#page-content})}">
        <div id="page-content">
            <h1 class="govuk-heading-xl" th:text="#{registerAsALandlord.heading}">registerAsALandlord.heading</h1>
            <p class="govuk-body" th:text="#{registerAsALandlord.intro.one}">registerAsALandlord.intro.one</p>
            <p class="govuk-body" th:text="#{registerAsALandlord.intro.two}">registerAsALandlord.intro.two</p>
            <div class="govuk-inset-text" th:text="#{registerAsALandlord.insetText}">registerAsALandlord.insetText</div>
            <h2 class="govuk-heading-m" th:text="#{registerAsALandlord.registeringProperty.heading}">registerAsALandlord.registeringProperty.heading</h2>
            <p class="govuk-body" th:text="#{registerAsALandlord.registeringProperty.paragraph.one}">registerAsALandlord.registeringProperty.paragraph.one</p>
            <p class="govuk-body" th:text="#{registerAsALandlord.registeringProperty.paragraph.two}">registerAsALandlord.registeringProperty.paragraph.two</p>
            <ul class="govuk-list govuk-list--bullet">
                <li th:text="#{registerAsALandlord.registeringProperty.bullet.one}">registerAsALandlord.registeringProperty.bullet.one</li>
                <li th:text="#{registerAsALandlord.registeringProperty.bullet.two}">registerAsALandlord.registeringProperty.bullet.two</li>
            </ul>
            <p class="govuk-body" th:text="#{registerAsALandlord.registeringProperty.paragraph.three}">registerAsALandlord.registeringProperty.paragraph.three</p>
            <p class="govuk-body" th:text="#{registerAsALandlord.registeringProperty.paragraph.four}">registerAsALandlord.registeringProperty.paragraph.four</p>
            <h2 class="govuk-heading-m" th:text="#{registerAsALandlord.testTheService.heading}">registerAsALandlord.testTheService.heading</h2>
            <p class="govuk-body" th:text="#{registerAsALandlord.testTheService.paragraph.one}">registerAsALandlord.testTheService.paragraph.one</p>
            <p class="govuk-body" th:text="#{registerAsALandlord.testTheService.paragraph.two}">registerAsALandlord.testTheService.paragraph.two</p>
            <p class="govuk-body" th:text="#{registerAsALandlord.testTheService.paragraph.three}">registerAsALandlord.testTheService.paragraph.three</p>
            <a th:replace="~{fragments/buttons/startButton :: startButton(${registerAsALandlordStartPageRoute}, #{forms.buttons.startNow})}"></a>
        </div>
    </div>
</main>
</html>