<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(#{registerAsALandlord.title}, ~{::main}, false)}">
<main class="govuk-main-wrapper" id="main-content">
    <div th:replace="~{fragments/layouts/twoThirdsLayout :: twoThirdsLayout(~{::#page-content})}">
        <div id="page-content">
            <header>
                <h1 class="govuk-heading-l" th:text="#{registerAsALandlord.heading}">registerAsALandlord.heading</h1>
            </header>
            <section>
                <h2 class="govuk-heading-m" th:text="#{registerAsALandlord.access.heading}">
                    registerAsALandlord.access.heading
                </h2>
                <p class="govuk-body-s" th:text="#{registerAsALandlord.access.paragraph.one}">
                    registerAsALandlord.access.paragraph.one
                </p>
                <p class="govuk-body-s">
                    <span th:text="#{registerAsALandlord.access.paragraph.two.beforeLink}">
                        registerAsALandlord.access.paragraph.two.beforeLink
                    </span>
                    <a class="govuk-link" th:text="#{registerAsALandlord.access.paragraph.two.link}" href=#>
                        registerAsALandlord.access.paragraph.two.link
                    </a>
                    <span th:text="#{registerAsALandlord.access.paragraph.two.afterLink}">
                        registerAsALandlord.access.paragraph.two.afterLink
                    </span>
                </p>
                <p class="govuk-body-s">
                    <span th:text="#{registerAsALandlord.access.paragraph.three.beforeLink}">
                        registerAsALandlord.access.paragraph.three.beforeLink
                    </span>
                    <a class="govuk-link" th:text="#{registerAsALandlord.access.paragraph.three.link}" href=#>
                        registerAsALandlord.access.paragraph.three.link
                    </a>
                    <span th:text="#{registerAsALandlord.access.paragraph.three.afterLink}">
                        registerAsALandlord.access.paragraph.three.afterLink
                    </span>
                </p>
                <a th:replace="~{fragments/buttons/startButton :: startButton(${registerAsALandlordInitialStep}, #{forms.buttons.startNow})}"></a>
            </section>
            <section>
                <h2 class="govuk-heading-m" th:text="#{registerAsALandlord.about.heading}">
                    registerAsALandlord.about.heading
                </h2>
                <p class="govuk-body-s">
                    <span th:text="#{registerAsALandlord.about.paragraph.one.beforeLink}">
                        registerAsALandlord.about.paragraph.one.beforeLink
                    </span>
                    <a class="govuk-link" th:text="#{registerAsALandlord.about.paragraph.one.link}" href=#>
                        registerAsALandlord.about.paragraph.one.link
                    </a>
                    <span th:text="#{registerAsALandlord.about.paragraph.one.afterLink}">
                        registerAsALandlord.about.paragraph.one.afterLink
                    </span>
                </p>
                <p class="govuk-body-s" th:text="#{registerAsALandlord.about.paragraph.two}">
                    registerAsALandlord.about.paragraph.two
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li th:text="#{registerAsALandlord.about.paragraph.two.bullet.one}">
                        registerAsALandlord.about.paragraph.two.bullet.one
                    </li>
                    <li th:text="#{registerAsALandlord.about.paragraph.two.bullet.two}">
                        registerAsALandlord.about.paragraph.two.bullet.two
                    </li>
                </ul>
                <h3 class="govuk-heading-s" th:text="#{registerAsALandlord.about.heading.two}">registerAsALandlord.about.heading.two</h3>
                <p class="govuk-body-s" th:text="#{registerAsALandlord.about.paragraph.three}">
                    registerAsALandlord.about.paragraph.three
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li th:text="#{registerAsALandlord.about.paragraph.three.bullet.one}">
                        registerAsALandlord.about.paragraph.three.bullet.one
                    </li>
                    <li>
                        <span th:text="#{registerAsALandlord.about.paragraph.three.bullet.two.beforeLink}">
                            registerAsALandlord.about.paragraph.three.bullet.two.beforeLink
                        </span>
                        <a class="govuk-link" th:text="#{registerAsALandlord.about.paragraph.three.bullet.two.link}" href=#>
                            registerAsALandlord.about.paragraph.three.bullet.two.link
                        </a>
                    </li>
                    <li th:text="#{registerAsALandlord.about.paragraph.three.bullet.three}">
                        registerAsALandlord.about.paragraph.three.bullet.three
                    </li>
                </ul>
                <p class="govuk-body-s" th:text="#{registerAsALandlord.about.paragraph.four}">
                    registerAsALandlord.about.paragraph.four
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li th:text="#{registerAsALandlord.about.paragraph.four.bullet.one}">
                        registerAsALandlord.about.paragraph.four.bullet.one
                    </li>
                    <li th:text="#{registerAsALandlord.about.paragraph.four.bullet.two}">
                        registerAsALandlord.about.paragraph.four.bullet.two
                    </li>
                    <li th:text="#{registerAsALandlord.about.paragraph.four.bullet.three}">
                        registerAsALandlord.about.paragraph.four.bullet.three
                    </li>
                    <li th:text="#{registerAsALandlord.about.paragraph.four.bullet.four}">
                        registerAsALandlord.about.paragraph.four.bullet.four
                    </li>
                </ul>
            </section>

                <span class="govuk-body"><b th:text="#{registerAsALandlord.whoCanAccess.landlord.heading}">
                    registerAsALandlord.whoCanAccess.landlord.heading
                </b></span>
                <ul class="govuk-list govuk-list--bullet">
                    <li th:text="#{registerAsALandlord.whoCanAccess.landlord.bullet}">
                        registerAsALandlord.whoCanAccess.landlord.bullet
                    </li>
                </ul>
                <span class="govuk-body"><b th:text="#{registerAsALandlord.whoCanAccess.onBehalf.heading}">
                        registerAsALandlord.whoCanAccess.onBehalf.heading
                </b></span>
                <ul class="govuk-list govuk-list--bullet">
                    <li th:text="#{registerAsALandlord.whoCanAccess.onBehalf.bullet.one}">
                        registerAsALandlord.whoCanAccess.onBehalf.bullet.one
                    </li>
                    <li th:text="#{registerAsALandlord.whoCanAccess.onBehalf.bullet.two}">
                        registerAsALandlord.whoCanAccess.onBehalf.bullet.two
                    </li>
                </ul>
            </section>
            <section>
                <h2 class="govuk-heading-m" th:text="#{registerAsALandlord.access.heading}">
                    registerAsALandlord.access.heading
                </h2>
                <p class="govuk-body" th:text="#{registerAsALandlord.access.paragraph}">
                    registerAsALandlord.access.paragraph
                </p>
                <a th:replace="~{fragments/buttons/startButton :: startButton(${registerAsALandlordInitialStep}, #{forms.buttons.startNow})}"></a>
            </section>
            <section>
                <h2 class="govuk-heading-m" th:text="#{registerAsALandlord.responsibility.heading}">
                    registerAsALandlord.responsibility.heading
                </h2>
                <p class="govuk-body">
                    <span th:text="#{registerAsALandlord.responsibility.paragraph.one.beforeLink}">
                        registerAsALandlord.responsibility.paragraph.one.beforeLink
                    </span>
                    <a class="govuk-link" th:text="#{registerAsALandlord.responsibility.paragraph.one.link}" href=#>
                        registerAsALandlord.responsibility.paragraph.one.link
                    </a>
                    <span th:text="#{registerAsALandlord.responsibility.paragraph.one.afterLink}">
                        registerAsALandlord.responsibility.paragraph.one.afterLink
                    </span>
                </p>
                <p class="govuk-body">
                    <span th:text="#{registerAsALandlord.responsibility.paragraph.two.beforeLink}">
                        registerAsALandlord.responsibility.paragraph.two.beforeLink
                    </span>
                    <a class="govuk-link" th:text="#{registerAsALandlord.responsibility.paragraph.two.link}" href=#>
                        registerAsALandlord.responsibility.paragraph.two.link
                    </a><span th:text="#{registerAsALandlord.responsibility.paragraph.two.afterLink}">
                        registerAsALandlord.responsibility.paragraph.two.afterLink
                    </span>
                </p>
                <p class="govuk-body" th:text="#{registerAsALandlord.responsibility.paragraph.three}">
                    registerAsALandlord.responsibility.paragraph.three
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li th:text="#{registerAsALandlord.responsibility.paragraph.three.bullet.one}">
                        registerAsALandlord.responsibility.paragraph.three.bullet.one
                    </li>
                    <li th:text="#{registerAsALandlord.responsibility.paragraph.three.bullet.two}">
                        registerAsALandlord.responsibility.paragraph.three.bullet.two
                    </li>
                    <li th:text="#{registerAsALandlord.responsibility.paragraph.three.bullet.three}">
                        registerAsALandlord.responsibility.paragraph.three.bullet.three
                    </li>
                </ul>
                <p class="govuk-body" th:text="#{registerAsALandlord.responsibility.paragraph.four}">
                    registerAsALandlord.responsibility.paragraph.four
                </p>
                <p class="govuk-body" th:text="#{registerAsALandlord.responsibility.paragraph.five}">
                    registerAsALandlord.responsibility.paragraph.five
                </p>
            </section>
            <section>
                <h2 class="govuk-heading-m" th:text="#{registerAsALandlord.how.heading}">
                    registerAsALandlord.how.heading
                </h2>
                <p class="govuk-body" th:text="#{registerAsALandlord.how.paragraph}">
                    registerAsALandlord.how.paragraph
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li th:text="#{registerAsALandlord.how.bullet.one}">registerAsALandlord.how.bullet.one</li>
                    <li th:text="#{registerAsALandlord.how.bullet.two}">registerAsALandlord.how.bullet.two</li>
                    <li th:text="#{registerAsALandlord.how.bullet.three}">registerAsALandlord.how.bullet.three</li>
                </ul>
            </section>
            <section>
                <h2 class="govuk-heading-m" th:text="#{registerAsALandlord.byPhone.heading}">
                    registerAsALandlord.byPhone.heading
                </h2>
                <p class="govuk-body" th:text="#{registerAsALandlord.byPhone.paragraph.one}">
                    registerAsALandlord.byPhone.paragraph.one
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li th:text="#{registerAsALandlord.byPhone.paragraph.one.bullet.one}">
                        registerAsALandlord.byPhone.paragraph.one.bullet.one
                    </li>
                    <li th:text="#{registerAsALandlord.byPhone.paragraph.one.bullet.two}">
                        registerAsALandlord.byPhone.paragraph.one.bullet.two
                    </li>
                </ul>
                <p class="govuk-body" th:text="#{registerAsALandlord.byPhone.paragraph.two}">
                    registerAsALandlord.byPhone.paragraph.two
                </p>
            </section>
            <section>
                <h2 class="govuk-heading-m" th:text="#{registerAsALandlord.byEmail.heading}">
                    registerAsALandlord.byEmail.heading
                </h2>
                <p class="govuk-body">
                    <span th:text="#{registerAsALandlord.byEmail.paragraph.one.beforeLink}">
                        registerAsALandlord.byEmail.paragraph.one.beforeLink
                    </span>
                    <a class="govuk-link" th:text="#{registerAsALandlord.byEmail.paragraph.one.link}" href=#>
                        registerAsALandlord.byEmail.paragraph.one.link
                    </a><span th:text="#{registerAsALandlord.byEmail.paragraph.one.afterLink}">
                        registerAsALandlord.byEmail.paragraph.one.afterLink
                    </span>
                </p>
                <p class="govuk-body">
                    <span th:text="#{registerAsALandlord.byEmail.paragraph.two.beforeLink}">
                        registerAsALandlord.byEmail.paragraph.two.beforeLink
                    </span>
                    <a class="govuk-link" th:text="#{registerAsALandlord.byEmail.paragraph.two.link}" href=#>
                        registerAsALandlord.byEmail.paragraph.two.link
                    </a><span th:text="#{registerAsALandlord.byEmail.paragraph.two.afterLink}">
                        registerAsALandlord.byEmail.paragraph.two.afterLink
                    </span>
                </p>
            </section>
        </div>
    </div>
</main>
</html>