<!DOCTYPE html>
<html>
<body th:replace="~{fragments/layout :: layout(#{registerProperty.title}, ~{::body/content()}, false)}">
<main class="govuk-main-wrapper" id="main-content">
    <th:block id="page-contents"
              th:replace="~{fragments/layouts/twoThirdsLayout :: twoThirdsLayout(~{::#page-contents/content()})}">
        <header id="header">
            <h1 class="govuk-heading-l" th:text="#{registerProperty.taskList.heading}">
                registerProperty.taskList.heading
            </h1>
            <p class="govuk-body" th:text="#{registerProperty.taskList.subtitle}">registerProperty.taskList.subtitle</p>
        </header>
        <section>
            <ul class="govuk-task-list">
                <th:block th:each="task: ${registerTasks}">
                    <li th:replace="~{fragments/taskList/taskListItem :: taskListItem(${task})}"></li>
                </th:block>
            </ul>
        </section>
    </th:block>
</main>
</body>
</html>

