<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(#{landlordSearch.title}, ~{::main}, false)}">
<main class="govuk-main-wrapper" id="main-content">
    <header>
        <h1 class="govuk-heading-l" th:text="#{landlordSearch.heading}">landlordSearch.heading</h1>
        <div class="govuk-hint" th:text="#{landlordSearch.hint}">landlordSearch.hint</div>
    </header>
    <section>
        <th:block th:replace="~{fragments/searchBar :: searchBar(
            #{landlordSearch.searchBar.label}, #{landlordSearch.searchBar.hint}, ${searchWrapperModel})}">
        </th:block>
        <h2 class="govuk-heading-m" th:text="#{landlordSearch.table.heading}">landlordSearch.table.heading</h2>
        <table th:if="${searchResults != null}" th:replace="~{fragments/tables/table :: table(
            ${ {'landlordSearch.table.heading.landlord','landlordSearch.table.heading.address','landlordSearch.table.heading.info'} },
            ~{::tbody}
        )}">
            <tbody class="govuk-table__body">
            <tr class="govuk_table__row" th:each="landlord: ${searchResults}">
                <td class="govuk-table__cell">
                    <a class="govuk-link" th:href="@{''}" th:text="${landlord.name}"></a>
                    <br>
                    <span th:remove="tag" th:text="${landlord.registrationNumber}"></span>
                </td>
                <td class="govuk-table__cell" th:text="${landlord.contactAddress}"></td>
                <td class="govuk-table__cell">
                    <span th:remove="tag" th:text="${landlord.phoneNumber}"></span>
                    <br>
                    <span th:remove="tag" th:text="${landlord.email}"></span>
                </td>
            </tr>
            </tbody>
        </table>
        <details id="details-content"
                 th:replace="~{fragments/details :: details(#{landlordSearch.details.heading},~{::#details-content/content()})}">
            <div class="govuk-details__text" th:text="#{landlordSearch.details.body}">landlordSearch.details.body</div>
        </details>
    </section>
</main>
</html>