<!DOCTYPE html>
<html>
<body th:replace="~{fragments/layout :: layout(#{landlordSearch.title}, ~{::body/content()}, false)}">
<a th:replace="~{fragments/forms/backLink :: backLink(${backURL})}">backLink</a>
<main class="govuk-main-wrapper" id="main-content">

    <header>
        <h1 class="govuk-heading-l" th:text="#{landlordSearch.heading}">landlordSearch.heading</h1>
        <div class="govuk-hint" th:text="#{landlordSearch.hint}">landlordSearch.hint</div>
    </header>

    <section>

        <th:block th:replace="~{fragments/searchBar :: searchBar(
            #{landlordSearch.searchBar.label}, #{landlordSearch.searchBar.hint}, ${searchRequest})}">
        </th:block>

        <th:block th:if="${searchResults != null}">
            <div id="filtered-content"
                 th:replace="~{fragments/filterPanel :: filterPanel(${searchRequest}, ${filterPanelViewModel}, ~{::#filtered-content/content()})}">

                <nav th:replace="~{fragments/pagination/pagination :: pagination(${paginationViewModel})}"></nav>

                <div id="scrollable-content"
                     th:replace="~{fragments/layouts/scrollablePane :: scrollablePane(~{::#scrollable-content/content()})}">

                    <table th:replace="~{fragments/tables/table :: table(
                            ${ {'landlordSearch.table.heading.landlord','landlordSearch.table.heading.address','landlordSearch.table.heading.info', 'landlordSearch.table.heading.listedProperties'} },
                            ~{::tbody},
                            #{landlordSearch.table.heading}
                        )}">
                        <tbody class="govuk-table__body">
                        <tr class="govuk_table__row" th:each="landlord: ${searchResults}">
                            <td class="govuk-table__cell govuk-!-width-one-quarter">
                                <a class="govuk-link" th:href="@{${landlord.recordLink}}"
                                   th:text="${landlord.name}"></a>
                                <br>
                                <span th:remove="tag" th:text="${landlord.registrationNumber}"></span>
                            </td>
                            <td class="govuk-table__cell govuk-!-width-one-quarter"
                                th:text="${landlord.contactAddress}"></td>
                            <td class="govuk-table__cell govuk-!-width-one-quarter">
                                <span th:remove="tag" th:text="${landlord.phoneNumber}"></span>
                                <br>
                                <span th:remove="tag" th:text="${landlord.email}"></span>
                            </td>
                            <td class="govuk-table__cell govuk-!-width-one-quarter"
                                th:text="${landlord.listedPropertyCount}"></td>
                        </tr>
                        </tbody>
                    </table>

                    <div th:if="${searchResults.size() == 0}"
                         class="govuk-!-text-align-centre govuk-!-margin-bottom-6" id="no-results">
                        <h1 class="govuk-heading-l" th:text="#{landlordSearch.error.heading}">
                            landlordSearch.error.heading
                        </h1>
                        <div class="govuk-hint">
                            <span th:remove="tag" th:text="#{landlordSearch.error.hint.beforeLink}">landlordSearch.error.hint.beforeLink</span>
                            <a class="govuk-link" th:href="@{${propertySearchURL}}"
                               th:text="#{landlordSearch.error.hint.link}">landlordSearch.error.hint.link
                            </a>
                        </div>
                    </div>

                </div>

                <nav th:replace="~{fragments/pagination/pagination :: pagination(${paginationViewModel})}"></nav>

            </div>
        </th:block>

        <details id="details-content"
                 th:replace="~{fragments/details :: details(#{landlordSearch.details.heading},~{::#details-content/content()})}">
            <div class="govuk-details__text" th:text="#{landlordSearch.details.body}">landlordSearch.details.body</div>
        </details>

    </section>

</main>
</body>
</html>