<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(${title}, ${serviceName}, ~{::main})}">
<main class="govuk-main-wrapper" id="main-content">
    <h1 class="govuk-heading-xl">Send a test email using notify</h1>
    <form class="form" method="post" th:action="@{/send-test-email}">
        <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l" for="email-address">
                    Choose a recipient
                </label>
            </h1>
            <input class="govuk-input" id="email-address" name="emailAddress" type="text">
        </div>
        <div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Submit
            </button>
        </div>
    </form>
</main>
</html>