<!--/*@thymesVar id="taskListViewModel" type="uk.gov.communities.prsdb.webapp.models.viewModels.taskModels.TaskListViewModel"*/-->
<!DOCTYPE html>
<html>
    <body th:replace="~{fragments/layout :: layout(#{${taskListViewModel.title}}, ~{::body/content()}, false)}">
        <main class="govuk-main-wrapper" id="main-content">
            <th:block id="page-contents" th:replace="~{fragments/layouts/twoThirdsLayout :: twoThirdsLayout(~{::#page-contents/content()})}">
                <header id="header">
                    <h1 class="govuk-heading-l" th:text="#{${taskListViewModel.pageHeading}}">
                        registerProperty.taskList.heading
                    </h1>
                    <th:block th:each="subtitle: ${taskListViewModel.subtitles}">
                        <p class="govuk-body" th:text="#{${subtitle}}"></p>
                    </th:block>
                </header>
                <section th:each="section, iteratorStatus: ${taskListViewModel.taskSections}">
                    <div th:replace="~{fragments/taskList/sectionTaskList :: sectionTaskList(${section}, ${iteratorStatus.count}, ${taskListViewModel.numberSections})}"></div>
                </section>
            </th:block>
        </main>
    </body>
</html>