<html>
    <div class="govuk-phase-banner" id="banner" th:fragment="betaBanner" th:if="${hideBetaBanner != true}">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">Beta</strong>
            <span class="govuk-phase-banner__text"
                  th:text="#{betaBanner.beforeLink} + '&nbsp;'">betaBanner.beforeLink</span>
            <a class="govuk-link" th:href="${feedbackBannerUrl}" th:text="#{betaBanner.link}" target="_blank">betaBanner.link</a>
            <span class="govuk-phase-banner__text" th:text="'&nbsp;' + #{betaBanner.afterLink}">betaBanner.afterLink</span>
        </p>
    </div>
</html>