<div th:fragment="notificationBanner(title, content)" th:with="isSuccess=${isSuccess ?: false}, hidden=${hidden ?: false}"
     class="govuk-notification-banner" th:classappend="${isSuccess ? 'govuk-notification-banner--success' : ''}"
     th:attr="role=${isSuccess ? 'alert' : 'region'}, hidden=${hidden}"
     aria-labelledby="govuk-notification-banner-title"
     data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title" th:text="${title}">title</h2>
    </div>
    <div class="govuk-notification-banner__content" th:insert="${content}"></div>
</div>