<th:block th:fragment="resendInvitationSuccessBanner(email)" th:with="isSuccess=true">
    <div id="resend-invitation-success-banner"
         th:replace="~{fragments/banners/notificationBanner ::
        notificationBanner(#{propertyDetails.resendInvitation.successBanner.title}, ~{::#resend-invitation-success-banner/content()})}">
        <h3 class="govuk-notification-banner__heading"
            th:text="#{propertyDetails.resendInvitation.successBanner.heading(${email})}">
            New invitation email sent to email@example.com
        </h3>
        <p class="govuk-body"
           th:text="#{propertyDetails.resendInvitation.successBanner.body}">
            They have 28 days to accept this invitation.
        </p>
    </div>
</th:block>
