<th:block id="main-content" th:replace="~{fragments/layout :: layout('Example Form Page', ~{::#main-content/content()},  ${#fields.hasErrors('${formModel.*}')})}">
    <main class="govuk-main-wrapper">
        <div id="page-content"
             th:replace="~{fragments/layouts/twoThirdsLayout :: twoThirdsLayout(~{::#page-content/content()})}">
            <form th:action="@{''}" novalidate method="post" enctype="multipart/form-data" th:object="${formModel}">
                <div th:replace="~{fragments/forms/errorSummary :: errorSummary()}">Error Summary</div>
                <input type="file" name="uploaded-file">
                <input type="submit" value="Upload">
            </form>
        </div>
    </main>
    <div th:unless="${fileUploadResponse} == null">
        <div th:text="${fileUploadResponse}"></div>
    </div>
</th:block>