<div th:fragment="fieldSet(content, fieldName, fieldSetHeading, fieldSetHint)" class="govuk-form-group"
     th:classappend="${#fields.hasAnyErrors()} ? 'govuk-form-group--error'">
    <fieldset class="govuk-fieldset" role="group"
              th:attrappend="aria-describedby=${#fields.hasAnyErrors() && fieldSetHint != null} ? ${fieldName} + '-hint ' + ${fieldName} + '-error' : ${fieldName} + '-hint'">
        <legend th:if="${fieldSetHeading != null}" class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading" th:text="${fieldSetHeading}">
                Heading for set of form fields
            </h1>
        </legend>
        <div id="field-hint" th:if="${fieldSetHint != null}" th:id="${fieldName}+'-hint'" class="govuk-hint"
             th:text="${fieldSetHint}">
            Hint for the set of form fields
        </div>
        <div th:replace="${content}"></div>
    </fieldset>
</div>