<th:block th:fragment="questionPage(title, formModel, formContent, backUrl, sectionHeaderInfo)">
    <th:block id="main-content"
              th:replace="~{fragments/layout :: layout(${title}, ~{::#main-content/content()}, ${#fields.hasErrors('${formModel.*}')})}">
        <a href="#" th:replace="~{fragments/forms/backLink :: backLink(${backUrl})}">Back
            link</a>
        <main class="govuk-main-wrapper">
            <div id="page-content"
                 th:replace="~{fragments/layouts/twoThirdsLayout :: twoThirdsLayout(~{::#page-content/content()})}">
                <p th:replace="~{fragments/sectionHeader :: sectionHeader(${sectionHeaderInfo})}" ></p>
                <form th:action="@{''}" method="post" novalidate th:object="${formModel}">
                    <div th:replace="~{fragments/forms/errorSummary :: errorSummary()}">Error Summary</div>
                    <th:block th:replace="${formContent}"></th:block>
                </form>
            </div>
        </main>
    </th:block>
</th:block>