<th:block id="radios" th:fragment="radios(label, fieldName, hint, options)" th:replace="~{fragments/forms/inputGroup :: inputGroup(${label}, ${fieldName}, ~{::#radios/content()}, ${hint})}">
    <div class="govuk-radios" data-module="govuk-radios">
        <th:block th:each="option: ${options}">

            <div th:if="${option.isDivider}" class="govuk-radios__divider" th:text="#{${option.labelMsgKey}}"></div>

            <th:block th:if="${!option.isDivider}" th:with="radioItemID=|${fieldName}-${option.valueStr}|,  hintID=|${fieldName}-${option.valueStr}-hint|, conditionalFragmentID=|${fieldName}-${option.valueStr}-conditional|">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input"
                           type="radio"
                           th:field="*{__${fieldName}__}" th:value="${option.value}"
                           th:id="${radioItemID}"
                           th:attr="aria-describedby=${option.hintMsgKey != null} ? ${hintID}, data-aria-controls=${option.conditionalFragment != null} ? ${conditionalFragmentID}">
                    <label class="govuk-label govuk-radios__label" th:for="${radioItemID}" th:text="${option.labelMsgKey != null ? #messages.msg(option.labelMsgKey) : option.value}">option.labelMsgKey</label>
                    <div class="govuk-hint govuk-radios__hint" th:if="${option.hintMsgKey != null}" th:id="${hintID}" th:text="#{${option.hintMsgKey}}">option.hintMsgKey</div>
                </div>
                <div th:if="${option.conditionalFragment}" class="govuk-radios__conditional govuk-radios__conditional--hidden" th:id="${conditionalFragmentID}" th:with="fragmentCall=|fragments/conditional/${option.conditionalFragment}|">
                    <th:block th:replace="~{__${fragmentCall}__ :: ${option.conditionalFragment}}"></th:block>
                </div>
            </th:block>

        </th:block>
    </div>
</th:block>