<th:block id="textArea-content" th:fragment="textArea(label, fieldName, hint)" th:with="ariaLabel=${ariaLabel}"
          th:replace="~{fragments/forms/inputGroup :: inputGroup(${label}, ${fieldName}, ~{::#textArea-content/content()}, ${hint})}">
    <textarea class="govuk-textarea"
              th:classappend='${#fields.hasErrors(fieldName) ? "govuk-textarea--error" : ""}'
              th:field="*{__${fieldName}__}" rows="5"
              th:attrappend="aria-describedby=|${fieldName}-info ${hint != null ? fieldName + '-details-hint ':''}${#fields.hasErrors(fieldName) ? fieldName + '-error' : ''}|,aria-label=${ariaLabel != null ? ariaLabel : null}">
    </textarea>
</th:block>