<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout('Example page', ~{::main}, false)}">
<main class="govuk-main-wrapper" id="main-content">
    <h1 class="govuk-heading-xl" >Search using the example search endpoint</h1>
    <form th:action="@{''}" class="form" id="example-landlord-search" method="post" th:object="${searchWrapper}"
          novalidate>
        <div class="govuk-form-group">
            <div th:replace="~{fragments/forms/basicTextInput :: textInput('Search for a landlord', 'searchTerm', null)}"></div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Submit
            </button>
        </div>
    </form>
    <th:block th:if="${searchResults != null}">
        <div th:text="${searchResults}"></div>
    </th:block>
</main>
</html>