<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(FeatureFlagGroup, ~{::main}, false)}">
<main class="govuk-main-wrapper" id="main-content">
    <h1 class="govuk-heading-l" th:text="${ffTestHeading}">ffTestHeading </h1>
    <p class="govuk-body">
        <span>The feature flag controlling whether this page is available is part of the Feature Flag Group </span>
        <span th:text="${flagGroupName}"> </span>
    </p>
    <p class="govuk-body">A ReleaseDateFlipStrategy has been added to flags in the group.</p>
    <p class="govuk-body">The endpoint will only be available if the group is enabled and the ReleaseDateFlipStrategy allows it</p>
    <h1 class="govuk-heading-m" th:text="${ffSubHeading}">ffSubHeading </h1>
    <p class="govuk-body" th:text="${flagValueInConfig}"></p>
    <p class="govuk-body" th:text="${flagGroupValueInConfig}"></p>
    <p class="govuk-body" th:text="${flagGroupReleaseDateInConfig}"></p>
    <p class="govuk-body" th:text="${featureEnabled}"></p>
</main>
</html>