name: Build and Deploy - Integration
on:
  push:
    branches:
      - main
      - test-prsd-1647-flip-feature-flags

jobs:
  build-and-deploy-integration:
    name: Build and Deploy
    uses: ./.github/workflows/build-and-deploy.yml
    with:
      environment: "integration"
      aws-account-id: "794038239680"
    secrets: inherit
