name: Build and Test
on:
  pull_request:
  merge_group:

jobs:
  test:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: 21
          cache: 'gradle'

      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'

      - run: npm ci

      - run: npm run build

      - name: Run npm tests
        run: npm test

      - name: Generate test OneLogin keys
        run: |
          openssl genrsa -out src/main/resources/private_key.pem 2048
          openssl rsa -in src/main/resources/private_key.pem -pubout -out src/main/resources/public_key.pem

      - name: Run gradle `check` to run linting and tests
        env:
          EMAILNOTIFICATIONS_APIKEY: ${{ secrets.NOTIFY_KEY }}
          EMAILNOTIFICATIONS_USE_PRODUCTION_NOTIFY: ${{ github.base_ref == 'production' || github.merge_group.base_ref == 'refs/head/production' }}
        run: ./gradlew clean check --no-daemon

      - name: Run ktlintFormat
        run: ./gradlew ktlintFormat --no-daemon
