<!--/*@thymesVar id="section" type="uk.gov.communities.prsdb.webapp.models.viewModels.taskModels.TaskSectionViewModel"*/-->
<th:block th:fragment="sectionTaskList(section, sectionNumber, rootTaskId)">
    <h2 class="govuk-heading-m" th:text="|${sectionNumber}.  #{${section.headingKey}}|">sectionNumber + sectionHeading</h2>
    <ul class="govuk-task-list">
        <th:block th:each="task, iteratorStatus: ${section.tasks}" th:with="taskListItemId=${rootTaskId} + '-' + ${sectionNumber} + '-' + ${iteratorStatus.count}">
            <li th:replace="~{fragments/taskList/taskListItem :: taskListItem(${task}, ${taskListItemId})}"></li>
        </th:block>
    </ul>
</th:block>