<!--/*@thymesVar id="task" type="uk.gov.communities.prsdb.webapp.models.viewModels.taskModels.TaskListItemViewModel"*/-->
<li th:fragment="taskListItem(task, id)"  class="govuk-task-list__item" th:classappend="${task.url != null} ? 'govuk-task-list__item--with-link' : ''">
    <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" th:remove="${task.url == null} ? tag : none"
           th:href="${task.url}"
           th:text="#{${task.nameKey}}"
           th:aria-describedby="${id}">
            task.name
        </a>
        <div th:if="${task.hintKey != null}" th:id="${id} + '-hint'" class="govuk-task-list__hint" th:text="#{${task.hintKey}}">
            task.hintKey
        </div>
    </div>
    <div th:replace="~{fragments/taskList/taskListStatus :: taskListStatus(${task.status}, ${id})}"></div>
</li>
