
<li th:fragment="taskListItem(task)"  class="govuk-task-list__item" th:classappend="${task.url != null} ? 'govuk-task-list__item--with-link' : ''">
    <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link" th:classappend="${task.url != null} ? 'govuk-task-list__link' : ''"
           th:href="${task.url}"
           th:text="#{${task.nameKey}}"
           th:aria-describedby="${task.nameKey}">
            task.name
        </a>
    </div>
    <div th:replace="~{fragments/taskList/taskListStatus :: taskListStatus(${task.status}, ${task.nameKey})}"></div>
</li>
